<div> <%= om_button(:icon=>'user-remove') do %>
      <%= link_to 'delete', @contact, :method=> :delete, :remote => true %>
  <% end %>
  <%= om_button(:icon=>'user-edit') do %>
      <%= link_to 'edit', edit_contact_path(@contact), :remote => true %>
  <% end %>

  <dl id="contact_assign" class="drop_down">
    <dt><a href="#" class="corners"><span>Assign this contact</span></a></dt>
    <dd>
      <ul class="corners">
        <div>
          <li>Assign</li>
          <% Contact::Group.without_contact(@contact).each do |g| %>
              <li>
                <%= link_to g.name, assign_contact_contact_group_path(g, :contact_id => @contact.id), :method => :put, :remote => true %>
              </li>
          <% end %>
        </div>
      </ul>
    </dd>
  </dl>
</div>

<h2 class="absolute">
  <%= @contact.first_name %>  <%= @contact.last_name %>
</h2>
<div class="user_image">
  <%= image_tag("profile.jpg", :width =>  '130') %>
</div>
<div class="clear"></div>

Email: <%= @contact.email %><br>

<div id="contact_accordion">

  <% if @contact.groups.any? %>
      <h3><a href="#">Group Assignments</a></h3>

      <div>
        <ul id="assigned_groups">
          <%= render :partial => 'contacts/partials/assigned_groups' %>
        </ul>
      </div>
  <% end %>
    <% if @contact.skills.any? or @contact.interests.any? %>
      <h3><a href="#">Skills and Interests </a></h3>

      <div>
        <% if @contact.skills.any? %>
          <h4>Skills</h4>
            <ul>
              <% @contact.skills.each do |skill| %>
                  <li> <%= skill.name %> </li>
              <% end %>
            </ul>
        <% end %>
        <% if @contact.interests.any? %>
           <h4>Interests</h4> 
            <ul>
              <% @contact.interests.each do |interest| %>
                  <li> <%= interest.name %> </li>
              <% end %>
            </ul>
        <% end %>
      </div>
  <% end %>
  <% if @contact.addresses.any? then
         @contact.addresses.each do |address| %>
          <h3><a href="#"> <%= address.city.capitalize %></a></h3>

          <div>
            City:
            <%= address.city.capitalize %>
            <br>
            Street:
            <%= address.street %>
            <br>
            Postal Code:
            <%= address.zip_code %>
          </div>
      <% end %>
  <% end %>
  <% @contact.phone_numbers.each do |phone| %>
      <h3><a href="#">Phone Number <%= phone.number_type %></a></h3>

      <div>
        Number (<%= phone.number_type %>):
        <%= phone.number %>
      </div>
  <% end %>
</div>
<div>


</div>
<%= javascript_tag do %>
    $("#contact_accordion").accordion();
<% end %>