<div id="contact_mgm">
  <%= link_to 'delete', @contact, :method=> :delete, :remote => true %>
  <span class="icon icon_edit"></span><%= link_to 'edit', edit_contact_path(@contact), :remote => true %>
  <dl id="contact_assign" class="drop_down">
    <dt><a href="#" class="corners"><span>Assign this contact</span></a></dt>
    <dd>
      <ul class="corners">
        <div>
          <li>Assign</li>

          <% Contact::Group.without_contact(@contact).each do |g| %>
              <li>
                <%= link_to g.name, assign_contact_contact_group_path(g, :contact_id => @contact.id), :method => :put, :remote => true %>
              </li>
          <% end %>
          <li>Remove</li>
          <% Contact::Group.with_contact(@contact).each do |g| %>
              <li>
                <%= link_to g.name, remove_contact_contact_group_path(g, :contact_id => @contact.id), :method => :put, :remote => true %>
              </li>
          <% end %>
        </div>
      </ul>
    </dd>
  </dl>

</div>
<table>
  <tr>
    <td>
      <table>
        <tr>

<td class="label">Groups:</td>
<td class="bold">

  <span id="contact_ag">

          <%= render :partial => 'contacts/partials/assigned_groups' %>
  </span>
</td>
      
        </tr>
        <tr>
          <td class="label">
            Email:
          </td>
          <td class="bold">
            <%= @contact.email %>
          </td>
        </tr>
        <% @contact.addresses.each do |address| %>
            <tr>
              <td class="label">
                City:
              </td>
              <td class="bold">
                <%= address.city.capitalize %>
              </td>
            </tr>
            <tr>
             <td class="label">
                Street:
              </td>
              <td class="bold">
                <%= address.street %></td>
            </tr>
            <tr>
             <td class="label">
                Postal Code:
              </td>
           <td class="bold">
                <%= address.zip_code %>
              </td>

            </tr>

        <% end %>

        <% @contact.phone_numbers.each do |phone| %>

            <tr>
             <td class="label">
                Number (<%= phone.number_type %>):
              </td>
              <td class="bold">
                <%= phone.number %>
              </td>
            </tr>

        <% end %>


      </table>

    </td>
    <td class="top">
      <div class="user_image">
      <%= image_tag("profile.jpg", :width =>  '130') %>
    </div>
    </td>
  </tr>
</table>




