
  <%= om_button(:icon=>'user-remove') do %>
      <%= link_to 'delete', @contact, :method=> :delete, :remote => true %>
  <% end %>
  <%= om_button(:icon=>'user-edit') do %>
      <%= link_to 'edit', edit_contact_path(@contact), :remote => true %>
  <% end %>
  <dl id="contact_assign" class="drop_down">
    <dt><a href="#" class="corners"><span>Assign this contact</span></a></dt>
    <dd>
      <ul class="corners">
        <div>
          <li>Assign</li>

          <% Contact::Group.without_contact(@contact).each do |g| %>
              <li>
                <%= link_to g.name, assign_contact_contact_group_path(g, :contact_id => @contact.id), :method => :put, :remote => true %>
              </li>
          <% end %>
          <li>Remove</li>
          <% Contact::Group.with_contact(@contact).each do |g| %>
              <li>
                <%= link_to g.name, remove_contact_contact_group_path(g, :contact_id => @contact.id), :method => :put, :remote => true %>
              </li>
          <% end %>
        </div>
      </ul>
    </dd>
  </dl>





<div class="user_image">
  <%= image_tag("profile.jpg", :width =>  '130') %>
</div>
<div class="clear"></div>


Groups:


<span id="contact_ag">

          <%= render :partial => 'contacts/partials/assigned_groups' %>
  </span>
<br>
First Name:<span><%= @contact.first_name %> </span> <br>

Last Name: <%= @contact.last_name %><br>

Email: <%= @contact.email %><br>
<br><br><br>

<div id="contact_accordion">
  <% @contact.addresses.each do |address| %>
      <h3><a href="#"> <%= address.city.capitalize %></a></h3>

      <div>

        City:

        <%= address.city.capitalize %>
        <br>

        Street:

        <%= address.street %>
        <br>
        Postal Code:


        <%= address.zip_code %>

      </div>


  <% end %>


  <% @contact.phone_numbers.each do |phone| %>
      <h3><a href="#">Phone Number </a></h3>

      <div>
        Number (<%= phone.number_type %>):
        <%= phone.number %>

   

      </div>


  <% end %>


</div>