<div> <%= om_button(:icon=>'user-remove') do %>
      <%= link_to 'delete', @contact, :method=> :delete, :remote => true %>
  <% end %>
  <%= om_button(:icon=>'user-edit') do %>
      <%= link_to 'edit', edit_contact_path(@contact), :remote => true %>
  <% end %>
</div>

<h2 class="absolute">
  <%= @contact.first_name %>  <%= @contact.last_name %>

</h2>
<div class="user_image">
  <% if @contact.photo %>
      <% photo = @contact.photo.upload
         size = Paperclip::Geometry.from_file(photo.to_file(:original)) %>
      <%= image_tag(photo.url, (size.width > size.height ? :width : :height) => '130') %>
  <% else %>
      <%= image_tag("profile.jpg", :width => '130') %>
  <% end %>

  <%#= image_tag( @contact.photo.upload.url  , :width =>  '130', :height => '130') %>
</div>
<div class="clear"></div>

Email: <%= @contact.email %><br>

<div id="contact_accordion">
  <% if @records.any? %>
      <h3><a href="#">Volunteering history</a></h3>

      <div>
        <table class="width-100">
          <thead>
          <tr>
            <th>Position</th>
            <th>Date</th>
            <th>Status</th>

          </tr>
          </thead>

          <% @records.each do |record| %>
              <tr class="<%= cycle('odd', 'even') %>">
                <td>

                  <%= truncate(record.position.name, :length => 20) %>
                </td>
                <td><%= om_button(:plain => true, :icon => 'mail-sent') do %>
                      <span>  <%= record.created_at.strftime("%m/%d/%Y") %></span>
                  <% end %>
                </td>
                <td><%= om_button(:plain => true, :icon => 'folder-open') do %>
                      <%= record.status %>
                  <% end %>
                </td>
              </tr>
          <% end %>
        </table>
        <%= link_to 'See entire history', nil %>
      </div>
  <% end %>

  <h3><a href="#">References</a></h3>

  <div>
    <span data-tooltip="Upload your document">
      <span class="om-icon-only om-blue-icon ui-icon-document"></span>

      <%= link_to "Upload", upload_contact_path(@contact), :remote => true %>
</span>

    <%= render :partial => "/contacts/uploads/upload_records" %>


  </div>


  <h3><a href="#">Group Assignments</a></h3>

  <div>
    <ul class="assigned-groups">
      <%= render :partial => 'contacts/partials/assigned_groups' %>
    </ul>
    <a href="#" id="assign-trigger">
          <span data-tooltip="Assign this contact to groups">
          <span class="om-icon-only om-blue-icon ui-icon-plus"></span>
          Assign to desired groups
              </span>
    </a>

  </div>

  <% if @contact.skills.any? or @contact.interests.any? %>
      <h3><a href="#">Skills and Interests </a></h3>

      <div>
        <%= render :partial => 'contacts/partials/skills_and_interests' %>

      </div>
  <% end %>
  <% if @contact.addresses.any? %>
      <h3><a href="#"> Addresses</a></h3>

      <div>
        <% @contact.addresses.each do |address| %>
            <% if address.city %>
                City:
                <%= address.city.capitalize %>
                <br>
            <% end %>
            <% if address.street? %>
                Street:
                <%= address.street %>
                <br>
            <% end %>
            <% if address.zip_code? %>
                Postal Code:
                <%= address.zip_code %>
                <br>
                <br>
            <% end %>
        <% end %>
      </div>
  <% end %>
  <% if @contact.phone_numbers.any? %>
      <h3><a href="#">Phone Numbers</a></h3>

      <div>
        <% @contact.phone_numbers.each do |phone| %>

            Number (<%= phone.number_type %>):
            <%= phone.number %>
            <br>
            <br>

        <% end %>
      </div>
  <% end %>
</div>
<div>


</div>
<div id="contact-assignment">
  <table class="width-100">
    <tr>
      <th class="text-left width-50">
        Available Groups
      </th>
      <th class="text-left width-50">
        Currently Assigned to
      </th>
    </tr>
    <tr>
      <td>
        <ul class="group-list">
          <% Contact::Group.without_contact(@contact).each do |g| %>
              <li>
                <span data-tooltip="Add  <%= "#{@contact.first_name} #{@contact.last_name} to: #{g.name} by clicking. The assignment gets applied right away".html_safe %>">
                <%= link_to %Q{<span class="om-icon-only om-blue-icon ui-icon-plus"></span> #{g.name.truncate(40)} }.html_safe, assign_contact_contact_group_path(g, :contact_id => @contact.id), :method => :put, :remote => true %>
              </span>
              </li>
          <% end %>
        </ul>
      </td>
      <td>
        <ul class="assigned-groups group-list">
          <%= render :partial => 'contacts/partials/assigned_groups' %>
        </ul>
      </td>
    </tr>
  </table>
</div>
