<% require_javascript 'thirdParty/jquery.validate.js','thirdParty/jquery.tableFilter.js' ,'contacts.js', 'nested' %>
<% require_stylesheet 'omega_contacts.css' %>
<img src="/images/icons/symbols/user.png" alt="" class="img_module">
<div id="contact_manager">
	<div id="contact_list">
		<table id="contacts">
			<thead>
			<tr>
				<th width="100%">Contacts</th>
				<th><div id="contact_filter_wrapper">
					<input id="contact_filter" value=""/>
					<div id="filter_ctrl">

						<div class="magnifier"></div>
						<div id="clear_filter"></div>
					</div>
				</div>
					</th>
			</tr>
			</thead>
			<tbody>
			<% Contact.all.each do |contact| %>
				<tr class="<%= cycle("even", "odd") %>">
					<td colspan="2">
					<div class="contact_entry"><%= link_to "#{contact.first_name} #{contact.last_name}", contact, :remote=> true %></div>	

<div class="posActions go">
							<div class="toolTip">
								<div>
									<%= link_to 'Edit', edit_contact_path(contact) %> &nbsp;
									<%= link_to 'Destroy', :method => "delete" %>
								</div>
								<div class="toolTipArrow"></div>
							</div>
						</div>
										
					</td>


				</tr>
			<% end %>
			</tbody>
		</table>
		<span class="btn_action"> <span class="icon-add"><%= link_to 'New Contact', new_contact_path, :remote=> true %> </span> </span>
	</div>

	<%= yield %>
</div>
<div id="ajax_loading_wrapper">
	<div id="ajax_loading_img"></div>

</div>