<!-- om_button is app-spec -->

  <p class="explanation">
    <% unless session[:my_services_switch]=="on" %>
      No service is being offered<%= " in "+@super_service.name if @super_service %> at the moment based on the filter settings.
      <% if is_admin? %>
        <br/><br/>
        <%= om_button(:contact => true, :icon => 'clock') do %>
          <%=  link_to 'Create a New Service'+(@super_service ? ' in '+@super_service.name : ''), tenant_new_service_url %>
        <% end %>
      <% end %>
    <% else %>
      You have not registered any service<%= " in "+@super_service.name if @super_service %> at the moment based on the filter settings.
      <br/><br/>
      <%= om_button(:contact => true, :icon => 'clock') do %>
        <%= link_to_function 'View Services'+(@super_service ? ' in '+@super_service.name : ''), "switch_off_my_services("+@service_id.to_s+")" %>
      <% end %>
    <% end %>
  </p>
