<% require_stylesheet 'omega_users', 'settings', 'omega_contacts' %>
<%# with_permission(Contact::PERM_ADMIN) do %>

	<div class="content circle-corners-bottom-left">
	<div class="heading-main">
		<h1 class="page-content">
			Customize Volunteer Data
		</h1>
	</div>
	
	
		<p>
			Add a new data field to the applications that volunteers fill out when they apply to a new volunteering position.
		</p>
	
			<%= form_for @new_field do |n| %>
				<%= render 'new_field', :n => n %>
				<div id='contact_submit'>
					<%= n.submit %>
				</div>
			<% end %>
	
	<h3 class="content-heading"> Existing Custom Fields </h3>
		<%= '<p style="margin-left:60px"> No custom fields added yet. </p>'.html_safe if @fields.empty? %>
		<div id='custom_fields'>
			<% @fields.each do |f| %>
				<p>
					<strong>Field: </strong><%= f.name %><br />
					<strong>Description: </strong><%= f.description %><br />
					<strong>Data Type: </strong><%= f.data_type_to_human %><br />
					<% positions = f.volunteering_positions.count == Volunteering::Position.all.count ? "All Positions" : f.volunteering_positions.collect { |vp| vp.name }.join(', ') %>
					<strong>Positions: </strong><%= positions %><br />
				</p>
			<% end %>
		</div>
	</div>

<%# end %>
