<ul id="wizard-intro">
  <li class="relative<%= ' active' if params[:step] == '1' %>">
    <div class="step-nail step-1<%= '-active' if params[:step] == '1' %>"></div>
    <h3>Purpose of the wizard</h3>
    This wizard allows easy import of contact records from other applications into Omega.
    <br><span class="read-more"> read more ...</span>
    <div class="wizard-explanation absolute tipsy tipsy-inner">
      For example,
      if your organization has contacts exported from a data-source in csv format, you can 'import' <br/> these contacts
      for use in omega
      with the help of this wizard.
    </div>
  </li>
  <li class="relative<%= ' active' if params[:step] == '2' %>">
    <div class="step-nail step-2<%= '-active' if params[:step] == '2' %>"></div>
    <h3>Import</h3>
    This step is where the actual import process starts.
    <br><span class="read-more"> read more ...</span>
    <div class="wizard-explanation absolute tipsy tipsy-inner">
       First choose a file you wish to import your contacts from.
    The supported format for the import data is CSV 'comma separated values' once you choose the file, click 'continue'
    <br/>
    to upload the file and proceed to the next step. If the upload is unsuccessful, you would be redirected to step 2.
        </div>
  </li>
  <li class="relative<%= ' active' if params[:step] == '3' %>">
    <div class="step-nail step-3<%= '-active' if params[:step] == '3' %>"></div>
    <h3>Map</h3>
    The Mapping Interface allows you to map the fields from your exported data source
    <br><span class="read-more"> read more ...</span>
    <div class="wizard-explanation absolute tipsy tipsy-inner">
    The wizard intelligently maps the corresponding fields, if the mapping is incorrect, you can choose the correct
    field <br/>
    to be mapped to from the drop down list. The fields that the wizard was not able to map are marked for deletion by
    default.<br/>
    Select the fields you don't wish to import and click 'discard'. Click 'continue' to proceed to the next step.
        </div>
  </li>
  <li class="relative<%= ' active' if params[:step] == '4' %>">
    <div class="step-nail step-4<%= '-active' if params[:step] == '4' %>"></div>
    <h3>Preview</h3>
    This step gives you a preview of the mapping done in the previous step.
    <br><span class="read-more"> read more ...</span>
    <div class="wizard-explanation absolute tipsy tipsy-inner">
   Click 'back' to make changes to the mapping or to discard fields you don't wish to import. Once you finish, click 'import' to import the contacts <br/>
    into omega.
        </div>
  </li>
</ul>
<div class="clear"></div>