<div class="dialog_content">
  <div class="foreword">
    Allocating <span class="sub_item_name_inline asset" ><%= @asset.name %></span>
    to <span class="sub_item_name_inline service" ><%= @leaf_service.name %></span>
    has some time overlaps with other services:
  </div>

  <ul>
    <% @new_conflicting_leaf_services.each do |cls| %>
      <% conflicting_periods = @leaf_service_conflicts[[@leaf_service,cls].to_set] %>
        <li>
          Sharing with <span class="sub_item_name_inline service" ><%= cls.name %></span>
          from <span class="date_time"><%= Time.at(conflicting_periods[0][0]) %></span>
          to <span class="date_time"><%= Time.at(conflicting_periods[0][1]) %></span>
        </li>
    <% end %>
  </ul>
</div>

