<div id="asset_allocation_operation_links">
  <%= render "index_operation_links" %>
</div>

<div id="asset_allocation_info" class="round shadow">
  <%= render "asset_allocation_info" %>
</div>

<div id="assets_list_area">
  <%= render "assets_list_area" %>
</div>

<div id="assets_exchange" class="exchange">
  <img alt="" src="images/double_arrow.jpg" />
</div>

<div id="working_list_area">
  <%= render "working_list_area" %>
</div>

<div id="leaf_services_exchange" class="exchange">
  <img alt="" src="images/double_arrow.jpg" />
</div>

<div id="leaf_services_list_area">
  <%= render "leaf_services_list_area" %>
</div>

<br clear="all"/>

<script type="text/javascript">
  <% if @asset_id %>
    $(".asset_<%= @asset_id.to_s %>").click()
  <% elsif @leaf_service_id %>
    $(".leaf_service_<%= @leaf_service_id.to_s %>").click()
  <% end %>
</script>


