<div>
  <%= om_button(:contact => true, :icon=>'apply') do %>
    <%= link_to_function "Hide Message Box", "hide_message_box()", :id=>"hide_message_box_link" %>
    <%= link_to_function "Show Message Box", "show_message_box()", :id=>"show_message_box_link" %>
  <% end %>
</div>

<div id="asset_allocation_info" class="explanation round shadow">
  <div id="instruction">
    <p>
        Double click an asset from the left column to view services currently using this asset.<br/>Or
        double click an service from the right column to view assets currently assigned to this service.<br/><br/>
        Then drag and drop items between the rest two columns to re-allocate.
    </p>
  </div>

  <div id="view"></div>
</div>

<div id="assets_list_area">
  <%= render "assets_list_area" %>
</div>

<div id="assets_exchange" class="exchange">
  <img alt="" src="images/double_arrow.jpg" />
</div>

<div id="working_list_area">
  <%= render "working_list_area" %>
</div>

<div id="leaf_services_exchange" class="exchange">
  <img alt="" src="images/double_arrow.jpg" />
</div>

<div id="leaf_services_list_area">
  <%= render "leaf_services_list_area" %>
</div>

<br clear="all"/>
