<% leaf_service ||= @leaf_service %>

        <li class="leaf_service_<%= leaf_service.id.to_s %>" onclick="$.ajax({ url:'<%= show_assets_for_service_asset_allocations_url(:leaf_service_id=>leaf_service.id) %>' })" >
          <span class="item_name"><%= leaf_service.name %></span>
          <span class="item_operation_link">
            <%= link_to om_button(:plain => true, :icon => 'search'){}, show_assets_for_service_asset_allocations_url(:leaf_service_id=>leaf_service.id), :remote=>true, :'data-tooltip'=>"allocated assets" %>
          </span>
        </li>
        <script type="text/javascript">
          $(".leaf_service_<%= leaf_service.id.to_s %>").bind("mouseenter", function (){
            //clearTimeout(timer);
            $("#asset_allocation_info #instruction").hide()
            $("#asset_allocation_info #view").show()
            $("#asset_allocation_info #view").html('<%= escape_javascript(render "leaf_service_view", :leaf_service=>leaf_service) %>')
          })
          $(".leaf_services_list").bind("mouseleave", function (){
            //timer = setTimeout("reset_instruction()",1000)
            reset_instruction()
          })
        </script>
