<% leaf_service_1 ||= @leaf_service %>
<% assets = leaf_service_1.assets %>
<% leaf_service_conflicts ||= @leaf_service_conflicts %>

<div class="item_name service round"><%= leaf_service.name %></div>

<div class="item_section round">
  <div class="item_section_name service round">Assets Assigned:</div>

  <div class="item_section_list service round">
    <% if assets.length==0 %>
      <%= blank_sign("(none)") %>
    <% else %>
      <ul class="level_0">
        <% assets.each do |asset| %>
          <li>
            <span class="sub_item_name asset" onclick="$('.asset_<%= asset.id.to_s %>').click()"><%= asset.name %></span>
            <ul class="level_1">
              <%# leaf_service.time_overlapping_services_with_periods(asset).each do |service, periods| %>
              <% asset.services.reject{|s|s==leaf_service_1}.each do |leaf_service_2| %>
                <% conflicting_periods = leaf_service_conflicts[[leaf_service_1,leaf_service_2].to_set] %>
                <% unless conflicting_periods.nil? %>
                  <li>
                    Sharing with <span class="sub_item_name_inline service" onclick="$('.leaf_service_<%= leaf_service_2.id.to_s %>').click()"><%= leaf_service_2.name %></span>
                    from <span class="date_time"><%= Time.at(conflicting_periods[0][0]) %></span>
                    to <span class="date_time"><%= Time.at(conflicting_periods[0][1]) %></span>
                  </li>
                 <% end %>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
