<% require_stylesheet 'uploadify/omega_uploads' %>
<% require_javascript 'uploadify/swfobject','uploadify/swfobject',  'uploadify/jquery.uploadify.v2.1.0' %>

<%= form_for @upload, :remote => true, :html => {:multipart => true} do |f| %>
    <%= errors_for_form @upload %>


    <%= f.fields_for :uploads do |u| %>

        <div id="upload-wrapper">
          <%= u.label :upload %>
          <%= u.file_field :upload %>
        </div>


        <ul id="upload-file-list">

        </ul>


        <p>
          <%= om_button(:icon=>'save') do %>
              <%= u.submit 'Save' %>
          <% end %>
        </p>

    <% end %>

<% end %>

