<h1 class="page-content corners-top">
  New Message
</h1>
<div class="content corners-bottom">
  <%= form_for @message do |f| %>
      <p>
        <%= f.label :to %>  <%= @message.to.username %>
        <%= f.hidden_field :to_id %>
      </p>

      <p>
        <%= f.label :subject %> <%= f.text_field :subject,:class => 'broad-text' %>
      </p>

      <p>
        <%= f.label :body %> <%= f.text_area :body,:class => 'broad-text', :rows => 14 %>
      </p>
      <%= om_button(:icon => 'mail') do %>
          <%= f.submit :value => 'Send Message' %>
      <% end %>
      <%= om_button(:icon => 'Cancel') do %>
          <%=  link_to 'Cancel', tenant_messages_path %>
      <% end %>

  <% end %>
</div>