<% require_stylesheet 'omega_threads' %>
<%= context_box do %>

<h1 class="page-content corners-top">
  Threads
</h1>

<div class="page-content corners-bottom">
  <ul id="posts-list">
    <% @posts.each do |p| %>
        <%= render :partial => 'post-record', :locals => { :p => p } %>
    <% end %>
  </ul>
  <p>
    <%= om_button(:icon=>'back') do %>
        <%= link_to 'Back to Threads', group_threads_path(@group) %>
    <% end %>
    <%= om_button(:icon=>'mail') do %>
        <%= link_to 'Reply', new_group_thread_post_path(@group), :remote => true %>
    <% end %>


  </p>

  <%= will_paginate @posts %>

  
</div>
<% end %>

<% content_for :sidebar do %>
    <%#= render :partial => "groups/sidebar_group" %>
    <%#= render :partial => "sidebar_groups_threads" %>
<% end %>
