<%= side_bar_box(:"Services Menu") do %>


    <ul>

      <% @services.each do |s| %>
          <li>
            <% if (s.published !=true) and !current_user.is_anonymous? %>
                <h3>  <%= s.service_name %> - <%= s.service_type %> Service </h3>


                <%= om_button(:icon=>'sort-za') do %>
                    <%= link_to "Saved Draft", service_wizard_services_url(:step => 2, :id => s) %>
                <% end %>

                <%= om_button(:icon=>'delete') do %>
                    <%= link_to "Delete", s, :confirm => 'Are You Sure?', :method => :delete %>
                <% end %>


            <% end %>
          </li>
      <% end %>

    </ul>

    <% if !current_user.is_anonymous? %>
        <br>
        <%= om_button(:icon=>'') do %>

            <%= link_to 'Add a New Service', service_wizard_services_url %>
        <% end %>


        <%#= link_to 'Export Services to a File', export_to_csv_services_path%>

    <% end %>

<% end %>