<%= side_bar_box(:"Services Menu") do %>
<ul>
  <li>

    <%= om_button(:icon=>'') do %>
            <%= link_to 'Add a Field', new_service_service_field_url(@service.id) %>
        <% end %>
  </li>

   <li>

    <%= om_button(:icon=>'') do %>
            <%= link_to 'Edit', modify_service_services_url(@service.id) %>
        <% end %>
  </li>

  <li>
    <%= om_button(:icon=>'') do %>
            <%= link_to 'All Services ', services_url %>
        <% end %>
  </li>

</ul>



<% end %>