<%= side_bar_box(:"Services Menu") do %>
<ul>
  <li>

    <%= om_button(:icon=>'') do %>
            <%= link_to 'Add a Registration Detail', new_service_service_field_url(@service.id) %>
        <% end %>
  </li>
  <li>

    <%= om_button(:icon=>'') do %>
            <%= link_to 'Add a Service Detail' %>
        <% end %>
  </li>
  <li>
    <%= om_button(:icon=>'') do %>
            <%= link_to 'All Services ', services_url %>
        <% end %>
  </li>

</ul>



<% end %>