<%= side_bar_box('Form Fields') do %>

    <ul id="ui-elements">

      <li>
        <strong>Add a New Field To </strong><br/>
        <input type="radio" value="service" name="part" checked="true">Service Details<br>
        <input type="radio" value="registration" name="part">Registration Details
      </li>

      <strong>Choose the Field Type </strong> <br/>

      <li class="ui-em">
        <%= om_button(:plain => true, :icon => 'ui-textarea') do %>
            <span class="blue add-ui-em" ui-data="textarea">
            Text Area
            </span>
        <% end %>
      </li>

      <li class="ui-em">
        <%= om_button(:plain => true, :icon => 'ui-textfield') do %>
            <span class="blue add-ui-em" ui-data="input">
            Input Field
            </span>
        <% end %>
      </li>
      <li class="ui-em">
        <%= om_button(:plain => true, :icon => 'ui-selectbox') do %>
            <span class="blue add-ui-em" ui-data="selectbox">
            Select List
            </span>
        <% end %>
      </li>
      <li class="ui-em">
        <%= om_button(:plain => true, :icon => 'calendar') do %>
            <span class="blue add-ui-em" ui-data="date">
            Date
            </span>
        <% end %>
      </li>
    </ul>
<% end %>