<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<style type="text/css">
  .google-visualization-table-table{width:100%}
</style>

<script>
  $(function() {
    $( "#tabs" ).tabs();
  });
</script>

<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Work Hours Overview</a></li>
    <li><a href="#tabs-2">By User</a></li>
    <li><a href="#tabs-3">By Position</a></li>
  </ul>
  <div id="tabs-1">
    <p>
      <script type='text/javascript'>
          google.load('visualization', '1', {packages:['table']});
          google.setOnLoadCallback(drawOverviewTable);
          function drawOverviewTable() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Name');
            data.addColumn('number', 'Hours');
            data.addRows(<%= @us.size %>);
            
            <% (0..@us.size-1).each do |id| %>
              var id = <%= id %>
              data.setCell(id, 0, '<%= @us[id].name %>');
              data.setCell(id, 1, <%= @us[id].total_hours %>);
            <% end %>

            var table = new google.visualization.Table(document.getElementById('table_div_1'));
            table.draw(data, {showRowNumber: true});
          }
      </script>
      <div id='table_div_1'></div>
    </p>
  </div>
  <div id="tabs-2">
    <p>
      <% options = @us.map{|u|[u.name, @us.index(u)]} %>
      <%= select_tag(:select_users, options_for_select(options), :onchange => "drawPositionTable()") %>
      <script type='text/javascript'>
        var us=[]
        <% @us.each do |u| %>
          us.push(<%= raw u.to_json %>)
        <% end %>
        
          google.load('visualization', '1', {packages:['table']});
          google.setOnLoadCallback(drawPositionTable);
          function drawPositionTable() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Position');
            data.addColumn('number', 'Hours');
            
            var uid = $("#select_users").val();
            var jobs = us[uid].jobs
            data.addRows(jobs.length);

            for(var i=0; i<jobs.length; i++)
            {
              data.setCell(i, 0, jobs[i].position.name);
              data.setCell(i, 1, jobs[i].hour);
            }

            var table = new google.visualization.Table(document.getElementById('table_div_2'));
            table.draw(data, {showRowNumber: true});
          }
      </script>
      <div id='table_div_2'></div>
    </p>
  </div>
  <div id="tabs-3">
    <p>
      <% options = @ps.map{|p|[p.name, @ps.index(p)]} %>
      <%= select_tag(:select_positions, options_for_select(options), :onchange => "drawUserTable()") %>
      <script type='text/javascript'>
        var us=[]
        <% @us.each do |u| %>
          us.push(<%= raw u.to_json %>)
        <% end %>
          
          google.load('visualization', '1', {packages:['table']});
          google.setOnLoadCallback(drawUserTable);
          function drawUserTable() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Name');
            data.addColumn('number', 'Hours');

            var pid = $("#select_positions").val();
            var position_name = $("#select_positions>option[value='"+pid+"']").html()
            var users = []
            for(var i=0;i<us.length;i++)
              for(var j=0;j<us[i].jobs.length;j++)
                if(us[i].jobs[j].position.name==position_name)
                  users.push(us[i])

            data.addRows(users.length);

            var hour;
            for(var i=0; i<users.length; i++)
            {
              data.setCell(i, 0, users[i].name);
              for(var j=0; j<users[i].jobs.length; j++)
                if(users[i].jobs[j].position.name==position_name)
                {
                  hour = users[i].jobs[j].hour
                  break;
                }

              data.setCell(i, 1, hour);
            }

            var table = new google.visualization.Table(document.getElementById('table_div_3'));
            table.draw(data, {showRowNumber: true});
          }
      </script>
      <div id='table_div_3'></div>
    </p>
  </div>
</div>
