<!-- originally copied from volunteering/positions/histroy.html -->
<!-- app-spec:  class names for css; om-button -->

<% sorted_column = @sorted_column || 1 %>
<% sorting_method = @sorting_method || 'desc' %>
<script type="text/javascript">
  $(function() {
    $('#groups_requesters_table').dataTable({
        "bJQueryUI": true,   
        "aaSorting": [[ <%= sorted_column %>, "<%= sorting_method %>" ], [0,'asc']],
        "iDisplayLength": 50
    });

    <% if @group.is_blocked? %>
      $("#block_request_checkbox").attr("checked", "checked")
    <% else %>
      $("#block_request_checkbox").removeAttr("checked")
    <% end %>
  });
</script>

<div class="block_request right">
  <label for="block_request_checkbox" >Block Future Request</label>
  <input id="block_request_checkbox" type="checkbox" onclick="switch_block_groups_requester('<%= group_url(@group) %>')" />
</div>

<table class="full_width clear data_table" id="groups_requesters_table">
  <thead>
    <tr>
      <th id="requester">From</th>
      <th id="request_created_at">Requesting Time</th>
      <th id="request_updated_at">Last Status Updating Time</th>
      <th id="request_status">Status</th>
      <th id="delete_request"></th>
    </tr>
  </thead>
  <tbody>
    <% @groups_requesters.each do |gr| %>
      <%= render 'groups_requesters/index_table_row', :groups_requester=>gr %>
    <% end %>
  </tbody>
</table>

<div class="index_bottom_links">
  <%= render "index_bottom_links" %>
</div> 
