<% require_stylesheet 'omega_form_builder.css' %>
<% require_javascript 'service_wizard'%>
<%= render :layout => 'layouts/services_wizard' do %>
<%- title "Omega Services - Create Service Wizard: Step 2" %>

		<div class="steps">		
		   <%= render :partial => 'services/partials/service_steps' %>
		</div>
   <div id="service_preview_summary" >		
    <%= form_for @service, :html => {:id =>'edit-service' , :action => "service_wizard" } do |f| %>
        <% if @service.icon_file_name != 'missing.png' %>
            <%#= image_tag @service.icon.url(:small), :width =>  '65' %><br/>
        <% else %>
            <%#= image_tag "/images/icons/services/types/default/missing.png", :width =>  '65' %><br/>
        <% end %>

        <fieldset class="services">
          <legend class="services">Service Details</legend>

          <ul id="service-details" class="elements-list">

           <li class="list-item"> <%= f.label "Service type" %>
            <%= @service.type.type_name %> </li>

           <li class="list-item">  <%= f.label :name_for_service, :id =>'service-name' %>
             <%= f.text_field :service_name, :class=>'field-value'%> </li>


           <li class="list-item">  <%= f.label :description, :id => "service-description" %>
             <%= f.text_area :description, :class=>'field-value' %> </li>
              
                   <% @fields.each do |field|%>
					
					<li class="list-item">	
            
       					<p>
        	 				<label><%=field.field_name%></label>  
        	                       <% if field.field_type_class == "date" %>
        						   	 <%= text_field_tag "service","id", :value => field.value.field_value, :class => 'datepickr' %>
        						   	 <%#= text_field_tag "service","value", :value => field.id %>

        						   <%end%>

        	                       <% if field.field_type_class == "selectbox" %>
        	                        <select id="service_value">
                                      <% options = field.value.field_value.split(';') %>
                                        <% options.each do |option| %>
                                              <option><%= option %></option>
                                        <% end %>
                                    </select>
        	                        <%#= text_field_tag "service","id", :value => field.id %>

                                   <%end%>
                                   
                                   <% if field.field_type_class == "textarea" %>

        						   	 <%= text_area_tag "service", field.value.field_value %>
        						   	 <%#= text_field_tag "service","id", :value => field.id %>

        						   <%end%>
        						   
        				</p>    
       
						
        	     	</li>        			
        	     	
            	 
        	 	    <%end%>

            
          
          
        
          
          </ul>
        </fieldset>
        
        <div id="buttons_wizard">
          <%= om_button(:icon=>'back', :small => true) do %>
              <%= link_to 'Back', service_wizard_services_url(:step => 1) %>
          <% end %>
          <%= om_button(:icon=>'next') do %>
              <%= f.submit "Next", :name => "next" %>
          <% end %>
  
           <br/>
          <%#= om_button(:icon=>'cancel') do %>
          <%#= link_to 'Cancel', @service, :confirm => 'Do You Want to Quit?', :method => :delete %>
          <%# end %>
        </div>
         </div>

 		
          <% end %>
  
<% end %>
  
  
<%# content_for :sidebar do %>
    <%#= render :partial => "layouts/sidebar_form_builder_elements" %>
    <%#= render :partial => "layouts/sidebar_form_builder_edit" %>
<%# end %>
