<head>
	<% require_stylesheet 'settings' %>
</head>

<body>

	<div class="heading-main-columns-settings">
	  <h1 class="page-content">
			Settings
	  </h1>
	</div>


 
	<h3 class="content-heading"> Site-Wide Settings </h3>
		</br><p class="image"> Current Logo: </p>
 	 		<div id="settings-logo" style="background:url(<%=image_in_use_url("Logo")%>) no-repeat left" ></div>

		<nav class="link">
			<ul>
				<li>
					<%= (link_to 'Edit Your Logo or Banner', :controller => "images", :action => "edit_logo") if current_user.is_admin? %>
				</li>
			</ul>
		</nav>



	<h3 class="content-heading"> Your Accounts </h3>
		<p>
			<%= "No Accounts Added Yet" if (@settings.twitter.nil? and @settings.facebook_token.nil?) %>
		</p>
		<p>
			<%= "Facebook" unless @settings.twitter.nil? %>
		</p>
		<p>
			<%= "Twitter" unless @settings.facebook_token.nil? %>
		</p>



		<nav class="link">
			<ul>
				<li>
					<% if (Setting.find_by_user_id(current_user.id).nil?) then %>
						<%= button_to 'Edit Your Settings', :controller => "settings", :action => "new" %>
					<% else %>
						<%#= button_to 'Edit Your Settings', :method => "get", :controller => "settings", :action => "edit", :id => @settings.id %>
						<%= link_to 'Edit Your Settings', :controller => "settings", :action => "edit", :id => @settings.id %>
					<% end %>
				</li>
			</ul>
		</nav>

</body>
