<head>
	<% require_stylesheet 'settings' %>
</head>

<body>

	<div class="heading-main-columns-settings">
	  <h1 class="page-content">
			Settings
	  </h1>
	</div>



	<h3 class="settings-form"> Site-Wide Settings </h3>
		</br><p> Current Logo: </p>
			<p>
				<% if (Setting.find_by_user_id(current_user.id).nil?) then %>
					<%= link_to 'Edit Logo', :controller => "settings", :action => "new" %>
				<% else %>
					<%= link_to 'Edit Logo', :controller => "settings", :action => "edit", :id => @settings.id %>
				<% end %>
			</p>

		<div id="settings-logo"></div>



	<h3 class="settings-form"> Your Accounts </h3>
		<p>
			<%= "No Accounts Added Yet" if (@settings.twitter.nil? and @settings.facebook_token.nil?) %>
		</p>
		<p>
			<%= "Facebook" unless @settings.twitter.nil? %>
		</p>
		<p>
			<%= "Twitter" unless @settings.facebook_token.nil? %>
		</p>


	<div class="container" style="margin-left: 42%">
		<nav class="round">
			<ul>
				<li>
				<% if (Setting.find_by_user_id(current_user.id).nil?) then %>
					<%= link_to 'Edit Your Settings', :controller => "settings", :action => "new" %>
				<% else %>
					<%= link_to 'Edit Your Settings', :controller => "settings", :action => "edit", :id => @settings.id %></p>
				<% end %>
				</li>
			</ul>
		</nav>
	</div>

</body>
