<% require_javascript 'omega_messages' %>

<h1 class="page-content corners-top">
Login
</h1>
<div class="page-content corners-bottom">
  <%= form_for @session do |f| %>
      <p>
    <%= f.label :username %><%= f.text_field :username %> <%= link_to 'Lost your username?', lost_username_path %>
      </p>
	<p>
    <%= f.label :password %><%= f.password_field :password %> <%= link_to 'Lost your password?', lost_password_path %>
	</p>
	 <%= om_button(:icon=>'next') do %>
                <%= f.submit %>
            <% end %>

<% end %>
</div>

