<!-- app-spec: om_button -->

<tr id="groups_member_<%= groups_member.id.to_s %>_tr">
  <td>
    <%= om_button(:plain => true, :icon => 'user') do %>
      <%=  link_to groups_member.member.name, contact_path(groups_member.member), :class => 'blue', :'data-tooltip'=>"View Contact" %>
    <% end %>
  </td>
  <td>
    <%= om_button(:plain => true, :icon => 'clock') do %>
      <span><%= groups_member.created_at.strftime("%m/%d/%Y at %I:%M%p") %></span>
    <% end %>
  </td>
  <td>
    <% icon = 'favorite' if groups_member.is_leader? %>
    <% icon = 'group' if groups_member.is_member? %>
    <%= om_button(:plain => true, :icon => icon) do %>
      <%= link_to_function groups_member.position.capitalize,
        "load_dialog_form('#{escape_javascript(render "groups_members/dialog_edit_position_form", :groups_member=>groups_member)}', {width:550})",
        :'data-tooltip'=>"Update Position" %>
    <% end %>
  </td>
  <td>
    <%= link_to_function om_button(:plain => true, :icon => 'delete'){},
        "destroy_group_member('#{escape_javascript(render "groups_members/dialog_destroy_confirm", :group=>groups_member.group, :member=>groups_member.member)}', '#{groups_member_url(groups_member, :type=>:admin)}')",
        :'data-tooltip'=>"Delete this Record" %>
  </td>
</tr>

