<div id="groups-requester-edit-status-dialog-form" class="dialog" title="Update Group Request Status">
  <p>
    <%= form_for groups_requester, :remote=>true do |form| %>
      <div class="field">        
        <%= form.radio_button :status, "accepted" %>
        <%= form.label :status, "Accepted", :value=>"accepted" %>
        
        <%= form.radio_button :status, "rejected" %>
        <%= form.label :status, "Rejected", :value=>"rejected" %>
        
        <%= form.radio_button :status, "pending" %>
        <%= form.label :status, "Pending", :value=>"pending" %>
      </div>
    <% end %>
  </p>
</div>
