<div class="content circle-corners-bottom-left">
    	
		<div class="heading-main">
	
				<h1 class="page-content">
      				<%= @service.service_name%> Service
		    	</h1>
	
		</div>

 <p>    
  
  <span class="style2">Service Details </span> <br/>

  <br/>
  <strong>Service Type:</strong>
           <%= @service.type.type_name %><br/>

           
           <br/>
           <strong>Published: </strong>
           <% if @service.published.to_s == "true" %>

              Yes

           <%else%>

              No

           <%end%><br/>

  </p>

  <% Service::Field.where("field_category = ? and service_id = ?", "Service Details", @service.id).each do |s| %>
      <p>

        <strong><%= s.field_name %>: </strong>
        <%= Service::Field::Value.find_by_field_id(s.id).field_value %>
		
      </p>
  <% end %>
  <br/>
    <p>
    <span class="style2">Registration Form </span> <br/>
   </p>
<%= render 'form' %>
</div>
