<% require_javascript 'thirdParty/jquery.dataTables.min.js', 'omega_threads' %>
<% require_stylesheet 'omega_threads', 'thirdParty/jquery.dataTables.jui.css' %>
<h1 class="page-content corners-top">
  Threads
</h1>

<div class="page-content corners-bottom">


  <table id="posts-list" class="width-100">
    <thead>


    <tr>
      <th>
        Topic
      </th>
      <th>Author</th>
      <th>Replies</th>
      <th>Last Post</th>
    </tr>
    </thead>
    <% @threads.each do |t| %>
        <tr id="thread-<%= t.id %>" class="list-item relative clear">

          <td width="540">
            <%= link_to t.title, group_thread_posts_path(@group, t) %>

            <span class="om-icon-only om-blue-icon ui-icon-search relative right"></span>


            <div class="post-preview">

              <%= t.caption %>
            </div>


          </td>
          <td>

            <span class="cf3a72"> <%= t.author.username %></span>
            <br>
              <span class="date">
              <%= t.created_at.strftime("%b %d %Y, %H:%M") %>
</span>

          </td>
          <td width="70">
            <%= get_replies(t) %>

          </td>
          <td>
            <span class="cf3a72"> <%= last_thread(t).author.username %></span>
            <br>
              <span class="date">
              <%= last_thread(t).created_at.strftime("%b %d %Y, %H:%M") %>
                  </span>
          </td>


        </tr>
    <% end %>
  </table>
  <%= om_button(:icon=>'clipboard-plus') do %>
      <%= link_to 'Post a new topic', new_group_thread_path(@thread), :remote=> true %>
  <% end %>
  <%= will_paginate @threads %>
</div>

