<% if  @contact.uploads.any? %>
            <table class="width-100">
          <thead>
          <tr>
            <th>Name</th>
            <th>From</th>
            <th>Date</th>
            <th>Delete</th>
          </tr>
          </thead>
    <% @contact.uploads.each do |file| %>
        <%
           icon = case file.upload_content_type
                      when /^image/ then
                          'image'
                      when /spread/ then
                          'excel'
                      when /word/ then
                          'word'
                      when /pdf/ then
                          'pdf'
                      when /presentation/ then
                          'pdf'
                      else
                          'blue'


                  end
        %>



          <tr id='<%= "file-#{file.id}" %>'>
            <td>
              <%= om_button(:plain => true, :icon => "doc-#{icon}") do %>
                  <span><%= truncate(file.upload_file_name, :length => 20 ) %></span>
              <% end %>
            </td>
            <td><%= file.uploader.username %></td>
            <td><%= file.updated_at.strftime("%m/%d/%Y at %I:%M%p") %></td>
            <td>
              <span data-tooltip="Delete document">
      <span class="om-icon-only om-blue-icon ui-icon-close"></span>

      <%=  link_to "Delete", upload_url(file), :method =>:delete,:remote => true %>
</span>

            </td>
          </tr>

    <% end %>
    </table>
<% end %>

