<h1 class="page-content corners-top">
  Favorites
</h1>

<div class="page-content corners-bottom">
  <div class="right">
    <%= om_button(:icon=>'sort-az') do %>
        <%= link_to 'sort A-Z', messages_path(:subject => 'asc') %>
    <% end %>
    <%= om_button(:icon=>'sort-za') do %>
        <%= link_to 'sort Z-A', messages_path(:subject => 'desc') %>
    <% end %>
  </div>

  <div class="clear"></div>

  <ul id="favorites_list">
    <% @favorites.each do |favorite| %>
        <li class="item-list clearfix">


          <%= link_to favorite_path(favorite.item) do %>
              <%= truncate( favorite.item.to_s , :length=> 160)  %>
          <% end %>


          <div class="right">
            <%= om_button(:icon=>'delete') do %>
                <%= link_to 'Remove as favorite', favorite_path(favorite.item), :method=> :delete %>
            <% end %>


          </div>


        </li>

    <% end %>
  </ul>


</div>










<% content_for :sidebar do %>
    <%= render :partial => "layouts/sidebar_favorites_menu" %>
<% end %>