<% require_javascript 'tiny_mce/jquery.tinymce' %>

<%= form_for([@page, @component]) do |f| %>
  <% if @component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@component.errors.count, "error") %> prohibited this component from being saved:</h2>

      <ul>
      <% @component.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%= f.text_field :name %><br>
  <%= f.text_area :content, :size => '400x24' %>

<%= javascript_tag do %>
	$(function() {
		$('#component_content').tinymce({
			"script_url": '/javascripts/tiny_mce/tiny_mce.js',

			"theme": "advanced",
			"plugins": "pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,advlist",

			"theme_advanced_toolbar_location": "top",
			"theme_advanced_toolbar_align": "left",
			"theme_advanced_statusbar_location": "bottom",
			"theme_advanced_resizing": true

		});
	});
<% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
