<%= form_for(event, :remote => true) do |f| %>
    <p>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :allday %>
      <%= f.check_box :allday, :checked => true %>
    </p>

    <p>
      <%= f.label :start %>
      <%= f.text_field :start_date, :class => 'datepickr', :size=>10, :autocomplete => 'off' %>
      <%= f.text_field :start_time, :class => 'tpickr', :size=>10, :autocomplete => 'off' %>
    </p>
    <p>
      <%= f.label :end %>
      <%= f.text_field :end_date, :class => 'datepickr', :size=>10, :autocomplete => 'off' %>
      <%= f.text_field :end_time, :class => 'tpickr', :size=>10, :autocomplete => 'off' %>
    </p>
    <p>
      <%= f.label :event_description %>
      <%= f.text_area :event_description %>
    </p>

    <%= f.hidden_field(:calendar_id) %>

    <%= om_button(:icon => 'save') do %>
        <%= f.submit %>
    <% end %>
<% end %>
