<%= form_for(event, :remote => true) do |f| %>
    <%= f.hidden_field(:calendar_id) %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :all_day %>
      <%= f.check_box :all_day, :checked => true %>
    </p>



    <p>
      <%= f.label :start %>

      <%= f.text_field :start_date, :class => 'datepickr', :size => 20 %>
      <%= f.text_field :start_time, :class => 'tpickr', :size => 7 %>
    </p>

    <p>
      <%= f.label :end %>
      <%= f.text_field :end_date, :class => 'datepickr', :size=> 20 %>
      <%= f.text_field :end_time, :class => 'tpickr', :size => 7 %>
    </p>


    <p>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </p>

    <%= recurrence(f) %>


    <%= om_button(:icon => 'Update') do %>
              <%= f.submit %>
          <% end %>
<% end %>
