<h1><%= @event.title %> Event's Details</h1>

Current time zone: <%= Time.zone.name %><br />
Current time: <%= Time.now %>
<table>
  <tr>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Event Description</th>

  </tr>
  <tr>
    <td><%= @event.start.to_s(:long) %> <%#= @event.start_time %></td>
    <td><%= @event.end_date %> <%= @event.end_time %></td>


    <td><%= @event.event_description %></td>


  </tr>

</table>

<p>
  (<%= link_to('edit', :action => 'edit', :id => @event.id) %>)
</p>





