<% require_javascript 'omega_favorites' %>
<%= context_box do %>
<div class="page-content circle-corners-bottom  corners-top">
    	
		<div class="heading-main">
	
			<div class="left-heading">
				<h1 class="page-content">
      				Current Volunteering Opportunities
		    	</h1>
			</div>
	
		</div>


     

     <div class="clear"></div>
  <% if @favorites.any? %>
  <ul id="favorites-list">

    <%  @favorites.each do |favorite| %>
        <li class="list-item relative">
          <div class="item-list-actions-wrapper corners">
            <div class="item-list-actions">
              <%= om_button(:plain => true, :icon=>'delete') do %>
                  <%= link_to 'Remove as favorite', favorite_path(favorite.item), :method=> :delete %>
              <% end %>
              <%= om_button(:plain => true, :icon=>'next') do %>
                  <%= link_to_favorite(favorite) %>
              <% end %>
            </div>
          </div>
          <%= truncate(favorite.item_text, :length=> 160) %>
        </li>


    <% end  %>
  </ul>
      <% else %>
<div class="explanation">
  Currently, you don't have any favorites
</div>
        <% end  %>
</div>
    <% end %>
<%# content_for :sidebar do %>
    <%#= render :partial => "layouts/sidebar_favorites_menu" %>
<% #end %>