<%= side_bar_box(:"Services Menu") do %>


<ul>
	<% if (!current_user.is_anonymous?) %>	

  <li>
	<%= with_permission(Volunteering::PERM_ADMIN) do %>
    	<%= om_button(:icon=>'', :sidebar => true) do %>
            <%= link_to 'Add a Field', new_service_service_field_url(@service.id) %>
        <% end %>
    <%end%>
  </li>

   <li>

    <%#= om_button(:icon=>'', :sidebar => true) do %>
             <%# session[:service_id] = @service.id %>
            <%#= link_to 'Edit', service_wizard_services_url(:step => "2" )%>
        <%# end %>
  </li>
<%end%>
  <li>
    <%= om_button(:icon=>'', :sidebar => true) do %>
            <%= link_to 'All Services ', services_url %>
        <% end %>
  </li>

</ul>



<% end %>