	<div class="content circle-corners-bottom-left">
		<div class="heading-main">
				<h1 class="page-content">
					Add Volunteers to "<%= Volunteering::Position.find(@position_id).name %>"
		    </h1>
		</div>

	<!--<div class="records_search_box">
		<%#= render "records_search_box" %>
	</div>!-->

	<p><%=  link_to "Search by zip code", zip_search_volunteering_records_path %></p>

	<hr>
	<table>
		<tr>


			<td style="width:350px; max-width:355px">
				<%= render "accordion" %>
			</td>


			<td style="width:350px; max-width:355px">
				<div id="volunteers">
					<div id="volunteers-heading">
						<h7 class="sub-heading" id="result-header"> Potential Volunteers: </h7>
					</div>
					<%= render 'volunteers_list' %>
				</div>
			</td>


			<td style="width:250px"> 
				<div id="invitation">
					<div id="invitation-heading">
						<h7 class="sub-heading"> Volunteers for this Position </h7>
					</div>
					<div id="placeholder">
						<ul id="contacts_to_add">
							<%= render "existing_records" %>
						</ul>
					</div>
				</div>
			</td>


		</tr>
	</table>
</div>


<script>

$(function() {

	// Remove volunteers. It updates the status of the record to "Rejected".
	$('#contacts_to_add').delegate('li', 'change', function() {
		var record_id = $(this).attr('ui-data');
		var position_id = "<%= @position.id %>";
		$(".tipsy").remove();
		var self = $(this);
		var val = self.find( 'select' ).attr( 'value' );
		$.ajax({
			url: "<%= update_status_volunteering_records_url %>",
			type: "PUT",
			dataType: 'script',
			data: {record_id:record_id, position_id:position_id, value:val },
			cache: false
		});
	});

	// Add volunteers. It creates a new record for that contact.
	$('#volunteers_list').delegate('span.add_volunteer', 'click', function() {
		var self = $(this);
		var contact_id = self.attr('ui-data');
		var position_id = "<%= @position.id %>";
		$.ajax({
			url: "<%= create_single_volunteering_records_url %>",
			type: 'POST',
			data: {contact_id:contact_id, position_id:position_id},
			dataType: 'script',
			cache: false
		});
		self.parent().parent().remove();
		$(".tipsy").remove();
	});

	// Send a message to the volunteers.
	$( '#contacts_to_add').delegate( 'input#message_submit', 'click', function() {
		var self = $( this ).parent();
		var message_to = self.find( 'input.message' ).attr( 'id' );
		var message = self.find( "input.message" ).val();
		var position_id = "<%= @position.id %>";
		$.ajax({
			url: "<%= message_volunteer_volunteering_records_url %>",
			type: 'POST',
			data: {message_to:message_to, message:message, position_id:position_id},
			dataType: 'script',
			cache: false
		});
	});

});

</script>
