<br /><div id="filter_checkboxes">
	<form>
		<input id="search_voluteers" type="text" maxlength="100" size="50" value="Type here to search..." onfocus="$(this).val('')" onblur="$(this).val('Type here to search...')" />
	</form>
<br /><div>


<script type="text/javascript">

// To make the search box work, the @filter hash will have to be translated into a JS array.
// This was done correctly for a prior version, it doesn't work right now.
// Or you could use ajax to do this server side and avoid the hastle of turning it into JS.
var contact_term = new Array();
<% @contact_term_hash.each do |contact_id, contact| %>
	var contact_array = new Array();
	contact_array["first_name"] = '<%=@contact_term_hash[2][:first_name]%>';
	contact_array["last_name"] = '<%=contact[:last_name]%>';
	contact_array["id"] = '<%=contact[:id]%>';
	contact_array["skills"] = '<%=contact[:skills]%>';
	contact_array["interests"] = '<%=contact[:interests]%>';
	contact_term['<%=contact_id%>'] = contact_array;
<% end %>

  $( "#search_volunteers" ).autocomplete({
    source: <%= raw @filter.to_json %>,
		select: function(event, ui) {
			search(ui.item.value);
		}
  });

search = function(needle){
	var results = "";
	var skills_interests = new Array("skills", "interests");
	var match = 0;
	contact_term.forEach(function(contact){
		for(i=0; i < 2; i++){
			if(contact[skills_interests[i]] != null){
				var terms = contact[skills_interests[i]].split(",");
				for(term = 0; term < terms.length; term++){
					if(terms[term] == needle){
						match++;
						results += contact["first_name"] + ",";
						results += contact["id"] + ",,";
					}
				}
			}
		}
	});
	display_search_results(results, '<%= @position_id %>');
}

</script>
