<%= side_bar_box('Menu') do %>
    <ul>
      <li>

        <%= om_button(:icon=>'folder-stack') do %>
            <%= link_to "Newest", newest_volunteering_records_url %>
        <% end %>
      </li>
      <li>
        <%= om_button(:icon=>'folder-open') do %>
            <%= link_to "Pending", pending_volunteering_records_url %>
        <% end %>
      </li>
      <li>
        <%= om_button(:icon=>'folder-stamped') do %>
            <%= link_to "Completed", completed_volunteering_records_url %>
        <% end %>
      </li>

    </ul>
<% end %>
