<table>
	<tr>
		<td>
			<%= render 'zip_search' %>
		</td>

		</td>
			<ul>
				<% @users.each do |c| %>
					<li>
						<%= check_box_tag c.id, '08648' %>
						<%= c.first_name %>
						<%= c.last_name %>
					</li>
				<% end %>
			</ul>
		</td>

	</tr>
</table>


<script type="text/javascript">
//	$( '#update_positions' ).delegate( 'a', 'click', function(name){
//		var name = $( '#update_positions #volunteering_position_name' ).attr( 'value' );
//		var id = $( '#update_positions' ).attr( 'id' );
//		var data = {name:name, id:id};		
//		ajax_filter(data);
//	});

//	$( '#update_positions' ).find( 'div' ).each(function(){
//		var $_self = $( this );
//		var names = $( '#name' );
//		var ids = $( '#id' );
//		var id = $( this ).find(ids);
//		$( this ).delegate( 'a', 'click', function(id, name){
//			var name = $_self.find(names).attr( 'id' );
//			alert(name);
//			//var data = {name:name, id:id};		
//			//ajax_filter(data);
//		});
//	});
//
//	function ajax_filter(data){
//		$.ajax({
//		  url: "<%=zip_search_volunteering_records_path%>",
//        type: "GET",
//        data: data,
//        dataType: 'script',
//        cache: false
//		});
//	}

function ajax_stuff(id, name){
	var search = 'input[ui-data = ' + id + ']';
	var name = $( search ).attr( 'value' );
	var data = {name:name, id:id};		
	$.ajax({
	    url: "<%=zip_search_volunteering_records_path%>",
       type: "GET",
       data: data,
       dataType: 'script',
       cache: false
	});
}
	
		
</script>
