<div id="form_group" class="form">
  <%= form_for @contact_group, :remote => true do |f| %>
      <%= errors_for_form @contact_group %>
      <fieldset>
        <p>
          <%= f.label :group_name %>
          <%= f.text_field :group_name %>
        </p>
      </fieldset>
      <fieldset>
        <div id="addresses">
          <%= f.fields_for :addresses do |a| %>
              <%= render '/contacts/address_form', :f => a %>
          <% end %>
          <%= link_to_new_nested f, :addresses do |a| %>
              <%= render '/contacts/address_form', :f => a %>
          <% end %>
        </div>
      </fieldset>
      <fieldset>
        <div id="phone_numbers">
          <%= f.fields_for :phone_numbers do |pn| %>
              <%= render '/contacts/phone_number_form', :f => pn %>
          <% end %>
          <%= link_to_new_nested f, :phone_numbers do |pn| %>
              <%= render '/contacts/phone_number_form', :f => pn %>
          <% end %>
        </div>
      </fieldset>
      <%= om_button(:icon=>'save') do %>
          <%= f.submit %>
      <% end %>
  <% end %>
</div>
