<h2>
  <%= @contact_group.group_name %>
</h2>
<div class="group-members">
  <table>
    <% @contact_group.contacts.each do |c| %>
        <tr data-id="<%= c.id %>">
          <td>
            <%= c.last_name %>, <%= c.first_name %>
          </td>
          <td >
            <a data-method="put" data-remote="true"  class="remove-contact" href="<%= %Q{/contacts/#{c.id}/groups/#{@contact_group.id}/remove} %>">
              <span data-tooltip="remove <%= "#{c.first_name} #{c.last_name}" %>  from: <%= @contact_group.group_name %>" class="om-icon-only om-blue-icon ui-icon-minus"></span>
            </a>
            <a data-method="delete" data-remote="true" class="remove-contact" href="<%= %Q{/contacts/#{c.id}} %>">
              <span data-tooltip="Delete <%= "#{c.first_name} #{c.last_name}" %> from database" class="om-icon-only om-blue-icon ui-icon-trash">
              </span></a>
          </td>
        </tr>

    <% end %>
  </table>
</div>
<div id="contact_accordion">

  <% @contact_group.addresses.each do |address| %>
      <h3><a href="#"> <%= address.city.capitalize %></a></h3>

      <div>
        City:
        <%= address.city.capitalize %>
        <br>
        Street:
        <%= address.street %>
        <br>
        Postal Code:
        <%= address.zip_code %>
      </div>
  <% end %>


  <% @contact_group.phone_numbers.each do |phone| %>
      <h3><a href="#">Phone Number </a></h3>

      <div>
        Number (<%= phone.number_type %>):
        <%= phone.number %>
      </div>
  <% end %>

</div>
<div>
  <%= om_button(:icon=>'user-remove') do %>
      <%= link_to 'delete', @contact_group, :method=> :delete, :remote => true %>
  <% end %>
  <%= om_button(:icon=>'user-edit') do %>
      <%= link_to 'edit', edit_contact_group_path(@contact_group), :remote => true %>
  <% end %>
</div>