<% require_stylesheet 'csv_import' %>
<% require_javascript 'csv_import' %>

<h1 class="page-content corners-top">

  Map CSV Fields to Omega Fields - Step (3/4)

</h1>

<div class="page-content corners-bottom">

   <div class="helptext">

    The Mapping Interface allows you to map the fields from your exported data source to that of omega fields. <br/>
    The wizard intelligently maps the corresponding fields, if the mapping is incorrect, you can choose the correct field  <br/>
    to be mapped to from the drop down list. The fields that the wizard was not able to map are marked for deletion by default.<br/>
    Select the fields you don't wish to import and click 'discard'. Click 'continue' to proceed to the next step. 
  </div>

  <div class="csv-container">

    <div class="content">

      <%= form_tag '/contacts/imports/update_csv' do %>
          
      <table>
        <tr>
          <td>

            <table class="csv-table">

               <th class="csv-table">CSV Field</th>

                  <% @rows[0].each do |c|%>

                    <% unless c.nil? %>

                      <tr class="csv-table">

                         <td class="csv-table">
                            <%=c.humanize%>
                         </td>
                      </tr>
                    <%end%>

                  <%end%>

            </table>
          </td>

          <td>

          <table class="csv-table">

             <th class="csv-table">Omega Field</th>

                 <% @rows[0].each do |c| %>

                    <% @val = c %>

                    <% @mapping.each do |k,v| %>

                        <% if v.include?(c) %>

                            <% @val = k %>

                        <%end%>

                    <%end%>

                    <tr class="csv-table">

                        <td class="csv-table">
                             <%= select 'csv_field',c, @contact_fields, :selected => @val%>
                             <%= hidden_field 'column', @val, :value => @rows[0].index(c)%>
                        </td>

                    </tr>
                 <%end%>
          </table>
            
          </td>

          <td>

            <table class="csv-table">

                  <th class="csv-table">Imported Data Preview</th>

                      <% @rows[2].each do |d| %>
                                 <tr class="csv-table">

                                     <td class="csv-table">
                                         <%=d%>
                                     </td>
                                   
                                 </tr>

                      <%end%>
            </table>

          </td>
        </tr>
        
      </table>

      <%= om_button(:icon=>'cancel') do %>
        <%= submit_tag "Discard", :name => "discard"%>
      <%end%>

      <%= om_button(:icon=>'next') do %>
        <%= submit_tag "Continue", :name => "next"%>
      <%end%>

      <%= om_button(:icon=>'back') do %>
        <%= link_to 'Back', csv_import_wizard_contact_imports_url(:step => '2')%>
      <%end%>

      <%end%>
    </div>

  </div>

</div>



















