<% require_stylesheet 'csv_import' %>
<% require_javascript 'import' %>


<h1 class="page-content-evergreen corners-top">

  Import Preview - Step (4/4)

</h1>

<div class="page-content-evergreen corners-bottom">
<%= content_for :explanation do %>
    <%= render :partial => 'contacts/partials/steps' %>
<% end %>


  <div class="csv-container">

    <div class="content">

      <%= form_tag '/contacts/imports/update_csv' do %>

      <table>
        <tr>
          <td>

            <table class="csv-table">

               <th class="csv-table">CSV Field</th>

                  <% @csv_rows[0].each do |c|%>

                      <tr class="csv-table">

                         <td class="csv-table">
                            <%=c.humanize%>
                         </td>

                </tr>

                  <%end%>

            </table>


          </td>

          <td>

              <table class="csv-table">

               <th class="csv-table">Mapped Omega Field</th>

                  <% @mapped_rows[0].each do |c|%>


                      <tr class="csv-table">

                         <td class="csv-table">
                            <%=c.humanize%>
                         </td>

                      </tr>
                    <%end%>


            </table>

          </td>

          <td>


 <table class="csv-table">

                  <th class="csv-table">Imported Data Preview</th>

                      <% @csv_rows[1].each do |d| %>

                                 <tr class="csv-table">

                                     <td class="csv-table">

                                       <%d = Iconv.iconv('UTF-8','UTF-8', d)%>
                                       <%=d.to_s.gsub!(/"|\[|\A|\]|"/,"")%>

                                     </td>

                                 </tr>

                      <%end%>
            </table>

          </td>
        </tr>

      </table>

      <%= om_button(:icon=>'cancel') do %>
        <%=submit_tag "Import Contacts", :name => "import"%>
      <%end%>

      <%= om_button(:icon=>'back') do %>
              <%= link_to 'Back', csv_import_wizard_contact_imports_url(:step => '3')%>
      <%end%>

      <%end%>
    </div>

  </div>


    </div>
