<%= side_bar_box(:Menu) do %>

    <ul>
      <li>
        <%= om_button(:icon=>'group') do %>
            <%= link_to 'Members', assign_group_url(@group) %>
        <% end %>
      </li>
      <li>
         <%= om_button(:icon=>'file') do %>
            <%= link_to 'Shared Documents', assign_group_url(@group) %>
        <% end %>
      </li>
      <li>
        bulletinboard
      </li>

    </ul>
<% end %>