<% require_javascript   'contacts.js'%>
<% require_stylesheet 'omega_contacts.css', 'thirdParty/jquery.autocomplete.css' %>
<h1 class="page-content corners-top">
  Contacts
</h1>

<div id="cm" class="page-content corners-bottom">

  <div class="head_bg">
    <div id="contact_filter_wrapper">

      <input id="contact_filter" value=""/>

      <div id="filter_ctrl">

        <div class="magnifier"></div>
        <div id="clear_filter"></div>
      </div>
    </div>
    <div class="right">

    <%= om_button(:icon=>'user-add') do %>
        <%= link_to 'New Contact', new_contact_path, :remote => true %>
    <% end %>
      <%= om_button(:icon=>'household-add') do %>
        <%= link_to 'New Household', new_contact_household_path, :remote => true %>
    <% end %>
      <%= om_button(:icon=>'organization-add') do %>
        <%= link_to 'New organization', new_contact_organization_path, :remote => true %>
    <% end %>

    </div>
  </div>

  <div id="contacts_alphabet" class="left">
    <ul>
      <% ('A'..'Z').each do |l| %>
          <li>
            <span><%= link_to l, "/contacts/#{l}", :remote => true %></span></li>
      <% end %>
    </ul>
  </div>

  <div id="contacts_groups" class="left">
    <div id="accordion">
      <h3>
            <a>
             All Contacts
            </a>

          </h3>
      <div>
        <ul>
          <li>
        <%= link_to 'Show All', "/contacts/", :remote => true %>    
          </li>
        </ul>

      </div>

      <% @contact_groups.keys.each do |group_type| %>
          <h3>
            <a>
              <%= group_type.try(:pluralize) %>
            </a>

          </h3>

          <div>
            <ul>
              <% @contact_groups[group_type].each do |group| %>
                  <li class="<%= cycle("even", "odd", :name => "group_rows") %>"><%= link_to truncate(group.name, :length => 30), group, :remote=> true %></li>
              <% end %>
            </ul>
          </div>


      <% end %>

    </div>
  </div>


    <%= yield %>
  

</div>

