<div class="content circle-corners-bottom-left">
    	
		<div class="heading-main">
	
				<h1 class="page-content">
      				Update Logo
		    	</h1>
	
		</div>

 <div id="main-box">
 	
	<div class="bg-box box-shadow corners-bottom corners-top">
		
		 <%= form_for @logo, :html => { :multipart => true } do |f| %>
 		
		<p>
 			<br/>
			<br/>
			<%= f.label "Logo File" %> 
			<%= f.file_field :image%> 
    	</p>
	
		<p>
		    <%= om_button(:icon => 'apply') do %>
              <%= f.submit 'Update' %>
     		<% end %>
		</p>
	
	 	<%end%>
	 
	</div>
	
 </div>
 
 </div>
 
 
 