<br/>

<span class="list-item-detail">Preview Imported Data</span>

<br/>

<table>
        <tr>
          <td>

            <table class="imports-detail">

               <th class="imports-detail">First Name</th> <th class="csv-table">Last Name</th>

                <% @import.contact_ids.each do |c| %>

                    <% contact = Contact.find(c) %>

                    <% unless contact.nil? %>

                    <tr class="imports-detail">

                      <td class="imports-detail">
                        <%= contact.last_name %>
                      </td>

                      <td class="imports-detail">
                        <%= contact.first_name %>
                      </td>
                      
                    </tr>
                      <%end%>
                <%end%>

            </table>
          </td>
        </tr>

  <tr>
    <%= om_button(:icon=>'cancel') do %>
    <%=  link_to 'Redo Import', tenant_redo_import_finalize_contact_imports_url(:id => @import) %>
    <%end%>

    <%= om_button(:icon=>'cancel') do %>
    <%=  link_to 'Delete Forever', tenant_delete_forever_contact_imports_url(:id => @import) %>
    <%end%>
  </tr>

 </table>




