<% require_stylesheet 'csv_import' %>
<% require_javascript 'import' %>

<%= content_for :explanation do %>
    <%= render :partial => 'contacts/partials/steps' %>
<% end %>

<%- title "Omega Contacts - Import Wizard: Step 3" %>

 <div class="content circle-corners-bottom-left">
    	
		<div class="heading-main">
	
				<h1 class="page-content">
  Map CSV Fields to Omega Fields - Step (3/4)

		    	</h1>
	
  </div>
  <div class="csv-container">


      <%= form_tag '/contacts/imports/update_csv' do %>
          
      <table>
        <tr>
          <td>

            <table class="csv-table">

               <th class="csv-table">CSV Field</th>

                  <% @csv_rows[0].each do |c|%>

                    <% unless c.nil? %>

                      <tr class="csv-table">

                         <td class="csv-table">
                            <%=c.humanize%>
                         </td>
                      </tr>
                    <%end%>

                  <%end%>

            </table>
          </td>

          <td>

          <table class="csv-table">

             <th class="csv-table">Omega Field</th>

                 <% @csv_mapping.each do |csv,map| %>

                    <% @val = map %>

                    <% @mapping.each do |k,v| %>

                        <% if v.include?(map) %>

                            <% @val = k %>

                        <%end%>

                    <%end%>

                    <tr class="csv-table">

                        <td class="csv-table">
                             <%= select 'csv_field',csv, @contact_fields, :selected => @val%>
                        </td>

                    </tr>
                 <%end%>
          </table>
            
          </td>

          <td>

            <table class="csv-table">

                  <th class="csv-table">Imported Data Preview</th>

                      <% @csv_rows[1].each do |d| %>
                                 <tr class="csv-table">

                                     <td class="csv-table">
                                       <%d = Iconv.iconv('UTF-8','UTF-8', d)%>
                                       <%=d.to_s.gsub!(/"|\[|\A|\]|"/,"")%>
                                     </td>
                                   
                                 </tr>

                      <%end%>
            </table>

          </td>
        </tr>
        
      </table>

      <%= om_button(:icon=>'next') do %>
        <%= submit_tag "Continue", :name => "next"%>
      <%end%>

      <%= om_button(:icon=>'back') do %>
        <%= link_to 'Back', csv_import_wizard_contact_imports_url(:step => '2')%>
        <% session[:last_page] = "mapping"%>

      <%end%>

      <%end%>
    </div>


</div>



















