<% require_stylesheet 'service.css' %>
<% require_javascript 'service.js' %>

<div id="services_page_title">
  All Service Categories
</div>
<div class="services_page_content">
  <% if @service_categories.empty? %>
    <p>
      No Service is being offered at the moment! <br/><br/>
      <%= with_permission(Volunteering::PERM_ADMIN) do %>
        <%= om_button(:contact => true, :icon => 'clock') do %>
          <%= link_to 'Create a New Service Category', new_service_category_url %>
        <% end %>
      <% end %>
    </p>
  <% else %>
    <div id="services_search_box">
      <form>
        <input type="text" maxlength="100" size="50" value="Type here to search..." style="font-size:12px"/>
        <label for="enrollable" >Enrollable</label>
        <input id="enrollable" name="enrollable" type="checkbox" checked="checked" />
        <label for="requestable" >Requestable</label>
        <input id="requestable" name="requestable" type="checkbox" checked="checked" />
        <label for="my_services" >My Services</label>
        <input id="my_services" name="my_services" type="checkbox" />
      </form>
    </div>

    <div id="services_list">
      <div id="accordion">
        <% @service_categories.each do |service_category| %>
          <h3><a href="#"><%= service_category.name %></a></h3>
          <div>
            <p><%= service_category.description %></p>
            <div class="services_operation_links">
              <p>
                <%= link_to "view service types", service_types_url(:service_category_id=>service_category.id), :remote=>true %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
      <script>
        services_accordion();
      </script>
    </div>
  
    <div id="services_operation_panel">
      <%= link_to "New" %>
      <div class="right_links">
        <%= link_to "Back" %>
      </div>     
    </div>
  <% end %>
</div>


<!-- debugger info 
<% require_javascript 'form_builder.js' %>
<script>
</script>

<div id="form_builder_area">
  
</div>
<div id="form_builder_tools">
  <%= link_to_function "text field", "$('#form_builder_area').append(text_field({value:'aaa'}))" %>
</div>
-->