<%
   ordinals         = t(:'calendar.recurrence.ordinals').map { |k, v| [v, k] }
   days_of_the_week = t(:'calendar.recurrence.days_of_the_week')
   days             = t(:'calendar.recurrence.days').map { |k, v| [v, k] }
   months           = t(:'calendar.recurrence.months').map { |k, v| [v, k] }
%>
<div id="scheduler">
  
  <%= builder.fields_for(:recurrence) do |r| %>


      <fieldset>
        <legend>Time</legend>
        <%= r.label :Start_time %><%= r.text_field :start_time, :class => 'tpickr' %>
        <%= r.label :End_time %> <%= r.text_field :end_time, :class => 'tpickr' %>

      </fieldset>

      <fieldset>
        <legend>Recurrence pattern</legend>
        <div id="scheduler-pattern" class="left">
          <%= r.label t(:'calendar.recurrence.daily') %> <%= r.radio_button :pattern, Calendar::Recurrence::DAILY %>
          <br/>
          <%= r.label t(:'calendar.recurrence.weekly') %> <%= r.radio_button :pattern, Calendar::Recurrence::WEEKLY %>
          <br/>
          <%= r.label t(:'calendar.recurrence.monthly') %><%= r.radio_button :pattern, Calendar::Recurrence::MONTHLY %>
          <br/>
          <%= r.label t(:'calendar.recurrence.yearly') %><%= r.radio_button :pattern, Calendar::Recurrence::YEARLY %>

        </div>
        <div id="schedule" class="left">
          <div id="schedule-daily" class="schedules">
            <%= r.fields_for(:daily) do |d| %>
                <%= d.radio_button :every, Calendar::Recurrence::DAY %>Every
                <span data-tooltip="Increase" class="om-icon-only om-blue-icon ui-icon-plusthick increase"></span>
                <%= d.text_field :days, :class => 'inputSmall' %>
                <span data-tooltip="Decrease" class="om-icon-only om-blue-icon ui-icon-minusthick decrease"></span>
                day(s)<p>
            <%= d.radio_button :every, Calendar::Recurrence::WEEKDAY %>Every weekday
          </p>
            <% end %>


          </div>
          <div id="schedule-weekly" class="schedules">

            <%= r.fields_for(:weekly) do |w| %>
                <p>

                  Every
                  <span data-tooltip="Increase" class="om-icon-only om-blue-icon ui-icon-plusthick increase"></span>
                  <%= w.text_field :weeks, :class => 'inputSmall' %>
                  <span data-tooltip="Decrease" class="om-icon-only om-blue-icon ui-icon-minusthick decrease"></span>

                  week(s)
                </p>

                <p>
                  <%= w.fields_for :days do |wd| %>
                      <% days_of_the_week.each do |day, human_day| %>
                          <%= wd.check_box day, :checked => (w.object.days[day.to_s] == '1' ? 'checked' : '') %><%= human_day %> <br />
                      <% end %>
                  <% end %>
                </p>
            <% end %>
          </div>

          <div id="schedule-monthly" class="schedules">
            <%= r.fields_for(:monthly) do |m| %>
                <p>
                  <%= m.radio_button :every, Calendar::Recurrence::DAY %>Day
                  <%= m.fields_for(:day) do |md| %>
                      <span data-tooltip="Increase" class="om-icon-only om-blue-icon ui-icon-plusthick increase"></span>
                      <%= md.text_field :days, :class => 'inputSmall' %>
                      <span data-tooltip="Decrease" class="om-icon-only om-blue-icon ui-icon-minusthick decrease"></span>
                      of
                      <span data-tooltip="Increase" class="om-icon-only om-blue-icon ui-icon-plusthick increase"></span>
                      <%= md.text_field :months, :class => 'inputSmall' %>
                      <span data-tooltip="Decrease" class="om-icon-only om-blue-icon ui-icon-minusthick decrease"></span>
                      month(s)

                  <% end %>
                </p>

                <p>
                  <%= m.radio_button :every, Calendar::Recurrence::ORDINAL %>The
                  <%= m.fields_for(:ordinal) do |mo| %>
                      <%= mo.select :ordinal, ordinals %><%= mo.select :days, days %> of
                      every
                      <span data-tooltip="Increase" class="om-icon-only om-blue-icon ui-icon-plusthick increase"></span>
                      <%= mo.text_field :months, :class => 'inputSmall' %>
                      <span data-tooltip="Decrease" class="om-icon-only om-blue-icon ui-icon-minusthick decrease"></span>
                      month(s)
                  <% end %>
                </p>
            <% end %>
          </div>

          <div id="schedule-yearly" class="schedules">
            <%= r.fields_for(:yearly) do |y| %>
                <p>
                  Every <%= y.text_field :years, :class => 'inputSmall' %> year(s)
                </p>

                <p>
                  <%= y.radio_button :every, Calendar::Recurrence::DAY %>On

                  <%= y.fields_for(:day) do |yd| %>
                      <span data-tooltip="Increase" class="om-icon-only om-blue-icon ui-icon-plusthick increase"></span>
                      <%= yd.select :months, months %>
                      <span data-tooltip="Decrease" class="om-icon-only om-blue-icon ui-icon-minusthick decrease"></span>
                      <span data-tooltip="Increase" class="om-icon-only om-blue-icon ui-icon-plusthick increase"></span>
                      <%= yd.text_field :days, :class => 'inputSmall' %>
                      <span data-tooltip="Decrease" class="om-icon-only om-blue-icon ui-icon-minusthick decrease"></span>
                      <br/>
                  <% end %>
                </p>

                <p>

                  <%= y.radio_button :every, Calendar::Recurrence::ORDINAL %>On the
                  <%= y.fields_for(:ordinal) do |yo| %>
                      <%= yo.select :ordinal, ordinals %><%= yo.select :days, days %>
                      of <%= yo.select :months, months %>

                  <% end %>
                </p>
            <% end %>
          </div>


        </div>


      </fieldset>

      <fieldset>
        <legend>Recurrence range</legend>
        <p>
          <%= r.label :Start %>
          <%= r.text_field :start, :class=> 'datepickr' %>
        </p>

        <p>
          <%= r.radio_button :end_on, Calendar::Recurrence::END_ON_NEVER %>No end date
        </p>

        <p>

          <%= r.radio_button :end_on, Calendar::Recurrence::END_ON_NUMBER %>End after:
          <span data-tooltip="Increase" class="om-icon-only om-blue-icon ui-icon-plusthick increase"></span>
          <%= r.text_field :end_after, :class => 'inputSmall' %>
          <span data-tooltip="Decrease" class="om-icon-only om-blue-icon ui-icon-minusthick decrease"></span>
          ocurrences
        </p>

        <p>
          <%= r.radio_button :end_on, Calendar::Recurrence::END_ON_DATE %>End
          by: <%= r.text_field :end_at, :class => 'datepickr' %>
        </p>
      </fieldset>
  <% end %>
</div>