<%
   ordinals         = t(:'calendar.recurrence.ordinals').map { |k, v| [v, k] }
   days_of_the_week = t(:'calendar.recurrence.days_of_the_week')
   days             = t(:'calendar.recurrence.days').map { |k, v| [v, k] }
   months           = t(:'calendar.recurrence.months').map { |k, v| [v, k] }
%>



<div id="scheduler">
	
  <h3 class="application-form">Recurrence</h3> 

  <%= builder.fields_for(:recurrence) do |r| %>


       <h2 class="application-form-content-heading">Timeline</h2>
       <p> <%= r.label :Start_time %>
       	   <%= r.text_field :start_time, :class => 'tpickr', :value => r.object.start_time.try(:to_s, :time) %></p>
       <p> <%= r.label :End_time %> 
       	   <%= r.text_field :end_time, :class => 'tpickr', :value => r.object.end_time.try(:to_s, :time) %></p>
        
       <p>
          <%= r.label :Start_date %>
          <%= r.text_field :start, :class=> 'datepickr' %>

        </p>

        <p>
        	
          <%= r.radio_button :end_on, Calendar::Recurrence::END_ON_NEVER %>
          <%= r.label :no_end_date %>

        </p>

        <p>
          <%= r.label :end_after %>
          <%= r.radio_button :end_on, Calendar::Recurrence::END_ON_NUMBER %>
          
          <br/><br/>
                    <%= r.label '' %>

          <%= r.text_field :end_after, :class => 'inputSmall' %>
          ocurrences
        </p>

        <p>
          <%= r.label :end_by %>
          <%= r.radio_button :end_on, Calendar::Recurrence::END_ON_DATE %> <br/><br/>
                    <%= r.label '' %>

          <%= r.text_field :end_at, :class=> 'datepickr' %>
        </p>
        

        <h2 class="application-form-content-heading">Pattern</h2>
        <div id="scheduler-pattern" class="left">
        	
        <span class="radio-button-block"> 	
         <%= r.radio_button :pattern, Calendar::Recurrence::DAILY  %> <strong>Daily </strong>
               </span>
  
          <br/>
          
        <span class="radio-button-block"> 	
  
         <%= r.radio_button :pattern, Calendar::Recurrence::WEEKLY %> <strong>Weekly </strong>
        </span> 
          <br/>
          
        <span class="radio-button-block"> 	
 
          <%= r.radio_button :pattern, Calendar::Recurrence::MONTHLY %> <strong>Monthly </strong>
        </span>          	

          <br/>
          
        <span class="radio-button-block">   
          <%#= r.label t(:'calendar.recurrence.yearly') %>
          <%= r.radio_button :pattern, Calendar::Recurrence::YEARLY, :checked => true %> <strong>Yearly </strong>
        </span>
       
        </div>
        <div id="schedule" class="left">
          <div id="schedule-daily" class="schedules">
            <%= r.fields_for(:daily) do |d| %>
                <%= d.radio_button :every, Calendar::Recurrence::DAY %>Every
                <%= d.text_field :days, :class => 'inputSmall' %>
                day(s)
            <br/>
            <%= d.radio_button :every, Calendar::Recurrence::WEEKDAY %>Every weekday
            <% end %>


          </div>
          <div id="schedule-weekly" class="schedules">

            <%= r.fields_for(:weekly) do |w| %>
                <p>

                  Every
                  <%= w.text_field :weeks, :class => 'inputSmall' %>

                  week(s)
                </p>

                <p>
                  <%= w.fields_for :days do |wd| %>
                      <% days_of_the_week.each do |day, human_day| %>
                          <%= wd.check_box day, :checked => (w.object.days[day.to_s] == '1' ? 'checked' : '') %><%= human_day %> <br />
                      <% end %>
                  <% end %>
                </p>
            <% end %>
          </div>

          <div id="schedule-monthly" class="schedules">
            <%= r.fields_for(:monthly) do |m| %>
                <p>
                  <%= m.radio_button :every, Calendar::Recurrence::DAY %>Day
                  <%= m.fields_for(:day) do |md| %>
                      <%= md.text_field :days, :class => 'inputSmall' %>
                      of
                      <%= md.text_field :months, :class => 'inputSmall' %>
                      month(s)

                  <% end %>
                </p>

                <p>
                  <%= m.radio_button :every, Calendar::Recurrence::ORDINAL %>The
                  <%= m.fields_for(:ordinal) do |mo| %>
                      <%= mo.select :ordinal, ordinals %><%= mo.select :days, days %> of
                      every
                      <%= mo.text_field :months, :class => 'inputSmall' %>
                      month(s)
                  <% end %>
                </p>
            <% end %>
          </div>

          <div id="schedule-yearly" class="schedules">
            <%= r.fields_for(:yearly) do |y| %>
                <p>
                  Every <%= y.text_field :years, :class => 'inputSmall' %> year(s)
                </p>

                <p>
                  <%= y.radio_button :every, Calendar::Recurrence::DAY %>On

                  <%= y.fields_for(:day) do |yd| %>
                      
                      <%= yd.select :months, months %>

                      <%= yd.text_field :days, :class => 'inputSmall' %>
                      <br/>
                  <% end %>
                </p>

                <p>

                  <%= y.radio_button :every, Calendar::Recurrence::ORDINAL %>On the
                  <%= y.fields_for(:ordinal) do |yo| %>
                      <%= yo.select :ordinal, ordinals %><%= yo.select :days, days %>
                      of <%= yo.select :months, months %>

                  <% end %>
                </p>
            <% end %>
          </div>


        </div>

      
        
  <% end %>
</div>