<% require_javascript 'thirdParty/jquery.validate.js' %>
<% require_javascript 'validations/new_user.js' %>

  <h1>Sign up for an new account</h1>
  <%= form_for @user, :'data-validations' => 'user[contact,role]' do |f| %>
      <%= errors_for_form @user %>
      <%= hidden_field_tag :registration, params['registration'] %>
      <p>
        <%= f.label :user %>
        <%= f.text_field( :username, :'data-tooltip' => 'Plese provide username with at least 2 characters') %>
      </p>

      <p>
        <%= f.label :first_name %>
        <%= f.text_field(:first_name,:'data-tooltip' => 'Plese provide lastname') %>
      </p>

      <p>
        <%= f.label :last_name %>
        <%= f.text_field(:last_name,:'data-tooltip' => 'Plese provide lastname') %>
      </p>

      <p>
        <%= f.label :email %>
        <%= f.text_field(:email,:'data-tooltip' => 'Plese provide email') %>
      </p>


      <p>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </p>

      <p>
        <%= f.label :confirmation %>
        <%= f.password_field :password_confirmation %>
      </p>

       <%= om_button(:icon => 'save') do  %>
      <%= f.submit %>
        <% end %>

  <% end %>

