
<%= form_for @user do |f| %>
    <%= errors_for_form @user %>
	
	<%= f.fields_for :contact do |c|%>
	
	 <h3 class="application-form">PERSONAL INFORMATION </h3> 
		<p>	
      		<%= c.label :first_name %>
      		<%= c.text_field(:first_name, :'data-tooltip' => 'Your first name')%> 
   		</p>
	
    	<p>
      		<%= c.label :last_name %>
      		<%= c.text_field(:last_name, :'data-tooltip' => 'Your last name')%>
    	</p>

    
		<%=  c.fields_for :addresses do |a|%>

        <p>
        	<%= a.label :city %>
			<%= a.text_field(:city, :'data-tooltip' => 'Email where you could be contacted') %>

	    </p>
		
		<%end%>
		
		<%= c.fields_for :phone_numbers do |p|%>
		<p>
			<%= p.label :phone %>
			<%= p.text_field :number%>
	    </p>
		
		<%end%>
	<%end%>
              
    <h3 class="application-form">LOG IN INFORMATION </h3> 

   <%= f.fields_for :contact do |c|%>
   
   <p>
      <%= c.label :email %>
      <%= c.text_field(:email, :'data-tooltip' => 'Email where you could be contacted') %>
    </p>
	
	
	  
	<p>
		<%= c.label :confirm_email %>
      <%= c.text_field(:email_confirmation, :'data-tooltip' => 'Email where you could be contacted') %>

	</p>
   <%end%>
   
    <p>
      <%= f.label :username %>
      <%= f.text_field(:username, :'data-tooltip' => 'Username should include atleast 2 characters')%>
    </p>

    <p>
      <%= f.label :password %>
      <%= f.password_field(:password, :'data-tooltip' => 'The password should have atleast 8 characters') %>
    </p>

    <p>
      <%= f.label :confirmation %>
      <%= f.password_field :password_confirmation %>
    </p>

	  <%#= f.label :time_zone %>
	  <%#= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
		
		 <h3 class="application-form">NEWS LETTERS </h3> 

		<%= f.fields_for :contact do |c|%>
		<p>

		   <label>No bulk emails!</label> <%= c.check_box :no_bulk_emails%> 
				
		</p>
		<p>
      		<%= c.label :where_did_you_hear_about_us? %>
      		<%= c.text_field(:about_us, :'data-tooltip' => '')%>
        </p>
	    </span>
			
	    <%end%>	
		
		<%= with_permission(User::PERM_ADMIN) do %>

		 <h3 class="application-form">ROLES & PERMISSIONS </h3> 

         <%= render 'role_assignments', :form => f %>
       <%end%>

    <p>
    <%= om_button do %>
        <%= f.submit "SAVE" %>
    <% end %>
    </p>

<% end %>

