
<%= form_for @user, :url => register_users_path do |f| %>
    <%= errors_for_form @user %>
	
	<%= f.fields_for :contact do |c|%>
	
		<p>	
      		<%= c.label :first_name %>
      		<%= c.text_field(:first_name, :'data-tooltip' => 'Your first name')%> 
   		</p>
	
    	<p>
      		<%= c.label :last_name %>
      		<%= c.text_field(:last_name, :'data-tooltip' => 'Your last name')%>
    	</p>

    	<p>
      		<%= c.label :email %>
      		<%= c.text_field(:email, :'data-tooltip' => 'Email where you could be contacted') %>
    	</p>

	<%end%>

    
    <p>
      <%= f.label :username %>
      <%= f.text_field(:username, :'data-tooltip' => 'Username should include atleast 2 characters')%>
    </p>

    <p>
      <%= f.label :password %>
      <%= f.password_field(:password, :'data-tooltip' => 'The password should have atleast 8 characters') %>
    </p>

    <p>
      <%= f.label :confirmation %>
      <%= f.password_field :password_confirmation %>
    </p>

	<p>
	  <%= f.label :time_zone %>
	  <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
	</p>

    <p>
    <%= om_button do %>
        <%= f.submit "REGISTER" %>
    <% end %>
    </p>

<% end %>

