<h3 class="content-heading"> My Skills and Interests </h3>
	<%= form_for @contact, :url => update_my_page_users_path do |c| %> 

		<table>
			<tr>
				<td id="row_header"> <h1> My Skills </h1>
				<td id="row_header"> <h1> My Interests </h1>
			</tr>

			<tr>
				<td>
					<%= fields_for @new_skill, :html => { :class => "stuff", :id => "stuff", :name => 'stuff' } do |s| %>
						<p>
							<%= s.label :Add_a_new_skill %>
							<%= s.text_field :name %>
						</p>
					<%end%>
				</td>

				<td>
					<%= fields_for @new_interest, :html => { :class => "stuff", :id => "stuff", :name => 'stuff' } do |s| %>
						<p>
							<%= s.label :Add_a_new_interest %>
							<%= s.text_field :name %>
						</p>
					<%end%>
				</td>
			</tr>

			<tr>

				<td>
					<table id='skills'>
						<tr>
							<td>
								<div id='droppable_skills'>
								<%= tag_table_for(@contact.skills) { |i| "<td><div class='draggable' id='own' ui-data='#{i.id}'>" + i.name + "</div></td>" } %>
								<%= c.hidden_field :skill_ids %>
								</div> 
							</td>
						</tr>

						<tr><td><br /> These are other popular skills -- drag them to your pile above to add them to your own. </td></tr>

						<tr>
							<td>
								<div id="other_skills">
									<%= tag_table_for(@other_skills) { |s| "<td><div class='draggable' id='other' ui-data='#{s.id}'>" + s.name + "</div></td>" } %>
								</div>
							</td>
						</tr>
					</table>
				</td>


				<td>
					<table id='interests'>
						<tr>
							<td>
								<div id='droppable_interests'>
									<%= tag_table_for(@contact.interests) { |i| "<td><div class='draggable' id='own' ui-data='#{i.id}' >" + i.name + "</div></td>" } %>
								</div>
								<%= c.hidden_field :interest_ids %>
							</td>
						</tr>

						<tr><td><br /> These are other popular interests -- drag them to your pile above to add them to your own. </td></tr>
			
						<tr>
							<td>
								<div id="other_interests">
									<%= tag_table_for(@other_interests) { |s| "<td><div class='draggable' id='other' ui-data='#{s.id}'>" + s.name + "</div></td>" } %>
								</div>
							</td>
						</tr>
					</table>
				</td>

			</tr>
		</table>

		<div id="contact_submit">
			<p><%= c.submit :Update %></p>
		</div>
	<%end%>
