<%= require_stylesheet 'omega_users' %>
<%= require_javascript 'omega_users' %>
<%= context_box do %>
 <div class="page-content circle-corners-bottom  corners-top">
    	
		<div class="heading-main">
	
			<div class="left-heading">
				<h1 class="page-content">
      				Users
		    	</h1>
			</div>
	
		</div>


      <div class="right">
      	<br/>
        <%= om_button(:icon=>'sort-az', :small => true) do %>
            <%= link_to 'sort A-Z', url_for(params.merge(:name => 'asc')) %>
        <% end %>
        <%= om_button(:icon=>'sort-za', :small => true) do %>
            <%= link_to 'sort Z-A', url_for(params.merge(:name => 'desc')) %>
        <% end %>

      </div>

      <div class="clear"></div>
	  
	  <div class="main-box">
	  	<ul id="users-list">
  <% @users.each do |user| %>
      <li class="list-item relative">
        <div class="item-list-actions-wrapper corners">
          <div class="item-list-actions">
            <%= om_button(:plain => true, :icon=>'edit') do %>
                sdsds
            <% end %>
          </div>
        </div>
        <div>
          <%= om_button(:plain => true, :icon => 'user') do %>
              <%= link_to "#{user.username} - #{user.first_name} #{user.last_name}", user_path(user), :class => 'blue' %>
          <% end %>

        </div>

      </li>
  <% end %>
</ul>
<%= will_paginate @users %>

<div class="clear"></div>
</div>
	  </div>

<%# content_for :sidebar do %>
        <%#= render :partial => "partials/sidebar_search" %>
        <%#= render :partial => "layouts/sidebar_users" %>

<%# end %>
<% end %>
