<%= require_stylesheet 'omega_users' %>
<h1 class="page-content corners-top">
User List
</h1>
<div class="page-content corners-bottom">
  <ul>
      <% ('A'..'Z').each do |l| %>
          <li>
            <span><%= link_to l, "/users/#{l}"%></span>
          </li>
      <% end %>
    </ul>
  <ul id="users-list">
    <% @users.each do |user| %>
        <li class="list-item relative">
          <div class="item-list-actions-wrapper corners">
            <div class="item-list-actions">
              <%= om_button(:plain => true, :icon=>'edit') do %>
                 sdsds
              <% end %>
            </div>
          </div>
          <div>
            <%= om_button(:plain => true, :icon => 'user') do %>
                <%= link_to "#{user.username} - #{user.first_name} #{user.last_name}", edit_user_path(user), :class => 'blue' %>
            <% end %>

          </div>

        </li>
    <% end %>
  </ul>
    <%= will_paginate @users %>

  <div class="clear"></div>
</div>
