<% unless request.post? %>
<%= form_tag do %>
  <fieldset>
    <legend>Lost Password</legend>
      <p>
        <%= label_tag :username %>
        <%= text_field_tag :username %>
      </p>
  </fieldset>
  <%= om_button do %>
      <%= submit_tag 'Submit' %>
  <% end %>
<% end %>
<% else %>
<p>An email has been sent to the address for <%= @username %> containing instructions for resetting your password.</p>
<% end %>