<% require_stylesheet 'omega_volunteering', 'settings', 'omega_users_table', 'omega_users' %>
<%= require_javascript 'omega_users' %>

<style type="text/css">
	div#contact_submit{
		text-align:center;
		width:600px;
		margin:auto;
	}
	#row_header{
		text-align: center;
	}
</style>



<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">

<body>

	<div id="fb">
	  <div id="fb-root"></div>
	  <script src="http://connect.facebook.net/en_US/all.js"></script>
	  <script>
	    FB.init({ appId: '117866098303408', cookie:true, status:true, xfbml:true });
			function fb_message(){
				user_message = " ";
				FB.ui({ method: 'feed', message: user_message});
			}
	  </script>



 <!--<div id="content-box">!-->
<div class="content circle-corners-bottom-left">

<div class="heading-main">
	<h1 class="page-content">
		<% if current_user.nil? then %>
			<%= current_user.first_name + "'s" %>
			<%= current_user.username + "'s" if current_user.first_name.blank? %>
		<% end %>
		MyOmega Page
	</h1>
</div>



  	<h3 class="content-heading"> My Volunteering </h3>
			<table class="accounts">
				<thead>
					<tr id="accounts">
						<th id="accounts">Volunteering<br/>Opportunity</th>
						<th id="accounts">Date</th>
						<th id="accounts">Application Status</th>
						<th id="accounts">Share with Facebook</th>
					</tr>
				</thead>

				<tbody>
					<% @positions.each do |element| %>
						<tr id="accounts">
	         		<td id="accounts"> <%= element[:position].name %></td>
	         		<td id="accounts"> <%= element[:position].start_date %></td>
	         		<td id="accounts"> <%= element[:record].action %></td>
	         		<td id="accounts"> 
								<!--<button onsubmit="fb_message()"> Post </button>!-->
								<form onsubmit="fb_message()">
									<!-- <input type="hidden" id="fb" size="0" maxlength="0"> <input type="submit" value="Post"> !-->
									<input type="submit" value="Post">
								</form>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>

		<br /><br /><br /><br /><br />
		<fb:login-button perms="offline_access">Login with Facebook</fb:login-button>
		<br /><br /><br />



		<hr />
		<%= form_for @contact, :url => update_my_page_users_path do |c| %> 

			<table>
				<tr>
					<td id="row_header"> <h1> My Skills </h1>
					<td id="row_header"> <h1> My Interests </h1>
				</tr>

				<tr>
					<td>
						<%= fields_for @new_skill, :html => { :class => "stuff", :id => "stuff", :name => 'stuff' } do |s| %>
							<p>
								<%= s.label :Add_a_new_skill %>
								<%= s.text_field :name %>
							</p>
						<%end%>
					</td>

					<td>
						<%= fields_for @new_interest, :html => { :class => "stuff", :id => "stuff", :name => 'stuff' } do |s| %>
							<p>
								<%= s.label :Add_a_new_interest %>
								<%= s.text_field :name %>
							</p>
						<%end%>
					</td>
				</tr>

				<tr>
					<td>
						<% @contact.skills.each do |s| %>
							<%= c.fields_for s do |skill_fields| %>
								<p><%= skill_fields.text_field :name %></p>
								<%= skill_fields.hidden_field :id %>
							<%end%>
						<%end%>
					</td>

					<td>
						<% @contact.interests.each do |i| %>
							<%= c.fields_for i do |interest_field| %>
								<p><%= interest_field.text_field :name %></p>
								<%= interest_field.hidden_field :id %>
							<%end%>
						<%end%>
					</td>
				</tr>
			</table>


			<div id="contact_submit">
				<p><%= c.submit :Update %></p>
			</div>
		<%end%>

		
  		<!--<h3 class="application-form"> Sharing </h3>
				<table id="accounts">

					<tbody>
						<tr id="accounts">
							<td id="accounts"> Facebook: </td>
							<td id="accounts">
								<form name="messageForm" onsubmit="publish_stuff();">
									<input type="text" name="message" size="30" maxlength="70"> <input type="submit" value="Post Message"><br />
								</form>
							</td>
						</tr>

						<tr id="accounts">
							<td id="accounts"> Twitter: </td>
							<td id="accounts">
								<form name="messageForm" onsubmit="publish_stuff();">
									<input type="text" name="message" size="30" maxlength="70"> <input type="submit" value="Post Message"><br />
								</form>
							</td>
						</tr>

					</tbody>
				</table>!-->
					


						<!--
				<p id="demo"></p>
				<br />
				<form name="messageForm" onsubmit="publish_stuff();">
					Your message: <input type="text" name="message" size="30" maxlength="70"> <input type="submit" value="Submit"><br />
				</form>




	<p>For Testing Only</p>
	<p><a href="#" onclick="loadFB();">Load Facebook</a></p>
	<p><a href="#" onclick="checkIfLoaded();">Check if it loaded</a></p>
	<p><a href="#" onclick="publish_wall_post();">Publish</a></p>





								<p id="response"> No rsponse yet</p>
								<button type="button" onclick="facebookFunc()"> Facebook Login </button> 
								<p id="demo"></p>   !-->


 </div>
 <!--</div>!-->
</body>
