<% require_stylesheet 'omega_volunteering' %>
<% require_stylesheet 'settings' %>
<%= require_stylesheet 'omega_users_table' %>
<%= require_stylesheet 'omega_users' %>
<%= require_javascript 'omega_users' %>

<style type="text/css">
	h3.application-form {width: 622px;}
</style>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">

<script type="text/javascript">

function makeURL()
{
	text_val = oForm.forms["messageForm"]["message"].value;
	alert("this is n alert");
	//document.getElementById("demo").innerHTML=text_val;
}

</script>

<body>


<div id="right">
	<h1 class="side-bar corners-top"> My Calendar </h1>
		<p> <%= @calendar.inspect unless @calendar.empty? %></p>
		<p> <%= "calendar is empty" if @calendar.empty? %></p>
</div>


<div id="left">
<div class="content circle-corners-bottom-left">

<div class="heading-main-columns">
	<h1 class="page-content">
		<% if current_user.nil? then %>
			<%= current_user.first_name + "'s" %>
			<%= current_user.username + "'s" if current_user.first_name.blank? %>
		<% end %>
		MyOmega Page
	</h1>
</div>



  	<h3 class="application-form"> My Volunteering </h3>
			<table class="accounts">
				<thead>
					<tr id="accounts">
						<th id="accounts">Volunteering<br/>Opportunity</th>
						<th id="accounts">Date</th>
						<th id="accounts">Application Status</th>
					</tr>
				</thead>

				<tbody>
					<% @positions.each do |element| %>
						<tr id="accounts">
	         		<td id="accounts"> <%= element[:position].name %></td>
	         		<td id="accounts"> <%= element[:position].start_date %></td>
	         		<td id="accounts"> <%= element[:record].action %></td>
						</tr>
					<% end %>
				</tbody>
			</table>


  		<h3 class="application-form"> Sharing </h3>
				<table id="accounts">

					<tbody>
						<tr id="accounts">
							<td id="accounts"> Facebook: </td>
							<td id="accounts">
								<form name="messageForm" onsubmit="publish_stuff();">
									<input type="text" name="message" size="30" maxlength="70"> <input type="submit" value="Post Message"><br />
								</form>
							</td>
						</tr>

						<tr id="accounts">
							<td id="accounts"> Twitter: </td>
							<td id="accounts">
								<form name="messageForm" onsubmit="publish_stuff();">
									<input type="text" name="message" size="30" maxlength="70"> <input type="submit" value="Post Message"><br />
								</form>
							</td>
						</tr>

					</tbody>
				</table>
					


						<!--
				<p id="demo"></p>
				<br />
				<form name="messageForm" onsubmit="publish_stuff();">
					Your message: <input type="text" name="message" size="30" maxlength="70"> <input type="submit" value="Submit"><br />
				</form>




	<p>For Testing Only</p>
	<p><a href="#" onclick="loadFB();">Load Facebook</a></p>
	<p><a href="#" onclick="checkIfLoaded();">Check if it loaded</a></p>
	<p><a href="#" onclick="publish_wall_post();">Publish</a></p>





								<p id="response"> No rsponse yet</p>
								<button type="button" onclick="facebookFunc()"> Facebook Login </button> 
								<p id="demo"></p>   !-->


 </div>
 </div>
</body>
