<% require_stylesheet 'omega_volunteering', 'settings', 'omega_users_table', 'omega_users' %>
<%= require_javascript 'omega_users' %>

<style type="text/css">
	div#contact_submit{
		text-align:center;
		width:600px;
		margin:auto;
	}
	#row_header{
		text-align: center;
	}

	h3.content-heading{
		background-color: green;
	}
	div#twitter{
		vertical-align:center;
	}

</style>



<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">

<body>

	<div id="fb">
	  <div id="fb-root"></div>
	  <script src="http://connect.facebook.net/en_US/all.js"></script>
	  <script>
	    FB.init({ appId: '117866098303408', cookie:true, status:true, xfbml:true });
			function fb_message(){
				user_message = " ";
				FB.ui({ method: 'feed', message: user_message});
			}
	  </script>



<div class="content circle-corners-bottom-left">

<div class="heading-main">
	<h1 class="page-content">
		<% if current_user.nil? then %>
			<%= current_user.first_name + "'s" %>
			<%= current_user.username + "'s" if current_user.first_name.blank? %>
		<% end %>
		MyOmega Page
	</h1>
</div>



<h3 class="content-heading"> My Volunteering Events</h3>
	<table class="accounts">
		<tbody>
			<% @positions.each do |element| %>
				<% position = element[:position] %>
				<tr class="accounts" >
         			<td class="accounts"> <%= link_to(position.name, volunteering_position_path(position)) %></td>
         			<td class="accounts"> <%= link_to(position.start_date, volunteering_position_path(position)) %></td>
         			<td class="accounts"> Status: <i><%= element[:record].action %></i></td>
         			<td class="accounts"> 
							<form onsubmit="fb_message()">
								<input type="submit" id="fb" size="0" maxlength="0" value="facebook" /> 
							</form>
						</td>
         			<td class="accounts"> 
							<% full = url_for(:only_path => false).to_s %>
							<% unneccessary = url_for().to_s %>
							<% host = full.gsub(unneccessary, "") %>
							<% position_url = host + (url_for(volunteering_position_path(position))).to_s %>
							
							<div id="twitter" style='vertical-align:center;'>
								<a href="https://twitter.com/share" class="twitter-share-button" data-url="<%=position_url%>" data-text="Check this out" data-count="none">Tweet</a>
								<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
							</div>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>

	<!-- Unneccessary, since we don't need offline access anymore. !-->
		<!--<fb:login-button perms="offline_access">Login with Facebook</fb:login-button>!-->
	<!-- Unneccessary, since we don't need offline access anymore. !-->


	<br /><br />
  	<h3 class="content-heading"> My Skills and Interests </h3>
		<%= form_for @contact, :url => update_my_page_users_path do |c| %> 

			<table>
				<tr>
					<td id="row_header"> <h1> My Skills </h1>
					<td id="row_header"> <h1> My Interests </h1>
				</tr>

				<tr>
					<td>
						<%= fields_for @new_skill, :html => { :class => "stuff", :id => "stuff", :name => 'stuff' } do |s| %>
							<p>
								<%= s.label :Add_a_new_skill %>
								<%= s.text_field :name %>
							</p>
						<%end%>
					</td>

					<td>
						<%= fields_for @new_interest, :html => { :class => "stuff", :id => "stuff", :name => 'stuff' } do |s| %>
							<p>
								<%= s.label :Add_a_new_interest %>
								<%= s.text_field :name %>
							</p>
						<%end%>
					</td>
				</tr>

				<tr>
					<td>
						<% @contact.skills.each do |s| %>
							<%= c.fields_for s do |skill_fields| %>
								<p><%= skill_fields.text_field :name %></p>
								<%= skill_fields.hidden_field :id %>
							<%end%>
						<%end%>
					</td>

					<td>
						<% @contact.interests.each do |i| %>
							<%= c.fields_for i do |interest_field| %>
								<p><%= interest_field.text_field :name %></p>
								<%= interest_field.hidden_field :id %>
							<%end%>
						<%end%>
					</td>
				</tr>
			</table>


			<div id="contact_submit">
				<p><%= c.submit :Update %></p>
			</div>
		<%end%>


	</div>
</body>
