<% require_stylesheet 'omega_volunteering', 'settings', 'omega_users_table', 'omega_users' %>
<%= require_javascript 'omega_users', 'omega_my_page' %>



<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">

<body>

	<div id="fb">
	  <div id="fb-root"></div>
	  <script src="http://connect.facebook.net/en_US/all.js"></script>
	  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
     <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	  <script>
	    FB.init({ appId: '117866098303408', cookie:true, status:true, xfbml:true });
			function fb_message(){
				user_message = " ";
				FB.ui({ method: 'feed', message: user_message});
			}
	  </script>



<div class="content circle-corners-bottom-left">

<div class="heading-main">
	<h1 class="page-content">
		<% if current_user.nil? then %>
			<%= current_user.first_name + "'s" %>
			<%= current_user.username + "'s" if current_user.first_name.blank? %>
		<% end %>
		MyOmega Page
	</h1>
</div>



<h3 class="content-heading"> My Volunteering Events</h3>
	<div id="positions">
	<table class="accounts"><br />
		<tbody>
			<% @positions.each do |element| %>
				<% position = element[:position] %>
				<tr class="accounts" >
         			<td class="accounts"> <%= link_to(position.name, volunteering_position_path(position)) %></td>
         			<td class="accounts"> <%= link_to(position.start_date, volunteering_position_path(position)) %></td>
         			<td class="accounts"> Status: <i><%= element[:record] %></i></td>
         			<td class="accounts"> 
							<form onsubmit="fb_message()">
								<input type="submit" id="fb" size="0" maxlength="0" value="facebook" /> 
							</form>
						</td>
         			<td class="accounts"> 
							<%= render 'twitter', :position => position %>
						</td>
					</tr>
				<% end %>
				<% @service_events.each do |s| %>
					<tr>
						<td class="accounts"> <%= s[:service].name %></td>
						<td class="accounts"> <%= s[:event].inspect.to_s %></td>
						<td class="accounts"> <%= s[:status] %></td>
         			<td class="accounts"> 
							<form onsubmit="fb_message()">
								<input type="submit" id="fb" size="0" maxlength="0" value="facebook" /> 
							</form>
						</td>
         			<td class="accounts"> 
							<%#= render 'twitter', :position => position %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>

	<!-- Unneccessary, since we don't need offline access anymore. !-->
		<!--<fb:login-button perms="offline_access">Login with Facebook</fb:login-button>!-->
	<!-- Unneccessary, since we don't need offline access anymore. !-->


	<br /><br />
	</div>

		<div id="skills_and_interests">
			<%= render 'skills_and_interests' %>
		</div>

	</div>
</body>
