<% require_stylesheet 'omega_volunteering' %>
<% require_stylesheet 'settings' %>
<%= require_stylesheet 'omega_users_table' %>
<%= require_stylesheet 'omega_users' %>
<%= require_javascript 'omega_users' %>


<style type="text/css">
	h3.application-form{
  	background: #87B5CA;
		margin: 45px 0 25px 35px;
	}
</style>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">

<script type="text/javascript">

function makeURL()
{
	text_val = oForm.forms["messageForm"]["message"].value;
	alert("this is n alert");
	//document.getElementById("demo").innerHTML=text_val;
}

</script>

<body>
	<div id="fb">
	  <div id="fb-root"></div>
	  <script src="http://connect.facebook.net/en_US/all.js"></script>
	  <script>
	    FB.init({ appId: '117866098303408', cookie:true, status:true, xfbml:true });
			function fb_message(){
				user_message = " ";
				FB.ui({ method: 'feed', message: user_message});
			}
	  </script>



<!--<div id="right">
	<h1 class="side-bar corners-top"> My Calendar </h1>
		<p> <%#= "Your calendar is empty" %></p>
</div>!-->


<!--<div id="left">!-->
 <!--<div id="content-box">!-->
<div class="content circle-corners-bottom-left">

<div class="heading-main">
	<h1 class="page-content">
		<% if current_user.nil? then %>
			<%= current_user.first_name + "'s" %>
			<%= current_user.username + "'s" if current_user.first_name.blank? %>
		<% end %>
		MyOmega Page
	</h1>
</div>



  	<h3 class="application-form"> My Volunteering </h3>
			<table class="accounts">
				<thead>
					<tr id="accounts">
						<th id="accounts">Volunteering<br/>Opportunity</th>
						<th id="accounts">Date</th>
						<th id="accounts">Application Status</th>
						<th id="accounts">Share with Facebook</th>
					</tr>
				</thead>

				<tbody>
					<% @positions.each do |element| %>
						<tr id="accounts">
	         		<td id="accounts"> <%= element[:position].name %></td>
	         		<td id="accounts"> <%= element[:position].start_date %></td>
	         		<td id="accounts"> <%= element[:record].action %></td>
	         		<td id="accounts"> 
								<!--<button onsubmit="fb_message()"> Post </button>!-->
								<form onsubmit="fb_message()">
									<input type="hidden" id="fb" size="0" maxlength="0"> <input type="submit" value="Post"><br />
								</form>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>


  		<!--<h3 class="application-form"> Sharing </h3>
				<table id="accounts">

					<tbody>
						<tr id="accounts">
							<td id="accounts"> Facebook: </td>
							<td id="accounts">
								<form name="messageForm" onsubmit="publish_stuff();">
									<input type="text" name="message" size="30" maxlength="70"> <input type="submit" value="Post Message"><br />
								</form>
							</td>
						</tr>

						<tr id="accounts">
							<td id="accounts"> Twitter: </td>
							<td id="accounts">
								<form name="messageForm" onsubmit="publish_stuff();">
									<input type="text" name="message" size="30" maxlength="70"> <input type="submit" value="Post Message"><br />
								</form>
							</td>
						</tr>

					</tbody>
				</table>!-->
					


						<!--
				<p id="demo"></p>
				<br />
				<form name="messageForm" onsubmit="publish_stuff();">
					Your message: <input type="text" name="message" size="30" maxlength="70"> <input type="submit" value="Submit"><br />
				</form>




	<p>For Testing Only</p>
	<p><a href="#" onclick="loadFB();">Load Facebook</a></p>
	<p><a href="#" onclick="checkIfLoaded();">Check if it loaded</a></p>
	<p><a href="#" onclick="publish_wall_post();">Publish</a></p>





								<p id="response"> No rsponse yet</p>
								<button type="button" onclick="facebookFunc()"> Facebook Login </button> 
								<p id="demo"></p>   !-->


 </div>
 <!--</div>!-->
</body>
