<%= context_box do %>
<%= require_stylesheet 'omega_users' %>
<h1 class="page-content corners-top">
 Hello  <%= @user.username %>
</h1>
<div class="page-content corners-bottom">
  <div id="vcard">
    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @user.first_name %> <%= @user.last_name %>
      </dd>
    </dl>
    <dl>
      <dt>
        Member since
      </dt>
      <dd>
        <%= @user.created_at.strftime("%m-%d-%Y")  %>
      </dd>
    </dl>
    <dl>
      <dt>
       Email
      </dt>
      <dd>
        <%= @user.email  %>
      </dd>
    </dl>
  </div>
</div>


<% content_for :sidebar do %>
    <%= render :partial => "layouts/sidebar_user" %>
<% end %>
<% end %>
