<%= require_stylesheet 'omega_users'%>

<div class="content circle-corners-bottom-left">
	
	
	
<h2 class="summary">
		Hello <%= @user.first_name %>!
	</h2>
	
		<p class="summary"> <span class="text-style1"> Your registration was successful!
		<br/>
		 A confirmation email has been sent to <%= @user.email %>
		 </span></p>

<p class="summary">
	
	<br/>
	<br/>
	<span class="text-style-large"> Sign In and Start Volunteering Now!</span> <br/>
	
	

</p>

	    <%= render :partial => "layouts/partials/login" %>


</div>
	  
<% content_for :sidebar do %>
    <%= render :partial => "layouts/sidebar_user" %>
<% end %>
