<% require_javascript 'new_time_entry' %>


<%= form_for @entry do |f| %>

    <% hours_errors = [] %>
    <%= errors_for_form @entry %>

    <%= f.hidden_field :record_id %>

    <p>
      Current Week: <%= Time.now.strftime('%U') %> <br/>


      Pick the start date of a Week from the calendar on the right: <%= text_field_tag 'cw' %>

      <%= f.hidden_field :week, :size => 10 %>
    </p>
    <table width="50%">
      <thead>
      <th>Day</th>
      <th>Hours</th>
      </thead>
      <% @entry.days.each_with_index do |ed| %>
          <%= f.fields_for "days", ed do |d| %>
              <tr class="<%= cycle("even", "odd") -%>">
                <% day = d.object %>
                <% hours_errors << day.errors unless day.errors.empty? %>


                <td>   <%= d.hidden_field :day %>         <%= ed.day %>
                </td>
                <td><%= d.text_field :hours, :size => 5 %><%= hours_errors.size unless day.errors.empty? %></td>
              </tr>
          <% end %>
      <% end %>

    </table>
    <% unless hours_errors.empty? %>
        <% hours_errors.each_with_index do |hour_errors, i| %>
            <%= debug hour_errors.full_messages %><%= i + 1 %>
        <% end %>
    <% end %>


    <br/>
    <p>


      <span class="om-button">
<span class="om-icon om-icon-save"></span>
        <%= f.submit "Save!", :class => 'om-icon-space' %>
</span>


    </p>


    <% content_for :sidebar do %>
        <%= render :partial => "layouts/sidebar_time_entries" %>
    <% end %>

<% end %>