<% require_javascript 'new_time_entry' %>


<%= form_for @entry do |f| %>

    <% hours_errors = [] %>
    <%= errors_for_form @entry %>

    <%= f.hidden_field :record_id %>

    <p>

      Pick the start date of a Week by cliking the input field aside <%= f.text_field :week, :class => 'datepickr' %>

     
    </p>
    <table  class="width-100">
      <thead>
      <th class="ui-state-default">Day</th>
      <th class="ui-state-default">Hours</th>
      </thead>
      <% @entry.days.each_with_index do |ed| %>
          <%= f.fields_for "days", ed do |d| %>
              <tr class="<%= cycle("even", "odd") -%>">
                <% day = d.object %>
                <% hours_errors << day.errors unless day.errors.empty? %>

                <td> <%= d.hidden_field :day %>         <%= ed.day %>
                </td>
                <td>
                  <span data-tooltip="Increase" class="om-icon-only om-blue-icon ui-icon-plusthick increase"></span>
                  <%= d.text_field :hours, :class => 'inputSmall'%>
                <span data-tooltip="Decrease" class="om-icon-only om-blue-icon ui-icon-minusthick decrease"></span>  
                  <%= hours_errors.size unless day.errors.empty? %>
                </td>
              </tr>
          <% end %>
      <% end %>

    </table>
    <% unless hours_errors.empty? %>
        <% hours_errors.each_with_index do |hour_errors, i| %>
            <%= debug hour_errors.full_messages %><%= i + 1 %>
        <% end %>
    <% end %>

    <p>
<%= om_button(:icon=>'save') do %>
        <%= f.submit "Save" %>
    <% end %>

    </p>


<% end %>