<%# require_javascript 'new_time_entry' %>
<% require_javascript 'thirdParty/jquery.timepicker', 'time_entry' %>

<%= form_for @entry do |f| %>

   <% hours_errors = [] %>
   <%= errors_for_form @entry %>
   <%= f.hidden_field :record_id %>

	<p>
		Select week: <%= f.text_field :week, :class => 'datepickr' %>
	</p>

	<table id="record_hours_options">
		<tr>
			<td>
				<% if current_user.has_permission? Volunteering::PERM_ADMIN %>
					User: <%= collection_select :contact, :id, Contact.all, :id, :full_name %>
				<% elsif !current_user.has_permission? Volunteering::PERM_ADMIN %>
					User: <%= current_user.first_name %>
				<% end %>
			</td>

			<td id='select_position_options'>
				<%= render 'select_position_options' %>
			</td>
		</tr>
	</table>


   <table class="width-100">
		<tr>
	     	<% @entry.days.each_with_index do |ed| %>
	        	<%= f.fields_for "days", ed do |d| %>
	           	<% day = d.object %>
	            <% hours_errors << day.errors unless day.errors.empty? %>
	            <td> <%= d.hidden_field :day %> <%= ed.day %> </td>
	            <td>
						<%= d.text_field :hours, :class => 'inputSmall'%>
						<%= hours_errors.size unless day.errors.empty? %>
	            </td>
	         <% end %>
	      <% end %>
	   </tr>
	</table>

    <% unless hours_errors.empty? %>
        <% hours_errors.each_with_index do |hour_errors, i| %>
            <%= debug hour_errors.full_messages %><%= i + 1 %>
        <% end %>
    <% end %>

	 <div id='record_hours_submit'>
		<%= om_button(:icon=>'save') do %>
        <%= f.submit "Save" %>
		<% end %>
	 </div>

<% end %>

<script type="text/javascript">
	$( '#record_hours_options' ).delegate( 'select#contact_id', 'change', function(){
		var self = $(this);
		var val = self.attr( 'value' );
		$.ajax({
			url: "<%=new_volunteering_time_entry_url(:id=>@record)%>",
			type: "GET",
			data: {contact_id:val},
			dataType: 'script',
			cache: false
		});
	});
</script>
