<% require_javascript 'new_time_entry' %>
<% require_stylesheet 'new_time_entry' %>

<%= form_for @entry do |f| %>

    <% hours_errors = [] %>
    <%= errors_for_form @entry %>

    <%= f.hidden_field :record_id %>

    <p>
      Current Week: <%= Time.now.beginning_of_week().strftime('%Y/%m/%d') %> (Monday) <br/>
    </p>



    Pick a Week from the calendar on the right:

    <%= f.text_field :week, :class => 'datepickr', :size => 10 %>

    <table>
      <thead>
      <th>Day</th>
      <th>Hours</th>

      </thead>





      <%= f.fields_for :days do |d| %>
          <tr>
            <% day = d.object %>
            <% hours_errors << day.errors unless day.errors.empty? %>
            <%= d.hidden_field :day %>

            <td><%= debug d.to_s %> </td>
            <td><%= d.text_field :hours, :size => 5 %><%= hours_errors.size unless day.errors.empty? %></td>
          </tr>
      <% end %>


    </table>
    <% unless hours_errors.empty? %>
        <% hours_errors.each_with_index do |hour_errors, i| %>
            <%= debug hour_errors.full_messages %><%= i + 1 %>
        <% end %>
    <% end %>


    <br/>
    <p>
<span class="om-button">
      <%= f.submit "Save!" %>
</span>
    </p>


    <% content_for :sidebar do %>
        <%= render :partial => "layouts/sidebar_time_entries" %>
    <% end %>

<% end %>