
        
        <%unless entry.nil?%>
        <tr id="record-<%= entry.record.id %>">
          <%= f.hidden_field :week, :value => start %>   
    				<%= f.hidden_field :record_id, :value => entry.record_id %>
          <td> <%=Contact.find(Volunteering::Record.find(entry.record_id).contact_id).first_name%></td>
          
          <%entry.days.each_with_index do |ed| %>
          <%= f.fields_for "days", ed do |d| %>
                <% day = d.object %>
                <% hours_errors << day.errors unless day.errors.empty? %>

                <%= d.hidden_field :id%>
                <%= d.hidden_field :day, :value => day.day%>
                <td>
                  <%= d.text_field :hours, :class => 'inputSmall'%>
                  <%= hours_errors.size unless day.errors.empty? %>
                </td>
                
          <% end %>
      	<% end %>
      	
        
        </tr>
        
   <%end%>
