<% require_javascript 'new_time_entry' %>
<% require_stylesheet 'thirdParty/date.f-0.5.0','thirdParty/jquery.timepicker', 'omega_volunteering' %>

 
 <div class="content circle-corners-bottom-left">
    	
		<div class="heading-main">
	
				<h1 class="page-content">
      				Timesheets
		    	</h1>
	
		</div>

        
       <br/>
       
       <p>
       <strong> Volunteering Position: <%=@position.name%> </strong>
       </p>

       <div id="main-box">

		<%= form_tag :action=> 'create' do %>

   		<br/>
    	<% if @records.empty? %>
        <p>

    	No Volunteers have been assigned yet!
        </p>   
	
    	<%else%>
    	
    	
    	Choose a week:
    	<br/>
    	<span data-tooltip="Previous Week" class="om-icon-only om-green-icon ui-icon-previous-week decrease"></span>
         <%= text_field_tag 'weekDate', @start, :class => "datepickr", :'data-tooltip '=> 'Choose the Start of the Week' %>
        <span data-tooltip="Next Week" class="om-icon-only om-green-icon ui-icon-next-week increase"></span>
    	<%#= text_field_tag 'weekDate' , @start , :class => 'datepickr' %> 
        
    	<br/>
    	<% #hours_errors = [] %>
    	<% #= errors_for_form @entry %>
    
    
  		<table  class="width-100">
     	 <th class="ui-state-default">Volunteer</th>
     	 <th class="ui-state-default">Mon</th>
     	 <th class="ui-state-default">Tue</th>
     	 <th class="ui-state-default">Wed</th>
     	 <th class="ui-state-default">Thur</th>
     	 <th class="ui-state-default">Fri</th>
     	 <th class="ui-state-default">Sat</th>
     	 <th class="ui-state-default">Sun</th>
          

    	<% @entries.each_with_index do |entry, index| %>

    	<%= fields_for "entries[#{index}]", entry do |f| %>

          <p>

         <%= f.hidden_field :week %>
     
          </p>

    
    	<%= f.hidden_field :record_id, :value =>  entry.record_id %>

   
    
      	<tr class="<%= cycle("even", "odd") -%>">
      		<td> <%=Contact.find(Volunteering::Record.find(entry.record_id).contact_id).first_name%></td>
      	<%entry.days.each_with_index do |ed| %>
          <%= f.fields_for "days", ed do |d| %>
                <% day = d.object %>
                <% hours_errors << day.errors unless day.errors.empty? %>

                <%= d.hidden_field :id%>
                <%= d.hidden_field :day, :value => day.day%>
                <td>
                  <%= d.text_field :hours, :class => 'inputSmall'%>
                  <%= hours_errors.size unless day.errors.empty? %>
                </td>
                
          <% end %>
      	<% end %>
                    
      	</tr>

    
    	<%end%>
    	<% end %>   
          </table>

    	</p>
   	 	<p>
    	<%= om_button(:icon=>'save') do %>
        	<%= submit_tag "Save" %>
   	 	<% end %>

    	</p>

    	<%end%>

		<% end %>

	</div>

	</div>

       
