<%= context_box do %>
<h1 class="page-content corners-top">
  <%= Volunteering::Position.find_by_id(Volunteering::Record.find_by_id(@entry.record.id).position_id).name %>
  Position Time Sheet
</h1>

<div class="page-content corners-bottom">

  <h3>
    Week: <%= start = @entry.week.strftime('%Y/%m/%d') %> -
    <%= Date.parse(start).advance(:days => 6).to_time.strftime('%Y/%m/%d') %>
  </h3>


  <table class="width-100">
    <thead>
    <th class="ui-state-default"></th>
    <th class="ui-state-default">MON</th>
    <th class="ui-state-default">TUE</th>
    <th class="ui-state-default">WED</th>
    <th class="ui-state-default">THU</th>
    <th class="ui-state-default">FRI</th>
    <th class="ui-state-default">SAT</th>
    <th class="ui-state-default">SUN</th>
    </thead>

    <tr>
      <td>Hours</td>

      <% @entry_days.each do |ed| %>

          <% if @entry.id == ed.time_entry_id %>

            <td>
              <%= ed.hours %>
            </td>

          <% end %>



      <% end %>
    </tr>
  </table>

  <p>


    <%= om_button(:icon => 'clock') do %>
        <%= link_to "Add Hours for Another Week", new_volunteering_time_entry_url(:id => @entry.record.id) %>
    <% end %>


  </p>

</div>
<% end %>