<%= require_javascript 'thirdParty/jquery_validate_190', 'new_user' %>
<div id="signup-form">
<%= form_for @user, :url => register_users_path do |f| %>
<!--<p> This is user contact: <%= is_nil = @user.contact.nil? ? "nil" : "not nil" %></p>-->
   <%= errors_for_user_registration @user, @user.contact %>

	<%= f.fields_for :contact do |c|%>

	 <h3 class="application-form">PERSONAL INFORMATION </h3> 

     	<p>
     		<%= c.label :first_name, :class => "mandatory-field"%>
	   	<%= c.text_field(:first_name, :'data-tooltip' => 'Your first name') %> 
	   </p>
	    
	   <p>
      	<%= c.label :last_name, :class => "mandatory-field" %>
	   	<%= c.text_field(:last_name, :'data-tooltip' => 'Your family name') %> 
		</p>

		<p>
			<%= c.label :birthday %>
			<%= c.text_field :birthday, :'data-tooltip' => 'Your birthday. MM/DD/YYYY' %>
		</p>
		
		<p>
			<%= c.label :over_18, 'I am over 18' %>
			<%= c.check_box :over_18, :'data-tooltip' => 'Many organizations require that volunteers younger than 18 have their parents permission before volunteering for a position.' %>
		</p>
			   
		<%=  c.fields_for :addresses do |a|%>

        	<p>
        		<%= a.label :city, :class => "mandatory-field"%>
				<%= a.text_field(:city, :'data-tooltip' => 'City where you reside') %> 
		   </p>
		    
		   <p>
        		<%= a.label :postal_code , :class => "mandatory-field"%>
				<%= a.text_field(:zip_code, :'data-tooltip' => 'Your postal code or zip code') %>
	 		</p>

		<%end%>
		
		<%= c.fields_for :phone_numbers do |p|%>
			<p>
				<%= p.label :phone , :class => "mandatory-field"%>
				<%= p.text_field :number%>
			</p>
		<%end%>

	<%end%>
              
    <h3 class="application-form">LOG IN INFORMATION </h3> 

   <%= f.fields_for :contact do |c|%>
   	
   	  <p>	
      <%= c.label :email, :class => "mandatory-field" %>
      <%= c.text_field(:email, :'data-tooltip' => 'Email where you could be contacted') %>
	  </p>
	  
	  <p>
	  <%= c.label :confirm_email, :class => "mandatory-field" %>
      <%= c.text_field(:email_confirmation, :'data-tooltip' => 'Re-type email address again') %>
	  </p>
	  
   <%end%>
   
   	  <p>
      <%= f.label :username, :class => "mandatory-field" %>
      <%= f.text_field(:username, :'data-tooltip' => 'Username should include atleast 2 characters')%>
	  </p>
	  
	  <p>
      <%= f.label :password, :class => "mandatory-field" %>
      <%= f.password_field(:password, :'data-tooltip' => 'The password should have atleast 8 characters') %>
	  </p>
	  
	  <p>
      <%= f.label :confirm_password, :class => "mandatory-field" %>
      <%= f.password_field :password_confirmation %>
      </p>
        <%#= f.label :time_zone %>
        <%#= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
    <%= om_button do %>
        <%= f.submit "REGISTER" %>
    <% end %>

<% end %>

</div>
