

<div class="content circle-corners-top circle-corners-bottom">

<div class="heading-main">
	
		<h1 class="page-content">
			Recover Password
		</h1>
	
	<div class="right-heading">
		<p class="info-text">
			<span class="info-text"> Remember your password? <strong><%= link_to "Sign In!" %></strong> </span>
		</p>
	</div>
	

</div>


<div class="signup-box">	
	
	<div class="bg-box box-shadow corners-bottom corners-top">
		
			
	    
			<% unless request.post? %>

			<%= form_tag do %>
  
      		<p class="red-text">
				Enter your username, the one you use to login. <br/><br/>
			</p>
	    	
	    	<p>
        			<%= label_tag :username, "Username",:class => "login" %>
        			<%= text_field_tag :username %>
 			</p>
 			
 					 <%= om_button do %>
      					<%= submit_tag 'Submit' %>
  					<% end %>
			<% end %>
			<% else %>
			<p>An email has been sent to the address for <%= @username %> containing instructions for resetting your password.</p>
			<% end %>	
			
	</div>
</div>
</div>



