

<div class="content circle-corners-top circle-corners-bottom">

<div class="heading-main">
	
		<h1 class="page-content">
			Recover Username
		</h1>
	
	<div class="right-heading">
		<p class="info-text">
			<span class="info-text"> Remember your username? <strong><%= link_to "Sign In!" %></strong> </span>
		</p>
	</div>
	

</div>


<div class="signup-box">	
	
	<div class="bg-box box-shadow corners-bottom corners-top">
		
			
	    
			<% unless request.post? %>

			<%= form_tag do %>
  
      		<p class="red-text">
				Enter your email address, the one you had put in at the time of registration. <br/><br/>
			</p>
	    	
	    	<p>
        			<%= label_tag :email, "Email",:class => "login" %>
        			<%= text_field_tag :email %>
 			</p>
 			
 					 <%= om_button do %>
      					<%= submit_tag 'Submit' %>
  					<% end %>
			<% end %>
			<% else %>
			<p class="red-text">An email has been sent to <span style="font-size: 18px; font-family: 'Century Schoolbook'; font-weight:bold; color:#CC3300;"><%= @email %> </span> containing all usernames associated with that address.</p>
			<% end %>	
			
	</div>
</div>
</div>

