<% require_stylesheet 'omega_volunteering', 'settings', 'omega_users_table', 'omega_users' %>
<%#= javascript_include_tag 'omega_users', 'omega_my_page' %>


<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">

<body>

	<div id="fb">
	  <div id="fb-root"></div>
	  <script src="http://connect.facebook.net/en_US/all.js"></script>
	  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
     <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	  <script>
	    FB.init({ appId: '117866098303408', cookie:true, status:true, xfbml:true });
			function fb_message(){
				user_message = " ";
				FB.ui({ method: 'feed', message: user_message});
			}


			$(document).ready(function() {
				div_height();
				$('#skills div.draggable').draggable({containment: 'table#skills', snap: '.droppable_skills', snapMode: 'inner' });
				$('#interests div.draggable').draggable({containment: 'table#interests', snap: '.droppable_interests', snapMode: 'inner' });
				// Droppables to add tags.
				$("#droppable_skills").droppable({
					drop: function(event, ui) {
						if("other" == ui.draggable.attr('id')) {
							add_tag($( this ), ui.draggable, "#contact_skill_ids");
						}
					}
				});
				$("#droppable_interests").droppable({
					drop: function(event, ui) {
						if("other" == ui.draggable.attr('id')) {
							add_tag($( this ), ui.draggable, "#contact_interest_ids");
						}
					}
				});
		
				// Droppables to remove tags.
				$("#other_skills").droppable({
					drop: function(event, ui) {
						if("own" == ui.draggable.attr('id')) {
							remove_tag($( this ), ui.draggable, "#contact_skill_ids");
						}
					}
				});
				$("#other_interests").droppable({
					drop: function(event, ui) {
						if("own" == ui.draggable.attr('id')) {
							remove_tag($( this ), ui.draggable, "#contact_interest_ids");
						}
					}
				});
			});
		
			add_tag = function(self, dragged, input_id){
				var tag_id = dragged.attr('ui-data');
				var old_val = $(input_id).attr( 'value' ).replace(']', '');
				$(input_id).val(old_val + ", " + tag_id + "]");
				div_height();
				switch_css(dragged);
			}
		
			remove_tag = function(self, dragged, input_id){
				var tag_id = dragged.attr('ui-data');
				var old_val = $(input_id).attr( 'value' ).replace(']', '').replace('[', '').replace(' ', '').split(',');
				var index = -1;
				for(i=0; i < old_val.length; i++){
					var needle = RegExp(tag_id);
					var haystack = old_val[i].replace(" ", "");
					if(needle.test(haystack)){
						index = i;
					}
				}
				if(index != -1){ old_val.splice(index,1); }
				$(input_id).val(old_val.join(', '));
		
				var val = $(input_id).val;
				div_height();
				switch_css(dragged);
			}
				
			switch_css = function(dragged){
				if(dragged.attr( 'id' ) == "own"){
					dragged.css('background-color', 'green');
					dragged.css('color', 'white');
					dragged.attr( 'id', 'other');
				}
				else{
					dragged.css('background-color', 'lightBlue');
					dragged.css('color', 'black');
					dragged.attr( 'id', 'own');
				}
			}
			
			div_height = function(){
				var skills = $('#contact_skill_ids').attr( 'value' ).split(',').length;
				var interests = $('#contact_interest_ids').attr( 'value' ).split(',').length;
		
				// For add droppables.
				var longer = skills > interests ? skills : interests;
				var height = 36 * Math.ceil((longer + 1) / 3);
				$('#droppable_interests').css('height', height);
				$('#droppable_skills').css('height', height);
		
				//For other droppables.
				var inter = $('#other_interests').find( 'div' ).length;
				var own_inter = $('#droppable_interests').find( 'div' ).length;
				var i_count = inter - (interests - own_inter);
				//alert('i_count = (interests - own_inter) - other inter ' + i_count + ' ' + interests + ' ' + own_inter + ' ' + inter);
				
				var ski = $('#other_skills').find( 'div' ).length;
				var own_ski = $('#droppable_skills').find( 'div' ).length;
				var s_count = ski - (skills - own_ski);
				//alert('ski and own_ski and s_count ' + ski + ' ' + own_ski + ' ' + s_count);
		
				var count = i_count > s_count ? i_count : s_count;
				var height = 36 * Math.ceil((count + 1) / 3);
				$('#other_skills').css('height', height);
				$('#other_interests').css('height', height);
			}
	  </script>



<div class="content circle-corners-bottom-left">

<div class="heading-main">
	<h1 class="page-content">
		<% if current_user.nil? then %>
			<%= current_user.first_name + "'s" %>
			<%= current_user.username + "'s" if current_user.first_name.blank? %>
		<% end %>
		MyOmega Page
	</h1>
</div>

<h3 class="content-heading"> My Volunteering Events</h3>
	<div id="positions">
		<table class="accounts"><br />
			<tbody>
				<% @positions.each do |element| %>
					<% position = element[:position] %>
					<tr class="accounts" >
	         			<td class="accounts"> <%= link_to(position.name, volunteering_position_path(position), :'data-tooltip' => 'Click to see this volunteering event')%></td>
	         			<td class="accounts"> <%= link_to(position.start_date, volunteering_position_path(position)) %></td>
	         			<td class="accounts">
								Status: <i><%= element[:record] %></i>
								<% if element[:record] == "Accepted" %>
	         					<br /><%= link_to('Record Hours', new_volunteering_time_entry_url(:position_id => position.id, :'data-tooltip' => 'Log hours for this position')) %>
								<% end %>
							</td>
	         			<td class="accounts"> 
								<form onsubmit="fb_message()">
									<input type="submit" id="fb" size="0" maxlength="0" value="facebook" /> 
								</form>
							</td>
	         			<td class="accounts"> 
								<%= render 'twitter', :position => position, :service => false %>
							</td>
						</tr>
					<% end %>
					<% unless @service_events.nil? %>
						<% @service_events.each do |s| %>
							<tr class="accounts" >
								<td class="accounts"> <%= link_to(s[:service].name, services_url(:service_id=>s[:service].id), :'data-tooltip' => 'Click to see this service') %></td>
								<td class="accounts"> <%= s[:next_event].to_s %></td>
								<td class="accounts"> Status: <i><%= s[:status] %></i></td>
		         			<td class="accounts"> 
									<form onsubmit="fb_message()">
										<input type="submit" id="fb" size="0" maxlength="0" value="facebook" /> 
									</form>
								</td>
		         			<td class="accounts"> 
									<%= render 'twitter', :position => s[:service], :service => true %>
								</td>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>
	
		<!-- Unneccessary, since we don't need offline access anymore. !-->
			<!--<fb:login-button perms="offline_access">Login with Facebook</fb:login-button>!-->
		<!-- Unneccessary, since we don't need offline access anymore. !-->
	
	
		<br /><br />
	</div>


	<% if not @contact.nil? %>
		<%= form_for @contact, :url => update_my_page_user_path(@user) do |c| %> 
			<div id="skills_and_interests">
				<%= render 'skills_and_interests', :c => c %>
			</div><br />
	
			<%= render 'personal_info', :c => c %>
	
			<div id="contact_submit">
				<p><%= c.submit :Update %></p>
			</div>
		<% end %>
	<% end %>


	</div>
</body>
