<% require_javascript 'add_field.js' %>
<% require_stylesheet 'services.css' %>


<div class="content circle-corners-bottom-left">
    	
		<div class="heading-main">
	
				<h1 class="page-content">
      				  Add Fields to <%= @service.service_name %> 

		    	</h1>
	
		</div>
  <br/>
  
  <p><span class="style3">Please Choose:</span> <br/>

           <br/>
           <% [["Add a Service Detail", "checked"], ["Add a Registration Detail", ""]].each do |choice, check| %>
               <%= radio_button 'service', 'service_field', choice, {:checked => check} %>
               <%= choice %> <br/>

           <% end %>


  </p>
  <div id="service_fields">
    <%= render :partial => "service_field_form" %>
  </div>


  <div id="registration_fields">
    <%= render :partial => "registration_field_form" %>

  </div>



</div>