<%= form_for @field do |f| %>

      <%= errors_for_form(@field, 'field') %>

      <%= f.hidden_field :service_id, :value => @service.id %>

      <p>

      <strong>Field Name</strong><br/>
      <%= f.text_field :field_name %><br/>

      <br/>

      <strong>Field Type</strong><br/>

      <%=f.select :field_type, options_for_select(%w{ Text String Number Date Time }) %> <br/>

      <br/>

       <%= f.hidden_field :field_category, :value => "Service Details" %> 


      <%= f.fields_for :value do |d|%>

        <strong>Field Value</strong> <br/>
          <%=d.text_field :field_value%>      <br/>



      <%end%>

      <br/>


          <%= f.submit "Add!" %>

        </p>

  <% end %>

