<li class="list-item relative">
  <div class="item-list-actions-wrapper corners">
    <div class="item-list-actions">
                    <span class="om-plain-icon-button"><span class="om-icon om-icon-edit"></span>
                    <span class="edit-ui-em">Edit </span> </span> <br/>
      <span class="om-plain-icon-button"><span class="om-icon om-icon-delete"></span>
                    <span class="delete-ui-em">Delete </span> </span>
    </div>
  </div>

  <div id="<%= "ui-em-#{index}" %>" class="ui-em-preview" ui-data="date">
    <%= label_tag @field.field_name, nil, :id=>"fields_#{index}_field_name_preview", :class =>'label-preview' %>

    <span >
           <input id="<%= "value-preview-#{index}"%>" class="service" disabled="disabled" type="text" value="<%= @field.value.field_value %>"/>
     </span>
  </div>
	
  <input type="hidden" id="<%= "value-preview-#{index}" %>">
  <%= render :partial => 'form_builder/partials/hidden_fields', :locals => { :index => index }%>

</li>




