<%= form_for :group, @group, :url => {:action => "create"} do |f| %>
    <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
      </p>
    <p>
    <%= f.label :description %>  
    <%= f.text_area :description %>
      </p>
    <%= om_button(:icon=>'save') do %>
        <%= f.submit %>
    <% end %>

     <%= om_button(:icon=>'delete') do %>
        <%= link_to 'Cancel', groups_url  %>
    <% end %>

<% end %>