<a href="#" class="group_head_link">
  <%= group.name %>
  <% if current_contact %>
    <span id="group_capacity_<%= group.id %>" class="capacity" >
      <%= om_button(:plain => true, :icon => 'user') do %>
        <%= group.members.count.to_s %><%= " / "+group.capacity.to_s if group.capacity%>
      <% end %>
    </span>

    <% group_request = GroupsRequester.find_by_group_id_and_requester_id(group.id, current_user.id) %>
    <% if group_request %>
      <span id="group_request_status_<%= group_request.id %>" class="request_status" ><%= group_request.status %></span>
    <% end %>

  <% end %>
</a>
