<div class="topics">
  <div class="table round">
    <div class="thead">
      <div class="th">
        <div class="td topic_type"></div>
        <div class="td topic_title">Topic</div>
        <div class="td topic_popularity">Reply</div>
        <div class="td topic_last_post">Last Post</div>
      </div>
    </div>
  
    <div class="tbody">
      <% @announcements.each do |t| %>
      <div class="tr announcement">
        <div class="td topic_type"><%= announcement_sign %></div>
        <div class="td topic_title" title="<%= t.post.content %>">
          <%= link_to t.post.title, topic_url(t, :group_id=>@group.id) %>
          <div class="author_block">By <span class="author_link"><%= link_to t.post.author.name, contact_url(t.post.author) %></span></div>
        </div>
        <div class="td topic_popularity"><%= t.popularity %></div>
        <div class="td topic_last_post">
          <%= t.last_post.updated_at %>
          <div class="author_block">
            By <span class="author_link"><%= link_to t.last_post.author.name, contact_url(t.last_post.author) %></span>
          </div>
        </div>
      </div>
      <% end %>
      <% @regular_topics.each do |t| %>
      <div class="tr regular">
        <div class="td topic_type"></div>
        <div class="td topic_title" title="<%= t.post.content %>">
          <%= link_to t.post.title, topic_url(t, :group_id=>@group.id) %>
          <div class="author_block">By <span class="author_link"><%= link_to t.post.author.name, contact_url(t.post.author) %></span></div>
        </div>
        <div class="td topic_popularity"><%= t.popularity %></div>
        <div class="td topic_last_post">
          <%= t.last_post.updated_at %>
          <div class="author_block">
            By <span class="author_link"><%= link_to t.last_post.author.name, contact_url(t.last_post.author) %></span>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>


<div class="page_bottom_links">
  <%= render "space_bottom_links" %>
</div>