<%= require_javascript 'thirdParty/jquery.jscrollpane.min.js', 'omega_groups' %>
<%= require_stylesheet 'omega_groups' %>
    
  <%- title "Omega - Groups" %>
  
    
    <h1 class="page-content-evergreen corners-top">
      Group Overview
    </h1>
    <div class="page-content-evergreen corners-bottom">
      <ul id="groups-list">
        <% @groups.each do |group| %>
            <li id="group-<%= group.id %>" class="list-item relative">
              <div class="item-list-actions-wrapper corners">
                <div class="item-list-actions">
                  <%= om_button(:plain=> true, :icon=>'delete') do %>
                      <%= link_to 'Delete', group_path(group), :method=> :delete, :remote=> true %>
                  <% end %>
                </div>
              </div>
              <div>
                <%= link_to group.name, group_path(group) %>
              </div>
            </li>
        <% end %>
      </ul>
      <%= will_paginate @groups %>
      <div class="clear"></div>
    </div>
<% end %>
<% content_for :sidebar do %>
    <%= render :partial => "partials/sidebar_search" %>
    <%= render :partial => "partials/sidebar_groups" %>
    <%= render :partial => "partials/sidebar_groups_search" %>
