<% require_javascript 'omega_messages' %>

<h1 class="page-content corners-top">
  Messages
</h1>
<div class="page-content corners-bottom">
  <div class="right">
    <%= om_button(:icon=>'sort-az') do %>
        <%= link_to 'sort Asc', messages_path(:created_at => 'asc') %>
    <% end %>
    <%= om_button(:icon=>'sort-za') do %>
        <%= link_to 'sort Desc', messages_path(:created_at => 'desc') %>
    <% end %>
  </div>
  <div class="clear"></div>
  <ul id="messages-list">
    <% @messages.each do |message| %>
        <li class="list-item relative">
          <div class="item-list-actions-wrapper corners">
            <div class="item-list-actions">
              <%= om_button(:plain=> true, :icon=>'delete') do %>
                  <%= link_to 'Delete', message_path(message), :method=> :delete %>
              <% end %>
              <%= om_button(:plain=> true, :icon=>'mail-reply') do %>
                  <%= link_to 'Reply', reply_message_path(message) %>
              <% end %>
            </div>
          </div>
          <h3>
            <% if !message.read? %>
                <%= link_to truncate(message.subject, :length=>60), message_path(message), :class => 'bold' %>

            <% else %>

                <%= link_to truncate(message.subject, :length=>60), message_path(message), :class => 'italic' %>

            <% end %>

          </h3>

          <div>
            <%= om_button(:plain => true, :icon => 'user') do %>
                From:  <%= link_to "#{message.from.first_name} #{message.from.last_name}", contact_path(message.from), :class => 'blue' %>
            <% end %>
            <%= message.created_at.strftime("%a %m/%d/%Y at %I:%M %p") %>
            <br>
            <%= truncate(message.body, :length=> 160) %>
          </div>

        </li>
    <% end %>
  </ul>
  <%= will_paginate @messages %>

  <div class="clear"></div>
</div>
<% content_for :sidebar do %>
    <%= render :partial => "layouts/sidebar_messages_menu" %>
<% end %>