<h1 class="page-content corners-top">
  Messages
</h1>

<div class="page-content corners-bottom">
  <div class="right">
    <%= om_button(:icon=>'sort-az') do %>
        <%= link_to 'sort A-Z', messages_path(:subject => 'asc') %>
    <% end %>
    <%= om_button(:icon=>'sort-za') do %>
        <%= link_to 'sort Z-A', messages_path(:subject => 'desc') %>
    <% end %>
  </div>


  <div class="clear"></div>


<ul id="messages_list">
  <% @messages.each do |message| %>
      <li class="item-list clearfix">

        <h2>
          <% if !message.read? %>
              dfdf
              <% end %>
          <%= link_to truncate(message.subject, :length=>60), message_path(message) %>
        </h2>

        <div class="">
          <%= truncate(message.subject, :length=> 160) %>
        </div>
        <div class="right">

    <%= om_button(:icon=>'delete') do %>
        <%= link_to 'Delete', message_path(message), :method=> :delete, %>
    <% end %>
    <%= om_button(:icon=>'mail-reply') do %>
        <%= link_to 'Reply', reply_message_path(message) %>
    <% end %>
 

        </div>


      </li>

  <% end %>
</ul>


</div>



<% content_for :sidebar do %>
    <%= render :partial => "layouts/sidebar_messages_menu" %>
<% end %>