<% require_javascript 'omega_messages' %>
<%= context_box do %>
<h1 class="page-content corners-top">
  Sent Messages
</h1>
<div class="page-content corners-bottom">

  <ul id="messages-list">
    <% @messages.each do |message| %>
        <li class="list-item relative">
          <div class="item-list-actions-wrapper corners">
            <div class="item-list-actions">
              <%= om_button(:plain=> true, :icon=>'delete') do %>
                  <%= link_to 'Delete', message_path(message), :method=> :delete %>
              <% end %>
            </div>
          </div>
          <h3>
            <% if !message.read? %>
                <%= link_to truncate(message.subject, :length=>60), message_path(message), :class => 'bold' %>

            <% else %>

                <%= link_to truncate(message.subject, :length=>60), message_path(message), :class => 'italic' %>

            <% end %>

          </h3>

          <div>
            <%= om_button(:plain => true, :icon => 'user') do %>
                To:  <%= link_to "#{message.to.first_name} #{message.to.last_name}", contact_path(message.to), :class => 'blue' %>
            <% end %>
            <%= message.created_at.strftime("%a %m/%d/%Y at %I:%M %p") %>
            <br>
            <%= truncate(message.body, :length=> 160) %>
          </div>

        </li>
    <% end %>
  </ul>
  <%= will_paginate @messages %>

  <div class="clear"></div>
  </div>
    <% end %>
  <% content_for :sidebar do %>
      <%= render :partial => "layouts/sidebar_messages_menu" %>
  <% end %>