<h1 class="page-content corners-top">
  <%= @message.subject %>
</h1>
<div class="page-content corners-bottom">
  <p>
    From: <%= @message.from.first_name %> <%= @message.from.last_name %>
  </p>
<p>
  Subject: <%= @message.subject %>
</p>
  <p>

  <%= @message.body %>  
  </p>

</div>

<% content_for :sidebar do %>
    <%= render :partial => "layouts/sidebar_messages_menu" %>
<% end %>