<%= context_box do %>


<div class="content circle-corners-top circle-corners-bottom">

<div class="heading-main">
	
	<div class="left-heading">
		<h1 class="page-content">
  			<%= @message.subject %>
		</h1>
	</div>
	
	
	    
</div>


<div class="main-box">
	

  <p>
    From: <%= @message.from.first_name %> <%= @message.from.last_name %>
  </p>
<p>
  Subject: <%= @message.subject %>
</p>
  <p>

  <%= @message.body %>  
  </p>

</div>
<% end %>
