<% require_javascript 'omega_home/omega_home','thirdParty/jquery.timepicker' %>
<% require_javascript 'ui_util' %>
<% require_stylesheet 'omega_home' %>

<%= title "Omega Home" %>

<div class="content circle-corners-bottom-left">

	<h2 class="page-content"><%= @homepage_headline %></h1>
	<p></p>
	<%= image_tag 'community.jpg' %>
	<!--<p><img class="page-content" src="community.jpg" width="550" height="361" alt="" /></p>-->

	<p><%= @homepage_description %></p>
	<%= render "news_item_list", :news_items=>NewsItem.visible %>

</div>


<% content_for :sidebar do %>
    <%= render :partial => "layouts/sidebar_volunteering_positions" %>
<% end %>

<% content_for :sidebar do %>
    <%= render :partial => "layouts/sidebar_services" %>
<% end %>

<script type="text/javascript">
  <% case @code.to_i %>
  <% when CODE_ANONYMOUS %>
    dialog_message("general_message", "Please Log in", "<p>Please log in first.</p>", {width:300})
  <% when CODE_PERMISSION_REQUIRED %>
    dialog_message("general_message", "Access Denied", "<p>Sorry, but permission is required to access that page.</p>", {width:300})
  <% end %>
</script>
