<div class="topic_block">
  <div class="topic_created_at">
    <%= @topic.created_at %> created by <%= link_to @topic.author.name, contact_url(@topic.author) %>
  </div>
  <div class="topic_body round shadow <%= "announcement" if @topic.is_announcement? %>">
    <div class="topic_content">
      <%= @topic.content.strip.length==0 ? blank_sign : @topic.content.html_safe %>
    </div>
    <div class="topic_operation_links operation_links" >
      <div class="left_links">
        <p>
          <% unless current_user.is_anonymous? %>
            <%= om_button(:contact => true, :icon=>'mail-new') do %>
              <%= link_to_function "Reply", "load_dialog_form('#{escape_javascript(render "posts/dialog_new_form", :post=>Post.new(:super_post_id=>@topic.post.id), :is_topic=>false)}', {width:620})", "data-tooltip"=>"Reply this post" %>
            <% end %>
          <% end %>
        </p>
      </div>

      <div class="right_links">
        <p>
          <% if is_admin? || @topic.has_author?(current_user) %>

            <%= om_button(:contact => true, :icon=>'edit') do %>
              <%= link_to_function "Edit", "load_dialog_form('#{escape_javascript(render "posts/dialog_edit_form", :post=>@topic.post, :is_topic=>true)}', {width:620})", "data-tooltip"=>"Edit this topic" %>
            <% end %>

            <%= om_button(:contact => true, :icon=>'delete-icon') do %>
              <%= link_to_function "Delete", "destroy_topic('#{escape_javascript(render "topics/dialog_destroy_confirm", :topic=>@topic)}','#{topic_url(@topic, :group_id=>@group.id)}')", "data-tooltip"=>"Delete this topic" %>
            <% end %>

          <% end %>
        </p>
      </div>
      <br clear="all"/>
    </div>
  </div>

</div>

<% @topic.post.sub_posts.each do |post| %>
  <%= render "posts/show", :post=>post %>
<% end %>


<div class="page_bottom_links">
  <%= render "topics/show_bottom_links" %>
</div>