
	<ul id="wizard-intro">
      <li class="relative<%= ' active' if params[:step] == '1' %>">
        <div class="step-nail step-1<%= '-active' if params[:step] == '1' %><%= '-intro' if params[:step] == 'introduction' %>"></div>
       <h3 class="services">Choose Template</h3>
      </li>
       <li class="relative<%= ' active' if params[:step] == '2' %>">
        <div class="step-nail step-2<%= '-active' if params[:step] == '2' %><%= '-stepped' if params[:step] == '3' %>"></div>
        <h3 class="services">Customize Type </h3>
      </li>
      <li class="relative<%= ' active' if params[:step] == '3' %>">
        <div class="step-nail step-3<%= '-active' if params[:step] == '3' %>"> </div>
        <h3 class="services">Finalize Type</h3>
      </li>
</ul>

