
	<ul id="wizard-intro-columns">
      <li class="relative<%= ' active' if params[:step] == '1' %>">
        <div class="step-nail-columns step-1<%= '-active' if params[:step] == '1' %><%= '-intro' if params[:step] == 'introduction' %>"></div>
       <h3 class="services-columns">Choose Template</h3>
      </li>
       <li class="relative<%= ' active' if params[:step] == '2' %>">
        <div class="step-nail-columns step-2<%= '-active' if params[:step] == '2' %><%= '-stepped' if params[:step] == '3' %>"></div>
       <h3 class="services-columns">Customize Type</h3>
      </li>
      <li class="relative<%= ' active' if params[:step] == '3' %>">
        <div class="step-nail-columns step-3<%= '-active' if params[:step] == '3' %>"> </div>
        <h3 class="services-columns">Finalize Type </h3>
      </li>
</ul>

