<p id="notice"><%= notice %></p>

<%= link_to 'Components', [@page, :components] %>
<%= link_to 'Blocks', [@page, :blocks] %>

<%=  link_to 'Edit', tenant_edit_page_path(@page) %> |
<%=  link_to 'Back', tenant_pages_path %>
