<% require_stylesheet "services"%>

<h1 class="index"> Add a Field to <%= @service.service_name %></h1>

<p class="left-align">
  <%= form_for @field do |f| %>


      <%= f.hidden_field :service_id, :value => @service.id %>

      <strong>Field Name</strong><br/>
      <%= f.text_field :field_name %><br/>

      <br/>
      <strong>Field Type</strong><br/>
      <%=f.select :field_type, options_for_select(%w{ TextArea TextField NumberField }) %> <br/>

      <br/>
      <%= f.submit %>
  <% end %>

</p>
