<% require_stylesheet 'services.css' %>


<h1 class="page-content corners-top">
  <%=@service.service_name%> Service
</h1>

<div class="page-content corners-bottom">




<p class="left-align">
  <span class="style2">Service Details</span><br/>
        <% @detail_fields.each do |field| %>
                <br/><%= field.field_name%>
        <%end%>

</p>

<p class="left-align">
  <span class="style2">Registration Details</span><br/>
        <% @registration_fields.each do |field| %>
                <br/><%= field.field_name%>
        <%end%>

</p>

<%if !current_user.is_anonymous?%>
<p class="left-align">
  <br/>
  <strong><%= link_to 'Add another Field to '+@service.service_type+ ' Service', new_service_service_field_url(@service.id)%>

  <br/>
  <%= link_to 'All Services ', services_url%>
  </strong>
</p>


<%end%>

    </div>

