<% stylesheet_link_tag 'uploadify/uploadify' %>
<% javascript_include_tag 'uploadify/swfobject', 'uploadify/jquery.uploadify.v2.1.0' %>
<% javascript_include_tag 'new_contact.js' %>
<%= form_for @contact, :remote => true, :html => { :multipart => true } do |f| %>
    <%= errors_for_form @contact %>
    <fieldset>
	<p>
	  <%= f.label :photo %>
	  <%= f.file_field :photo %>
	</p>
    <p>
      <%= f.label :title %>
      <%= f.select :title, options_for_select(Contact::TITLES) %>
    </p>
    <p>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </p>
    <p>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </p>
    <p>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </p>
    <p>
      <%= f.label :skills %>
      <%= f.text_field :skills_values %>

    </p><p>
      <%= f.label :interests %>
      <%= f.text_field :interests_values %>

    </p>
</fieldset>
    <fieldset>
    <div id="addresses">
      <p>
        <%= f.fields_for :addresses do |a| %>
            <%= render 'address_form', :f => a %>
        <% end %>
      </p>
      <p>
        <% new_text = lambda do %>
        <span data-tooltip="By clicking on this icon you will be able to add another address. Feel free to add as many addresses as you want">Add another address
            <span class="om-icon-only om-blue-icon ui-icon-home"></span>
        </span>
        <% end %>
        <%= link_to_new_nested f, :addresses, :text => new_text do |a| %>
            <%= render 'address_form', :f => a %>
        <% end %>
      </p>
    </div>
</fieldset>
    <fieldset>
    <div id="phone_numbers">
      <p>
        <%= f.fields_for :phone_numbers do |pn| %>
            <%= render 'phone_number_form', :f => pn %>
        <% end %>
      </p>
      <p>
        <% new_text = lambda do %>
        <span data-tooltip="By clicking on this icon you will be able to add another phone number. Feel free to add as many phone numbers as you want">Add another phone number
            <span class="om-icon-only om-blue-icon ui-icon-contact"></span>
        </span>
        <% end %>
        <%= link_to_new_nested f, :phone_numbers, :text =>  new_text do |pn| %>
            <%= render 'phone_number_form', :f => pn %>
        <% end %>
      </p>
    </div>
      </fieldset>
    <p>
      <%= om_button(:icon=>'save') do %>
          <%= f.submit %>
      <% end %>
      <% if @contact.id %>
       <%= om_button(:icon=>'back') do %>
          <%= link_to 'Cancel' , contact_path(@contact), :remote=> true %>
      <% end %>
      <% end %>
    </p>
    <div class="clear"></div>
<% end %>

