<%# stylesheet_link_tag 'omega_volunteering', 'omega_volunteering_left' %>
<%# javascript_include_tag 'omega_volunteering' %>
    <div class="content circle-corners-bottom-left" style="min-height:<%= (@positions.count % Omega::Volunteering::Position::MAX_POSITIONS_PER_PAGE) * 395 %>;">

		<div class="heading-main-columns">
			<h1 class="page-content">
      		Current Volunteering Opportunities
		  	</h1>
		</div>


		<div id="sort_positions">
			<br/>
			<%= om_button(:icon=>'sort-az', :small => true) do %>
				<%= link_to 'sort A-Z', url_for(params.merge(:name => 'asc')) %>
			<% end %>
			<%= om_button(:icon=>'sort-za', :small => true) do %>
				<%= link_to 'sort Z-A', url_for(params.merge(:name => 'desc')) %>
			<% end %>
      </div>

		<% content_for :sidebar do %>
			<%= render :partial => "layouts/omega/sidebar_positions_skills" %>
			<%= render :partial => "layouts/omega/sidebar_positions_interests" %>
		<% end %>

      <%# if tags = @skills_tags or tags = @interests_tags %>
          <p>
            <%# tags.each do |tag| %>
                <%#= link_to nil, tag, :class => 'skill-tag-active' do %>
                    <span> <%#= tag %> </span>
                <%# end %>
            <%# end %>
          </p>
      <%# end %>
      
      <ul id="positions-list">
        <% @positions.each do |position| %>
          <li id="position-<%= position.id %>">
              <!--<div class="position-slider">
                <%#= render 'volunteering/positions/partials/position_actions', :position => position %>
              </div>!-->
                <div class="position position-wrapper">

						<div id="position_top_bar">
	                  <% if position.start? %>
	                     <div class="pos-date">
	                        <div class="pos-cal-month"><%= position.start.strftime("%b") %></div>
	                        <div class="pos-cal-day"> <%= position.start.day %></div>
	                     </div>
	                  <% else %>
	                     <div class="pos-recurrent">
	                        <div class="posCalMonth"></div>
	                        <div class="posCalDay"></div>
	                     </div>
	                  <% end %>

                  <h2>
                    <%= link_to truncate(position.name, :length=>60), volunteering_position_path(position), :class => 'position-name'  %>
                  </h2>
						</div>

					<div class="position_body"><br /><br />
                  <p>
                    <%= truncate(position.description, :length=> 140) %> <%= link_to '( read more ... )', volunteering_position_path(position) %>
                  </p>

                  <p>
							<% p = position.priority.nil? ? "Normal" : position.priority %>
							Priority: <i><%= p %></i>
                  </p>

						<p>
							Volunteers: <%= position.records.count%>/<%=position.volunteers_required %>
						</p>
							
						<p>
							<% if not position.start.nil? %>
							Countdown: <%= ((position.start - Time.now) / 86400).round %> Days Left
							<% end %>
						</p>

						<p> Skills/Interests:
							<div id='position_skills'>
								<span>
									<% position.skills.each do |skill| %>
										<%= link_to volunteering_skills_path(:skills => [params[:skills], skill.name].compact.join('+')), :class => 'skill-tag' do %>
											<span class="skill-tag"> <%= skill.name %> </span>
										<% end %>
									<% end %>
									<% position.interests.each do |interest| %>
										<%= link_to volunteering_interests_path(:interests => [params[:interests], interest.name].compact.join('+')), :class => 'skill-tag' do %>
											<span class="skill-tag"> <%= interest.name %> </span>
										<% end %>
									<% end %>
									<div class="clear"></div>
								</span>
							</div>
						</p><br />
					</div>

					<div id='position_toolbar'>
						<%= render 'omega/volunteering/positions/partials/position_toolbar', :position => position %>
					</div>

				</div>
			<div class="clear"></div>
		</li>
	<% end %>
	</ul>

	<!--<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />-->
	<div id="volunteering_positions_pagination">
		<%= will_paginate @positions %>
	</div>
	<div class="clear"></div>
</div>
