<%= javascript_include_tag 'omega_calendar_administer' %>
<h1 class="page-content corners-top" >
  Calendars

</h1>

<div class="page-content corners-bottom">
  <ul id="calendars-list">
    <% @calendars.each do |calendar| %>
        <li id="calendar-<%= calendar.id %>" class="list-item relative">
          <div class="item-list-actions-wrapper corners">
            <div class="item-list-actions">
              <%= om_button(:plain=> true, :icon=>'delete') do %>
                  <%=  link_to 'Delete', tenant_calendar_path(calendar), :method=> :delete, :remote=> true %>
              <% end %>

            </div>
          </div>
          <h3>
            <%= calendar.calendar_name %>

          </h3>


        </li>
    <% end %>
  </ul>

</div>
<% content_for :sidebar do %>
    <%= render :partial => "calendars_menu" %>
<% end %>
