<% require_javascript "thirdParty/jquery.timepicker.js", "thirdParty/jquery.fullcalendar.js", "calendars.js" %>
<% require_stylesheet "thirdParty/jquery.fullcalendar.css", "omega_calendars.css" %>


<%- title "Omega Calendar - #{@calendar.calendar_name}" %>

<div class="content circle-corners-bottom-left">

		<div class="heading-main">

				<h1 class="page-content">
  					Calendar
		    	</h1>


        </div>



<div class="main-box">
<p>
  <% if flash.any? %>
    <% flash.each do |key, msg| %>
      <%= key %>: <%= msg %>
    <% end %>
  <% end %>

	 <span class="calendar-top-right">


	  				<%= select( nil, "calendars", Calendar.all.collect {|p| [ p.calendar_name, p.id ] })  %>
</span>

<span class="calendar-top-left">
	<%= om_button(:icon => "calendar") do %>
        				<%=  link_to "Create Calendar", tenant_new_calendar_url, :remote  => true %>
    				<% end %>
              	<%= om_button() do %>
                      				<%=  link_to "Share Calendar", tenant_share_calendar_url(@calendar) %>
                  				<% end %> <br/>
</span>
</p>




  <div id="cal">
  </div>


</div>
</div>
