        <fieldset>
          <legend>Section</legend>

          <div class="field">
            <label for="service_sections_<%= i.to_s %>_contact_id">Contact</label>
            <select id="service_sections_<%= i.to_s %>_contact_id" name="service_sections[<%= i.to_s %>][contact_id]">
              <% options = ["TBD..."].concat(@contacts.map{|c|[c.name, c.id]}) %>
              <%= options_for_select(options) %>
            </select>
          </div>

          <div class="field">
            <label for="service_sections_<%= i.to_s %>_location">Location</label>
            <input id="service_sections_<%= i.to_s %>_location" name="service_sections[<%= i.to_s %>][location]" size="30" maxlength="100" type="text" data-tooltip="Location of the section" />
          </div>

          <div class="field">
            <label for="service_sections_<%= i.to_s %>_start_at">Start</label>
            <input id="service_sections_<%= i.to_s %>_start_at" name="service_sections[<%= i.to_s %>][start_at]" size="30" type="text" />
            <label for="service_sections_<%= i.to_s %>_end_at">Finish</label>
            <input id="service_sections_<%= i.to_s %>_end_at" name="service_sections[<%= i.to_s %>][end_at]" size="30" type="text" disabled />
          </div>

          <div class="field">
            <label for="service_sections_<%= i.to_s %>_recurrence">Reoccur</label>
            <input class="service_sections_recurrence_checkbox" id="service_sections_<%= i.to_s %>_recurrence" name="service_sections[<%= i.to_s %>][recurrence]" type="checkbox" />
          </div>

          <div class="service_sections_recurrence_fields" id="service_sections_<%= i.to_s %>_recurrence_fields">
            <div class="field service_sections_recurrence_interval" id="service_sections_<%= i.to_s %>_recurrence_interval">
              <span>Every</span>
              <input id="service_sections_<%= i.to_s %>_recurrence_year" name="service_sections[<%= i.to_s %>][recurrence_year]" class="numeric" value="0" /><span>Years</span>
              <input id="service_sections_<%= i.to_s %>_recurrence_months" name="service_sections[<%= i.to_s %>][recurrence_months]" class="numeric" value="0"/><span>Months</span>
              <input id="service_sections_<%= i.to_s %>_recurrence_days" name="service_sections[<%= i.to_s %>][recurrence_days]" class="numeric" value="7"/><span>Days</span>
              <input id="service_sections_<%= i.to_s %>_recurrence_hours" name="service_sections[<%= i.to_s %>][recurrence_hours]" class="numeric" value="0"/><span>Hours</span>
              <input id="service_sections_<%= i.to_s %>_recurrence_minutes" name="service_sections[<%= i.to_s %>][recurrence_minutes]" class="numeric" value="0"/><span>Minutes</span>
            </div>
            <br clear="all" />
            <div class="field">
              <label for="service_sections_<%= i.to_s %>_recurrence_end_at">Until</label>
              <input id="service_sections_<%= i.to_s %>_recurrence_end_at" name="service_sections[<%= i.to_s %>][recurrenc_end_at]" size="30" type="text" disabled />
            </div>
          </div>

          <script type="text/javascript">

          // logic of three time fields
              var format = "%Y-%m-%d %H:%i"
              var range_conv = new AnyTime.Converter({format:format});
              $("#service_sections_<%= i.to_s %>_start_at").AnyTime_picker({format:format});

              $("#service_sections_<%= i.to_s %>_start_at").change( function(e) { try {
                  var from_time = range_conv.parse($("#service_sections_<%= i.to_s %>_start_at").val()).getTime();
                  var later_time = new Date(from_time);

                  $("#service_sections_<%= i.to_s %>_end_at, #service_sections_<%= i.to_s %>_recurrence_end_at").
                      AnyTime_noPicker().removeAttr("disabled").AnyTime_picker( { earliest:later_time, format: format } );

                  if($("#service_sections_<%= i.to_s %>_end_at").val() < $("#service_sections_<%= i.to_s %>_start_at").val() )
                    $("#service_sections_<%= i.to_s %>_end_at").val(range_conv.format(later_time))
                  if($("#service_sections_<%= i.to_s %>_recurrence_end_at").val() < $("#service_sections_<%= i.to_s %>_start_at").val() )
                    $("#service_sections_<%= i.to_s %>_recurrence_end_at").val(range_conv.format(later_time))
              } catch(e){ $("#service_sections_<%= i.to_s %>_end_at, #service_sections_<%= i.to_s %>_recurrence_end_at").val("").attr("disabled","disabled"); } } );

              $("#service_sections_<%= i.to_s %>_end_at").change( function(e) { try {
                    var from_time = range_conv.parse($("#service_sections_<%= i.to_s %>_end_at").val()).getTime();
                    var later_time = new Date(from_time);

                    $("#service_sections_<%= i.to_s %>_recurrence_end_at").
                        AnyTime_noPicker().removeAttr("disabled").AnyTime_picker( { earliest:later_time, format: format } );

                    if($("#service_sections_<%= i.to_s %>_recurrence_end_at").val() < $("#service_sections_<%= i.to_s %>_end_at").val() )
                      $("#service_sections_<%= i.to_s %>_recurrence_end_at").val(range_conv.format(later_time))
              } catch(e){ $("#service_sections_<%= i.to_s %>_recurrence_end_at").val("").attr("disabled","disabled"); } } );

            // displaying style
            $('#service_sections_<%= i.to_s %>_recurrence').click(function(){
              var val = $('#service_sections_<%= i.to_s %>_recurrence').is(":checked") ? "on" : "off";
              if(val=="on")
                $("#service_sections_<%= i.to_s %>_recurrence_fields").show();
              else
                $("#service_sections_<%= i.to_s %>_recurrence_fields").hide();
            })

            $(".numeric").each(function(){
              if($(this).val()=="0")
                $(this).next("span").addClass("disabled")
            })
            $(".numeric").keyup(function(){
              var parsed_value = parseInt($(this).val())
              $(this).val( isNaN(parsed_value) ? 0 : parsed_value)
              if($(this).val()=="0")
                $(this).next("span").addClass("disabled")
              else
                $(this).next("span").removeClass("disabled")
            });
          </script>

        </fieldset>