<div id="actions-<%= position.id %>" class="position-actions">
  <%= with_permission(Volunteering::PERM_ADMIN) do %>
      <%= om_button(:plain => true, :icon => 'delete') do %>
          <%= link_to 'Delete', volunteering_position_path(position), :remote=> true,  :method=>:delete, :'data-tooltip' => 'Delete this position' %>
      <% end %>
      <%= om_button(:plain => true, :icon=>'edit') do %>
          <%= link_to 'Edit', edit_volunteering_position_path(position), :'data-tooltip' => 'Edit this position' %>
      <% end %>
      <%= om_button(:plain => true, :icon=>'clipboard-list ') do %>
          <%= link_to 'Applications', history_volunteering_record_path(position), :'data-tooltip' => 'See all the applications for this position' %>
      <% end %>
  <% end %>

       <%= with_permission(Volunteering::PERM_RECORD_HOURS) do %>
          <%= om_button(:plain => true, :icon => 'clock') do %>
              <%= link_to 'Log Hours', new_volunteering_time_entry_url(:id => position.record_for(Contact.for(current_user)), :'data-tooltip' => 'Log hours for this position') %>
          <% end %>
      <% end %>
       <%= with_permission(Volunteering::PERM_APPLY) do %>
          <%= om_button(:plain => true, :icon => 'apply') do %>
              <%= link_to 'Apply', new_volunteering_record_url(:id=>position), :'data-tooltip' => 'Apply for this position' %>
          <% end %>
      <% end %>

  <% unless current_user.is_anonymous? %>
      <% if already_favorite?(position) %>
          <%= om_button(:plain => true, :icon => 'favorite-remove') do %>
              <%= link_to('Remove from Favorites', favorite_path(position), :remote => true,
                          :'data-method' => :post, :'data-tooltip' => 'Remove this position to your favorites') %>
          <% end %>
      <% else %>
          <%= om_button(:plain => true, :icon => 'favorite-add') do %>
              <%= link_to('Add as Favorite', favorite_path(position), :remote => true,
                          :'data-method' => :post,  :'data-tooltip' => 'Add this position to your favorites') %>
          <% end %>
      <% end %>
  <% end %>
</div>