<h1>Create a new calendar</h1>
<%= form_for @calendar do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :calendar_name %>
    <%= f.text_field :calendar_name %>
  </p>



  <p><%= f.submit %></p>
<% end %>
