<% require_javascript 'new_volunteering_position.js' %>
<% require_javascript 'thirdParty/jquery.ptTimeSelect.js' %>
<% require_stylesheet 'thirdParty/jquery.ptTimeSelect.css' %>



<%= form_for(@volunteering_position) do |f| %>
	<% if @volunteering_position.errors.any? %>
		<div id="errorExplanation">
			<h2><%= pluralize(@volunteering_position.errors.count, "error") %>prohibited this position from being
				saved:</h2>
			<ul>
				<% @volunteering_position.errors.full_messages.each do |msg| %>
					<li>
						<%= msg %>
					</li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :description %>
		<%= f.text_area :description, :rows => 6 %>
	</p>
	<p>
		<%= f.label :start_date %>
		<%= f.text_field :start_date, :class => "datepicker" %>

	</p>
	<p>
		<%= f.label :end_date %>
		<%= f.text_field :end_date, :class => "datepicker" %>

	</p>
	<p>
		<%= f.label :hours %>
		<%= f.text_field :hours, :class => "inputSmall" %>
	</p>
	<p>
		<%= f.label :positions_available %>
		<%= f.text_field :positions_available, :class => "inputSmall" %>
	</p>

	<p>

		<%= cust_button f.submit %>
	


<% end %>
