<h1>Listing positions <div class="position_list_crl">Psd</div></h1>
<span class="arrow"></span>
<ul id="positions_list">
	<% Volunteering::Position.all.each do |position| %>
		<li class="clearfix">


			<div class="posDetails">
				<div>

					<h2><%= position.name %></h2>

				</div>


				<div class="posDescribtion">	<%= position.description %></div>
					<span class="liDate">
					Start: <%= position.start_date.to_formatted_s(:short) %>
						<br>

					End: <%= position.end_date.to_formatted_s(:short) %>
					</span>

				<div class="posActions go">
					<div class="toolTip">
						<div>
							<%= link_to 'Show', position %>&nbsp;
							<%= link_to 'Edit', edit_volunteering_position_path(position) %> &nbsp;
							<%= link_to 'Destroy', :method => "delete" %>
						</div>
						<div class="toolTipArrow"></div>
					</div>
				</div>

			</div>

			<%#= position.contact %>
			<%#= link_to 'Show', position %>
			<%#= link_to 'Edit', edit_volunteering_position_path(position) %>
			<%#= link_to 'Destroy', position, :confirm => 'Are you sure?', :method => :delete %>
		</li>

	<% end %>
</ul>
<% content_for :sidebar do %>
	<%= render :partial => "layouts/sidebar_positions" %>
<% end %>