<% asset ||= @asset %>
<% assets ||= (@assets || []) %>

<% if assets.empty? %>
  <%= render "assets/index_no_asset_message" %>
<% else %>
  <div id="assets_accordion">
    <% assets.each do |asset| %>
      <h3 id="asset_head_<%= asset.id %>" class="asset_head">
        <%= render "assets/show_head", :asset=>asset %>
      </h3>

      <div id="service_body_<%= asset.id %>" class="asset_body" >
        <%= render "assets/show_body", :asset=>asset %>
      </div>
    <% end %>
  </div>

  <script type="text/javascript">
    var index = false;
    <% if asset %>
      index = <% assets.index(asset) %>
    <% end %>

    $( "#assets_accordion" ).accordion({
         active: index,
         autoHeight: false,
         clearStyle: true,
         navigation: false,
         collapsible: true
    });

    $(".asset_head").hover(
        function(){
            if(!$(this).hasClass("ui-state-active"))
                $(this).removeClass("asset_head")
        },
        function(){
            $(this).addClass("asset_head")
        }
    )
  </script>
<% end %>
