  <p>
    <%= form_for(role, :remote=>true) do |form| %>
      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name, :maxlength=>Role::MAX_LENGTH, :size=>30 %>
      </div>
      <div class="field">
        <%= form.label :description %>
        <%= form.text_area :description, :cols=>30, :rows=>3 %>
      </div>
      <%= form.hidden_field :id %>
      <input type="hidden" name="page" value="<%= page %>"/>
    <% end %>
  </p>
