<label for="role_permission_matrix_checkbox_<%= permission.id.to_s %>_<%= role.id.to_s %>" ></label>
<input id="role_permission_matrix_checkbox_<%= permission.id.to_s %>_<%= role.id.to_s %>" type="checkbox" <%= "checked='checked'" if permission.roles.include?(role) %> />

<script type="text/javascript">
  $("#role_permission_matrix #matrix_cell_td_<%= permission.id.to_s %>_<%= role.id.to_s %>").hover(
    function(){
      $("#role_permission_matrix #matrix_row_td_<%= permission.id.to_s %>").addClass("matrix_row_td_hover")
      $("#role_permission_matrix #matrix_col_td_<%= role.id.to_s %>").addClass("matrix_col_td_hover")
    },
    function(){
      $("#role_permission_matrix #matrix_row_td_<%= permission.id.to_s %>").removeClass("matrix_row_td_hover")
      $("#role_permission_matrix #matrix_col_td_<%= role.id.to_s %>").removeClass("matrix_col_td_hover")
    }
  )

  $("#role_permission_matrix_checkbox_<%= permission.id.to_s %>_<%= role.id.to_s %>").click(function(){
    $(this).checkbox_to_button();
    switch_status($(this).attr("id"), '<%= update_permission_role_url(role) %>', "PUT", {"permission_id":<%= permission.id %>});
  }).checkbox_to_button()
</script>
