<div id="role_permission_block">
  <table id="role_permission_matrix">
    <tbody>
      <tr class="matrix_col_tr">
        <td id="top_left_td">Permissions \ Roles</td>
        <% @roles.each do |role| %>
          <td id="matrix_col_td_<%= role.id.to_s %>" class="matrix_col_td ellipsis" title="<%= role.name %>">
            <div class="matrix_col_td_content">
              <%= role.name %>
              <% unless role.locked %>
                <div class="role_operation_links round shadow">
                  <%= link_to_function om_button(:plain => true, :icon => 'edit'){}, "edit_role('#{escape_javascript(render "dialog_edit_form_content", :role=>role, :page=>@page)}')" %>
                  <%= link_to_function om_button(:plain => true, :icon => 'delete'){}, "destroy_role('#{escape_javascript(render "dialog_destroy_confirm", :role=>role)}', '#{tenant_role_url(role)}', #{@page.to_s})" %>
                </div>
              <% end %>
            </div>
          </td>
        <% end %>
      </tr>
      
      <% @permissions.each_with_index do |permission, index| %>
        <% parity = index%2==0 ? "even" : "odd" %>
        <tr id="matrix_row_tr_<%= permission.id.to_s %>" class="<%= parity %>">
          <td id="matrix_row_td_<%= permission.id.to_s %>" class="matrix_row_td ellipsis"><%= permission.name %></td>
          <% @roles.each do |role| %>
            <td id="matrix_cell_td_<%= permission.id.to_s %>_<%= role.id.to_s %>" class="matrix_cell_td" title="<%= role.name %>: <%= permission.name %>">
              <%= render "role_permission_cell", :permission=>permission, :role=>role %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

