<div id="accordion">

	<h3 id="service_head" class="service_head<%= " service_leaf" %>" >
		<a href="#">Skills</a>
	</h3>
	<div id="service_body" class="service_body">
		<% if @all_filters.respond_to? :skills %>
			<% @all_filters.skills.reject { |x| x == "" }.join(",").split(",").uniq.each do |v| %>
				<li id="test" name="skills" ui-data="<%=v%>" >
					<input name="checkbox" type="checkbox" value="<%=v%>" ><%=v%></input>
				</li>
			<%end%>
		<%end%>
	</div>

	<h3 id="service_head" class="service_head<%= " service_leaf" %>" >
		<a href="#">Interests</a>
	</h3>
	<div id="service_body" class="service_body">
		<% if @all_filters.respond_to? :interests %>
			<% @all_filters.interests.reject { |x| x == "" }.join(",").split(",").uniq.each do |v| %>
				<li id="test" name="interests" ui-data="<%=v%>" >
					<input name="checkbox" type="checkbox" value="<%=v%>" unchecked ><%=v%></input>
				</li>
			<%end%>
		<%end%>
	</div>

	<h3 id="service_head" class="service_head<%= " service_leaf" %>" >
		<a href="#">Location</a>
	</h3>
	<div id="service_body" class="service_body">
		<%= label_tag 'Zip code' %>
		<%= text_field_tag :zip %>
		<a href='#', onClick='zip_search()'>Search</a>
	</div>

	<% Contact::Field.all.collect { |cf| cf.name.to_sym }.each do |f| %>
		<% values = @all_filters.inject(Array.new) { |array, r| array << r[f] } %>
		<% values = values.reject { |x| x == "" }.join(",").split(",").uniq %>
		<% if not values.empty? %>
			<h3 id="service_head" class="service_head<%= " service_leaf" %>" >
				<a href="#"><%=f.to_s%></a>
			</h3>
			<div id="service_body" class="service_body">
				<% values.each do |v| %>
					<li id="test" name="<%=f.to_s%>" ui-data="<%=v%>" >
						<input name="checkbox" type="checkbox" value="<%=v%>" unchecked ><%=v%></input>
					</li>
				<%end%>
			</div>
		<%end%>
	<%end%>

</div>

<script>

	$( "#accordion" ).accordion();

	// Add data-tooltip to each skill or interest in the accordion.
	$('#accordion').find('#service_body').each(function() {
		var service_body = $(this);
		service_body.delegate('li', 'click', function() {
			var cat = "";
			var val = "";
			var separator = "";
			$('#accordion').find('#service_body').each(function() {
				$(this).find('li').each(function() {
					var self = $(this);
					var category = self.attr('name');
					$(this).find('input').each(function() {
						if( $(this).attr('checked') == 'checked' ) {
							cat += separator + category;
							val += separator + $(this).attr('value');
							separator = ",";
						}
						else if( $(this).attr('checked') == null ) {
						}
						else {
						}
					});
				});
			});

			if(val == ""){
				var data = {};
			}
			// So that you avoid sending a blank query to the controller.
			else if (val != ""){
  	  			var data = {search:{column:{column:cat, query:val}}}
			}

			ajax_filter(data);
		});
	});

		function zip_search(){
			var zip = $( 'input#zip' ).attr( 'value' );
			var data = {zip:zip}
			alert(data);
			ajax_filter(data);
		}

		function ajax_filter(data) {

   	 	$.ajax({
			  url: "<%=enroll_volunteers_volunteering_records_url(:id=>@position)%>",
   	     type: "GET",
   	     data: data,
   	     dataType: 'script',
   	     cache: false
			});
		}

</script>
