<%= div_for f.object do %>

    <%= errors_for_model f.object %>
    <p>
      <%= f.label :address_type %>
      <%= f.select :address_type, options_for_select(Contact::Address::ADDRESS_TYPES) %>
    </p>
    <p>
      <%= f.label :street %>
      <%= f.text_field :street, :class => 'validate_presence' %>
    </p>
    <p>
      <%= f.label :city %>
      <%= f.text_field :city, :class => 'validate_presence' %>
    </p>
    <p>
      <%= f.label :state %>
      <%= f.text_field :state, :class => 'validate_presence' %>
    </p>
    <p>
      <%= f.label :zip_code %>
      <%= f.text_field :zip_code, :class => 'validate_presence' %>
    </p>
    <p>
      <%= f.hidden_field :country, :value => "Canada", :class => 'validate_presence' %>
    </p>

    <%= link_to_remove_nested f do %>
        <span class="margin-left-address" data-tooltip="By clicking on this icon yo will remove the address above">Remove This Address
      <span class="om-icon-only om-blue-icon ui-icon-close"></span>
       </span>
    <% end %>

      
<% end %>