<%= div_for f.object do %>

    <%= errors_for_model f.object %>
    <p>
      <%= f.label :address_type , :class => "mandatory-field"%>
      <%= f.select :address_type, options_for_select(Contact::Address::ADDRESS_TYPES) %>
    </p>
    <p>
      <%= f.label :street , :class => "mandatory-field"%>
      <%= f.text_field :street %>
    </p>
	
	<p>
      <%= f.label 'Apt/Unit No.' %>
      <%= f.text_field :unit_apt_number %>
    </p>
	
    <p>
      <%= f.label :city , :class => "mandatory-field"%>
      <%= f.text_field :city %>
    </p>
    <p>
      <%= f.label 'Province/State' , :class => "mandatory-field"%>
      <%= f.text_field :state %>
    </p>
    <p>
      <%= f.label :postal_code , :class => "mandatory-field"%>
      <%= f.text_field :zip_code %>
    </p>
    <p>
      <%= f.hidden_field :country, :value => "Canada" %>
    </p>

    <%= link_to_remove_nested f do %>
        <span class="margin-left-address" data-tooltip="By clicking on this icon yo will remove the address above">Remove This Address
      <span class="om-icon-only om-blue-icon ui-icon-close"></span>
       </span>
    <% end %>

      
<% end %>