<% require_stylesheet 'omega_volunteering' %>
<% require_javascript 'thirdParty/jquery.timepicker', 'new_volunteering_position', 'jquery.tokeninput' %>


<%= form_for(@record) do |f| %>
    <%= errors_for_form @record %>
	 <%= f.hidden_field :position_id, :value => @record.position.id.to_s %>
	 <%= f.hidden_field :contact_id, :value => @contact.id.to_s %>
    <%= f.fields_for :contact, @contact do |c| %>
    	
	   <h3 class="application-form">PERSONAL INFORMATION </h3> 
        <p>
          <%= c.label :first_name , :'data-tooltip' => 'Plese type in your first name' %>
          <%= c.text_field :first_name %>
        </p>

        <p>
          <%= c.label :last_name , :class => "mandatory-field"%>
          <%= c.text_field :last_name , :'data-tooltip' => 'Plese type in your last name' %>
        </p>
		
		  <p>
          <%= c.label :middle_name %>
          <%= c.text_field :middle_name, :'data-tooltip' => 'Middle name if any' %>
        </p>
		

		<h3 class="application-form">CONTACT INFORMATION</h3>
			<p> Please provide a phone number or email. </p>
			<table>
				<tr>
					<td id="new_volunteering_record_phone">
						<h3 class="application-form" id="new_volunteering_record_contact" style="margin-left: 45px;"> Phone </h3>
			      	<p>
			        		<%= c.fields_for :phone_numbers do |pn| %>
			     	        <%= render 'simple_phone_number_form', :f => pn %>
			        		<% end %>
			      	</p>
					</td>

					<td id="or">
						<div id="or">
							OR	
						</div>
					</td>

					<td>
						<h3 class="application-form" id="new_volunteering_record_contact"> Email </h3>
			        <p id="new_volunteering_record_email">
			          <%= c.label :primary_email, :style => "margin-left: 15px;" %>
			          <%= c.text_field :email, :'data-tooltip' => 'Plese type in your primary email'%>
			        </p>
					</td>
				</tr>
			</table>



		   <h3 class="application-form">CUSTOM INFORMATION </h3> 
				<% @contact.custom_fields(@record.position).each do |cf| %>
					<p>
						<%= c.label (cf.name.to_sym) %>
						<% if cf.data_type.to_s == 'boolean' %>
							<%= c.send(cf.input_field, cf.name_as_sym, "Yes") %> Yes
							<%= c.send(cf.input_field, cf.name_as_sym, "No") %> No
						<% else %>
							<%= c.send(cf.input_field, cf.name_as_sym) %>
						<% end %>
						<p class='custom_description'>
							<%= cf.description %>
						</p>
					</p>
					<br />
				<% end %>


		
			<h3 class="application-form">PARENTAL APPROVAL</h3>
			
				<p>
					<span class="form-text">Youth aged 18 and under require parental consent to volunteer with Evergreen. Youth aged 14 and under must be accompanied by a parent or guardian. I am the parent and/or legal guardian of who is under 19 years of age. I hereby verify that I give consent for my child to volunteer with Evergreen.</span>
				</p>
				
				<p>
				  <%= c.label "parent's name", :class => "mandatory-field"%>
		        <%= c.text_field :parent_name, :'data-tooltip' => "For parental approval type in your parent's full name" %>	
			 	</p>
				
				<p>
				  <%= c.label "parent's email" , :class => "mandatory-field"%>
		        <%= c.text_field :parent_email, :'data-tooltip' => "Please include your parent's email where they could be contacted" %>	
			 	</p>
	
	    	<% end %>
		<!-- End of contact fields !-->

		
			<% unless @record.position.disclaimer_agreement == false %>
				<h2 class="application-form-content-heading-2">By submitting this application, I understand that:</h2>
		
				<p>
			   	<span class="form-agreement">
			    		<%= @record.position.agreement%>
					</span>
			   </p>
				
				<p>
			   	<span class="form-text-plain"> 
						<%= f.check_box :agreement, :checked=> @record.position.disclaimer_agreement%> <span class="application-form-content mandatory-field">I Agree &nbsp;   </span>		<br/>
					</span>
				</p>
	   	<% end %>
	
			<p>
	   		<%= om_button(:icon => 'apply') do %>
					<%= f.submit %>
				<% end %>
			</p>

	<% end %>
