<% require_stylesheet 'service.css' %>
<% require_stylesheet 'omega_volunteering.css' %>
<% require_javascript 'search_volunteer.js' %>

	<div class="content circle-corners-bottom-left">
		<div class="heading-main">
				<h1 class="page-content">
					Add Volunteers to "<%= Volunteering::Position.find(@position_id).name %>"
		    </h1>
		</div>

	<div class="records_search_box">
		<%= render "records_search_box" %>
	</div>

	<table>
		<tr>
			<td style="width:350px">
				<div id="accordion">

					<h3 id="service_head" class="service_head<%= " service_leaf" %>" >
 						<a href="#">Skills and Interests</a>
					</h3>
					<div id="service_body" class="service_body">
						<%= list_contacts_in(@skills + @interests, @position_id) %>
					</div>

					<h3 id="service_head" class="service_head<%= " service_leaf" %>" >
 						<a href="#">Skills</a>
					</h3>
					<div id="service_body" class="service_body">
						<%= list_contacts_in(@skills, @position_id) %>
					</div>

					<h3 id="service_head" class="service_head<%= " service_leaf" %>" >
 						<a href="#">Interests</a>
					</h3>
					<div id="service_body" class="service_body">
						<%= list_contacts_in(@interests, @position_id) %>
					</div>

				</div>

	      <script type="text/javascript">
 	       search_accordion();
 	    	</script>
			</td>



		<td style="width:350px">
				<h7 class="sub-heading" id="result-header"></h7>
					<ul id="volunteers-list"></ul>
			</div>
		</td>

					

<td>
<!--	<div id="right" style="width:100; float:right; height:auto">!-->
	<h7 class="sub-heading"> Your New Volunteers: </h7>
	<%= form_for @records, :url => create_multiple_volunteering_records_path, :html => { :method => :post } do |f| %>
		<div id="records_to_add">
	<ul>
		<% @records.each_with_index do |record, index| %>
			<% c_id = record.contact.id %>
			<%= fields_for "records[#{index}]" do |r| %>
			<li>
				<!--<div class="field" >
					<p>
						<%#= hidden_field_tag "records[#{index}][position_id]", @position_id %>
						<%#= hidden_field_tag "records[#{index}][contact_id]", record.contact.id %>
            <span data-tooltip="Remove this contact" onclick="alert('hello')">
						<%#= r.radio_button 'status', 'accepted' %>
						<%#= record.contact.first_name %></span>
					</p>
				</div>!-->
			</li>


		<% end %>
	<% end %>
	</ul>
				</div>
			</div>
			<p><%= f.submit "Add Volunteers" %></p>

			</td>
		</tr>
	</table>
<% end %>
</div>
