<h2> <strong> Pending Applications</strong> </h2>

<br/>

<% if @records.empty? %>

    <h3> <strong> No Pending Applications to Show! </strong> </h3>

<%end%>


<% @records.each do |a| %>

  <% position = Volunteering::Position.find_by_id(a.position_id) %>
  <% contact = Contact.find_by_id(a.contact_id) %>


    <strong><%=contact.first_name%> <%=contact.last_name%></strong>
    <%= link_to "(Show)", volunteering_record_url(a) %><br/>
    <%= position.name %> <br/>


    


    
<%end%>

<p>
  <%= link_to "Back", admin_page_volunteering_records_url %>
<br/>
</p>
