<%= context_box do %>
<h1 class="page-content-evergreen corners-top">
  Application for <%= @record.position.name %>

</h1>
<div class="page-content-evergreen corners-bottom">
  <h2>Description</h2>

  <p>
    <%= @record.position.description %>
  </p>


  <% if @record.position.start %>
      <h2>Date</h2>

      <p>
        <span class="om-icon-only ui-icon-date"></span> <span> Start date:</span>
        <%= @record.position.start.to_formatted_s(:long) %>
      </p>
  <% end %>
  <% if @record.position.end %>
      <p>
        <span class="om-icon-only ui-icon-date"></span> <span>End date:</span>
        <%= @record.position.end.to_formatted_s(:long) %>
      </p>
  <% end %>

  <!-- hours-->

  <% if @record.position.schedule %>
      <p>
        <span> Recurrence:</span>
        <% if @record.position.schedule.schedule_type %>
            every  <%= @record.position.schedule.value %> days
        <% else %>
            every day
        <% end %>
      </p>

      <p>
        <span> This series starts:</span>
        <%= @record.position.schedule.start_date.to_formatted_s(:long) %>
      </p>

      <p>
        <span class> This series end:</span>
        <%= @record.position.schedule.end_date.to_formatted_s(:long) %>
      </p>
  <% end %>
  <h2>Volunteer </h2>

  <%= @record.contact.first_name %> <%= @record.contact.last_name %>

  <h2> Contact Information</h2>

  <p>
    <% @record.contact.phone_numbers.each do |p| %>

        <%= p.number_type %> Phone <%= p.number %> <br/>

    <% end %>

    Email:<%= @record.contact.email %> <br/>

    <% @record.contact.addresses.each do |a| %>

        <strong> <%= a.address_type %> Address : </strong> <%= a.street %>,<%= a.city %>
        , <%= a.state %> <%= a.zip_code %> <%= a.country %> <br/>

    <% end %>
  </p>

  <h2>Additional Information</h2>

  <p>
    Skills: <%= @record.contact.skills.map(&:name).join(", ") %> <br/>
    Interests:  <%= @record.contact.interests.map(&:name).join(", ") %> <br/>
  </p>


  <% if current_user.has_permission?("users_admin") %>

      <h2>Admin Space</h2>

      <p>

        <strong> Status: </strong> <%= @record.status %> <br/>
        <strong> Action: </strong> <%= @record.action %> <br/>
        <strong> More Information: </strong> <%= @record.more_information %> <br/>
        <strong> Notes: </strong> <%= @record.admin_notes %>

      </p>

      <p>


        <%= om_button(:icon => 'folder-edit') do %>
            <%= link_to "Administer", administer_volunteering_record_url(@record) %>
        <% end %>

      </p>

  <% else %>

  <% end %>
  <%= om_button(:icon => 'next') do %>
            <%= link_to "Go To Volunteering Positions", volunteering_positions_url %>
        <% end %>

</div>
     <% end %>