<h2> <strong> Position </strong> </h2>

<p>

<strong> Title: </strong> <%=@record.position.name%> <br/>
<strong> Description: </strong> <%=@record.position.description%> <br/>
<strong> Skills : </strong> <%= @record.position.skills.map(&:name).join(", ") %> <br/>
<strong> Interests : </strong> <%= @record.position.interests.map(&:name).join(", ") %> <br/>
</p>

<h2> <strong> Volunteer </strong> </h2>

<p>

 <strong> Name: </strong> <%=@record.contact.first_name%> <%=@record.contact.last_name%>

</p>

<h2> <strong> Contact Information </strong> </h2>

<p>
<%@record.contact.phone_numbers.each do |p|%>

    <strong><%=p.number_type%> Phone : </strong><%=p.number%> <br/>

<%end%>

<strong>Email:</strong> <%=@record.contact.email%> <br/>

<%@record.contact.addresses.each do |a|%>

   <strong> <%=a.address_type%> Address : </strong> <%=a.street%>,<%= a.city%>, <%=a.state%> <%= a.zip_code%> <%=a.country%> <br/>

<%end%>
</p>

<h2> <strong> Additional Information </strong></h2>

<p>
  <strong>Skills: </strong> <%= @record.contact.skills.map(&:name).join(", ") %> <br/>
  <strong> Interests: </strong> <%= @record.contact.interests.map(&:name).join(", ") %> <br/>
</p>


<% if current_user.has_permission?("users_admin") %>

<h2> <strong> Admin Space </strong> </h2>

<p>

<strong> Status: </strong> <%=@record.status%> <br/>
<strong> Action: </strong> <%=@record.action%> <br/>
<strong> More Information: </strong> <%=@record.more_information%> <br/>
<strong> Notes: </strong> <%=@record.admin_notes%>

</p>

<p>

  <%= link_to "Admin Actions", admin_action_volunteering_records_url(:id => @record) %>


</p>

<%else%>

<p>

  <%= link_to "Record Hours for this Position ", new_volunteering_time_entry_url(:id => @record) %> <br/>



</p>
<%end%>
