<fieldset id="daily_schedule" class="hide">
  <legend> daily schedule</legend>
  <h4> Please select when this event occurs</h4>
  <%= f.fields_for :schedule do |s| %>
  <%= s.fields_for :daily do |d| %>
      
      <%= radio_button_tag 'daily_type', 'every_week_day' %>Every weekday

      <br>

      <%= radio_button_tag 'daily_type', 'every_day' %>Every <%= d.text_field :value, :size=>2 %> days

      
      <p>
        <%= d.label :start_time %>

        <%= d.text_field :start_time, :id=> nil, :class=>'tpickr', :size=>7 %>
      </p>

      <p>
        <%= d.label :end_time %>

        <%= d.text_field :end_time, :id=> nil, :class=>'tpickr', :size=>7 %>
      </p>
      <h4>Please select the range of occurences</h4>

      <p>
        <%= d.label :start_date %>
        <%= d.text_field :start_date, :id => nil, :class =>'datepickr', :size=>7 %>
      </p>

      <p>
        <%= d.label :end_date %>
        <%= d.text_field :end_date, :id => nil, :class=>'datepickr', :size=>7 %>
      </p>
    <% end %>


  <% end %>
</fieldset>


<div id="weekly">

</div>
