<% require_javascript 'new_volunteering_position.js' %>
<% require_javascript 'thirdParty/jquery.ptTimeSelect.js' %>
<% require_stylesheet 'thirdParty/jquery.ptTimeSelect.css' %>



<%= form_for(@position) do |f| %>
	<% if @position.errors.any? %>
		<div id="errorExplanation">
			<h2><%= pluralize(@position.errors.count, "error") %>prohibited this position from being
				saved:</h2>
			<ul>
				<% @position.errors.full_messages.each do |msg| %>
					<li>
						<%= msg %>
					</li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>
    	
	<p>
		<%= f.label :description %>
		<%= f.text_area :description, :rows => 6 %>
	</p>

    <p>
		<%= f.label :start_time %>
		<%= f.text_field :start_time%>
	</p>

    <p>
		<%= f.label :end_time %>
		<%= f.text_field :end_time%>
	</p>

    <p>
		<%= f.label :start_date %>
		<%= f.text_field :start_date%>
	</p>

    <p>
		<%= f.label :end_date %>
		<%= f.text_field :end_date%>
	</p>

	<p>
		<%= f.label :hours %>
		<%= f.text_field :hours, :class => "inputSmall" %>
	</p>

	<p>
		<%= f.label :volunteers_required %>
		<%= f.text_field :volunteers_required, :class => "inputSmall" %> 
	</p>

    <p>
		<%= f.label :recurrent %>
		<%= f.check_box :recurrence%>
	</p>

        <%= f.fields_for :schedule do |ff| %>
            <%= render 'schedule_form', :f => ff %>
        <%end%>

    <h2>Skills/Interests</h2>
	<p>
        <%= f.label :skills_values %>
        <%= f.text_field :skills_values %>
    </p>

	<p>
		<%= f.label :interests_values %>
        <%= f.text_field :interests_values %>
    </p>

    <h2>Contact Information</h2>

	<p>
        <%= f.fields_for :contact do |ff| %>
            <%= render 'contact_form', :f => ff %>
        <%end%>
    </p>
    
	<p>

		<%= cust_button f.submit %>
	</p>


<% end %>
