<% require_stylesheet 'omega_volunteering' %>
<% require_javascript 'thirdParty/jquery.timepicker' ,'new_volunteering_position' %>


<%= form_for(@position) do |f| %>
    <%= errors_for_form(@position, 'position') %>
<fieldset>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :description %>
      <%= f.text_area :description, :rows => 6 %>
    </p>
    <p>
      <%= f.label :hours %>
      <%= f.text_field :hours, :class => "inputSmall" %>
    </p>
    <p>
      <%#= f.label :volunteers_required %>
      <%#= f.text_field :volunteers_required, :class => "inputSmall" %>
    </p>
    <p>
      <%= f.label :recurrent %>
      <%= f.check_box :recurrence %>

    </p>
    <div id="non_recurrent">

      <p>
        <%= f.label :start_date %>
        <%= f.text_field :start_date_nr, :class=>'datepickr', :size=>10 , :autocomplete => 'off'%>
        <%= f.text_field :starttime_nr, :class=>'tpickr', :size=>10 , :autocomplete => 'off'%>
      </p>

      <p>
        <%= f.label :end_date %>
        <%= f.text_field :end_date_nr, :class=>'datepickr', :size=>10 , :autocomplete => 'off'%>
        <%= f.text_field :endtime_nr, :class=>'tpickr', :size=>10 , :autocomplete => 'off'%>
      </p>
    </div>

    <div id="scheduler">
      <label for="volunteering_position[schedule_type]">Pattern</label>

      <%= f.fields_for :schedule do |ff| %>
          <%= errors_for_model f.object%>
          <% ['daily', 'weekly', 'monthly', 'yearly'].each do |d| %>
              <%= ff.radio_button :schedule_type, d %> <%= d %>
          <% end %>
      <% end %>


      <%= render('form_schedule_weekly', :f => f) %>
      <%= render('form_schedule_daily', :f => f) %>
    </div>

    <p>
      <%= f.label :volunteers %>
      <%= f.text_field :volunteers_required, :size=>10 %>
    </p>
</fieldset>

      <%#= f.label :skills_values %>

      <%#= f.text_field :skills_values %>


      <%#= f.label :interests_values %>

      <%#= f.text_field :interests_values %>




    <div id="vp_contact">
      <fieldset>
      <% [[:none, 'no contact'], [:existing, 'existing contact'], [:new, 'new contact']].each do |value, text| %>
          <%= radio_button_tag 'contact_assignment', value, true %><%= text %>
      <% end %>
</fieldset>
      <fieldset id="position_exisiting_contact" class="hide">
        <legend>Assign an existing contact</legend>
        <%= f.label "contact_name(s)" %>
        <%= text_field_tag 'ac-contacts', nil %>
        <%= f.hidden_field :contact_ids %>
        <ul id="assigned_contacts" class="right">

        </ul>
      </fieldset>


      <fieldset id="position_new_contact" class="hide">
        <legend>Create a new contact</legend>
        <%= f.fields_for :contacts do |ff| %>
            <%= render 'contact_form', :f => ff %>
        <% end %>
      </fieldset>

    </div>
    <fieldset>
    <p>
      <%= f.label :skills %>
      <%= f.text_field :skills_values %>
    </p>

    <p>
      <%= f.label :interests %>
      <%= f.text_field :interests_values %>
    </p>
</fieldset>


<%= om_button(:icon=>'save') do %>


          <%= f.submit %>
      <% end %>



<% end %>
