<% require_stylesheet 'omega_volunteering' %>
<% require_javascript 'thirdParty/jquery.timepicker', 'new_volunteering_position' %>


<%= form_for(@position, :html => {:id => 'volunteer_position_form'}) do |f| %>
    <%= errors_for_form(@position, 'position') %>
    <fieldset>
      <p>
        <%= f.label :name %>
        <%= f.text_field :name, :'data-tooltip '=> 'descriptive name for position', :class => 'broad-text' %>
      </p>

      <p>
        <%= f.label :description %>
        <%= f.text_area :description, :rows => 6, :'data-tooltip '=> 'describe what work the volunteer will be doing in this position', :class => 'broad-text' %>
      </p>

      <p>
        <%= f.label :hours %>

        <span data-tooltip="Increase" class="om-icon-only om-blue-icon ui-icon-plusthick increase"></span>
        <%= f.text_field :hours, :value=> 1, :class => "inputSmall", :'data-tooltip '=> 'approximate number of hours per week needed' %>
        <span data-tooltip="Decrease" class="om-icon-only om-blue-icon ui-icon-minusthick decrease"></span>
      </p>

      <p>
        <%= f.label :reoccurs %>
        <%= f.radio_button :recurrence, true %>
        <%= f.label :one_time_only %>
        <%= f.radio_button :recurrence, false %>

      </p>


      <div id="non_recurrent">

        <p>
          <%= f.label :start_date %>
          <%= f.text_field :start_date, :class=>'datepickr', :size=>10, :autocomplete => 'off' %>
          <%= f.label :end_date %>
          <%= f.text_field :end_date, :class=>'datepickr', :size=>10, :autocomplete => 'off' %>
        </p>

        <p>

          <%= f.label :start_time %>
          <%= f.text_field :start_time, :class=>'tpickr', :size=>10, :autocomplete => 'off' %>
          <%= f.label :end_time %>
          <%= f.text_field :end_time, :class=>'tpickr', :size=>10, :autocomplete => 'off' %>
        </p>
      </div>

      <div id="scheduler">
        <label for="volunteering_position[schedule_type]">Pattern</label>

        <%= f.fields_for :schedule do |ff| %>
            <%= errors_for_model f.object %>
            <% ['daily', 'weekly', 'monthly', 'yearly'].each do |d| %>
                <%= ff.radio_button :schedule_type, d %> <%= d %>
            <% end %>
        <% end %>


        <%= render('form_schedule_weekly', :f => f) %>
        <%= render('form_schedule_daily', :f => f) %>
      </div>

      <p>
        <%= f.label :Num_Volunteers %>
        <span data-tooltip="Increase" class="om-icon-only om-blue-icon ui-icon-plusthick increase"></span>
        <%= f.text_field :volunteers_required,:value => 1,:class => "inputSmall" %>
        <span data-tooltip="Decrease" class="om-icon-only om-blue-icon ui-icon-minusthick decrease"></span>
      </p>
    </fieldset>

    <%#= f.label :skills_values %>

    <%#= f.text_field :skills_values %>


    <%#= f.label :interests_values %>

    <%#= f.text_field :interests_values %>




    <div id="vp_contact">
      <fieldset>
        <legend>Contact for this position</legend>
        <% [['none', 'no contact'], ['existing', 'existing contact'], ['new', 'new contact']].each do |value, text| %>
            <%= radio_button_tag 'contact_assignment', value, value == @contact_assignment %><%= text %>
        <% end %>
      </fieldset>
      <fieldset id="position_exisiting_contact" class="hide">
        <legend>Assign an existing contact</legend>
        <table>
          <tr>
            <td><%= f.label "contact_name(s)" %></td>
            <td>
              
                  <span id="add-contacts">
               <span class="om-icon-only om-blue-icon ui-icon-plus" data-tooltip="Add contact"></span>
                Add an exisitng contact
                  </span>

              <ul id="assigned_contacts">

                <% @position.contacts.each do |c| %>
                    <li ui-data="<%= c.id %>">
                      <span class="om-icon-only om-blue-icon ui-icon-minus" data-tooltip="Remove this contact"></span>
                      <%= c.first_name %><%= c.last_name %>
                    </li>
                <% end unless @position.contacts.empty? %>
              </ul>
            </td>
          </tr>
        </table>

        <%#= text_field_tag 'ac-contacts', nil %>

        <%= f.hidden_field :contact_ids %>


      </fieldset>


      <fieldset id="position_new_contact" class="hide">
        <legend>Create a new contact</legend>
        <%= f.fields_for :contacts do |ff| %>
            <%= render 'contact_form', :f => ff %>
        <% end %>
      </fieldset>

    </div>
    <fieldset>
      <legend>Skills and Interests</legend>
      <p>
        <%= f.label :skills %>
        <%= f.text_field :skills_values %>
      </p>

      <p>
        <%= f.label :interests %>
        <%= f.text_field :interests_values %>
      </p>
    </fieldset>
    <p>
      <%= om_button(:icon=>'save') do %>
          <%= f.submit %>
      <% end %>

    </p>




<% end %>
