<%= div_for f.object do %>
    <%= errors_for_model f.object %>

        <p>
            <%=f.label :day %>
            <%= f.text_field :day, :disabled => true%>
        </p>

        <p>
            <%=f.label :start_time %>
            <%= f.text_field :start_time %>
        </p>

        <p>
            <%=f.label :end_time%>
            <%= f.text_field :end_time %> <br/>
        </p>

        <p>
            <%=f.label :volunteers%>
            <%= f.text_field :volunteers %> <br/>
        </p>


<%end%>