<% require_javascript 'omega_volunteering' %>
<% require_stylesheet 'omega_volunteering' %>
<h1>Listing positions</h1>
<ul id="positions_list">
  <% Volunteering::Position.all.each do |position| %>
      <li class="clearfix">
        <div class="position">
          <div class="actions">

            <%= link_to 'Show', position %>
            <%= link_to 'Edit', edit_volunteering_position_path(position) %>
            <%= link_to 'Destroy', :method => "delete" %>

          </div>
          <% if position.start? %>
              <div class="posDate">
                <div class="posCalMonth">

                  <%= position.start.strftime("%b") %></div>

                <div class="posCalDay"> <%= position.start.day %></div>
              </div>
           <% else %>
          <div class="posDate">
                <div class="posCalMonth">

                  </div>

                <div class="posCalDay"></div>
              </div>
          <% end %>
          <div >

            <h2><%= position.name %></h2>


            <p class="posDescribtion">

              <%= truncate(position.description, :length=> 200) %>
            </p>
             <% if position.start? %>
					<span class="liDate">
					Start: <%= position.start.to_formatted_s(:short) %>
                      <br>

					End: <%= position.end.to_formatted_s(:short) %>
					</span>
<% end %>

          </div>

          <div class="clear"></div>


        </div>

        <%#= position.contact %>
        <%#= link_to 'Show', position %>
        <%#= link_to 'Edit', edit_volunteering_position_path(position) %>
        <%#= link_to 'Destroy', position, :confirm => 'Are you sure?', :method => :delete %>
      </li>

  <% end %>
</ul>
<% content_for :sidebar do %>
    <%= render :partial => "layouts/sidebar_positions" %>
<% end %>