<% require_stylesheet 'omega_volunteering' %>
<% require_javascript 'omega_volunteering' %>

<h1 class="page-content corners-top">
  Volunteering Positions
</h1>


<div class="page-content corners-bottom">
  <div class="right">
    <%= om_button(:icon=>'sort-az') do %>
        <%= link_to 'sort Z-A', url_for(params.merge(:name => 'asc')) %>
    <% end %>
    <%= om_button(:icon=>'sort-za') do %>
        <%= link_to 'sort Z-A', url_for(params.merge(:name => 'desc')) %>
    <% end %>

  </div>

  <div class="clear"></div>

  <% if @skills_tags %>
      <p>
        <% @skills_tags.each do |skill| %>
            <span class="skill_tag skill_tag_active"><a href=""><%= skill %></a> </span>
        <% end %>
      </p>
  <% end %>
  <ul id="positions_list">
    <% @positions.each do |position| %>
        <li class="clearfix">

          <div class="position_slider">
            <div class="position_actions">

              <% record = Volunteering::Record.find_by_position_id(position.id) %>
              <% if !record.nil? && !current_user.is_anonymous? && Contact.for(current_user).id == record.contact_id %>
                  <%= om_button(:plain => true, :icon => 'clock') do %>
                      <%= link_to 'Log Hours', new_volunteering_time_entry_url(:id => record.id) %>
                  <% end %>

              <% end %>

              <% record = Volunteering::Record.find_by_position_id(position.id) %>
              <% if !record.nil? && !current_user.is_anonymous? && Contact.for(current_user).id == record.contact_id %>
                  <%= om_button(:plain => true, :icon => 'apply') do %>
                      <%= link_to 'Apply', new_volunteering_record_url(:id=>position) %>
                  <% end %>

              <% end %>
              <%= toggle_favorite(position) %>

            </div>
          </div>
          <div class="position">
            <div class="position-wrapper">
              <h2>
                <%= link_to truncate(position.name, :length=>60), volunteering_position_path(position) %>
              </h2>

              <p class="posDescribtion">
                <%= truncate(position.description, :length=> 160) %> <%= link_to '( read more ... )', volunteering_position_path(position) %>
              </p>

              <div class="position_tags">
                <% position.skills.each do |skill| %>
                    <span class="skill_tag">

                     <%= link_to skills_volunteering_positions_path(:skills => [params[:skills], skill.name].compact.join('+')) do %>
                            <%= skill.name %> 
                        <% end %>

                    </span>
                <% end %>
              </div>
            </div>
          </div>

        </li>

    <% end %>
  </ul>
  <% if @positions.size >= Volunteering::Position::MAX_POSITIONS_PER_PAGE %>
      <%= will_paginate @positions %>
  <% end %>
  <div class="clear"></div>

</div>



<% content_for :sidebar do %>
    <%= render :partial => "layouts/sidebar_positions_skills" %>

<% end %>

<% content_for :rows do %>
    <%= render :partial => "layouts/sidebar_positions_interests" %>

<% end %>