<% require_stylesheet 'omega_volunteering' %>
<% require_javascript 'omega_volunteering' %>
<%= context_box do %>
<h1 class="page-content corners-top">
  Volunteering Positions
</h1>


<div class="page-content corners-bottom">
  <div class="right">
    <%= om_button(:icon=>'sort-az') do %>
        <%= link_to 'sort A-Z', url_for(params.merge(:name => 'asc')) %>
    <% end %>
    <%= om_button(:icon=>'sort-za') do %>
        <%= link_to 'sort Z-A', url_for(params.merge(:name => 'desc')) %>
    <% end %>

  </div>

  <div class="clear"></div>

  <% if tags = @skills_tags or tags = @interests_tags %>
      <p>
        <% tags.each do |tag| %>
             <span class="skill-tag-active"> <%= tag %> </span>
        <% end %>
      </p>
  <% end %>
  <ul id="positions-list">
    <% @positions.each do |position| %>
        <li id="position-<%= position.id %>">
          <div class="position-slider">
            <%= render 'volunteering/positions/partials/position_actions', :position => position %>
          </div>
          <div class="position">
            <div class="position-wrapper">

              <% if position.start? %>
                  <div class="pos-date">
                    <div class="pos-cal-month">
                      <%= position.start.strftime("%b") %></div>
                    <div class="pos-cal-day"> <%= position.start.day %></div>
                  </div>
              <% else %>
                  <div class="pos-recurrent">
                    <div class="posCalMonth">

                    </div>

                    <div class="posCalDay"></div>
                  </div>
              <% end %>
              <h2>
                <%= link_to truncate(position.name, :length=>60), volunteering_position_path(position) %>
              </h2>
              <p>
                <%= truncate(position.description, :length=> 140) %> <%= link_to '( read more ... )', volunteering_position_path(position) %>
              </p>

              <span>
                <% position.skills.each do |skill| %>
                    <span class="skill-tag">

                     <%= link_to skills_volunteering_positions_path(:skills => [params[:skills], skill.name].compact.join('+')) do %>
                            <%= skill.name %> 
                        <% end %>

                    </span>
                <% end %>
              </span>
            </div>
          </div>
          <div class="clear"></div>

        </li>

    <% end %>
  </ul>

  <%= will_paginate @positions %>

  <div class="clear"></div>

</div>

    <% end %>

<% content_for :sidebar do %>
    <%= render :partial => "layouts/sidebar_positions_skills" %>
    <%= render :partial => "layouts/sidebar_positions_interests" %>
<% end %>
