<% require_stylesheet 'omega_volunteering_positions' %>
<% require_javascript 'omega_volunteering' %>

<h1>
 My Current Positions


</h1>

<% if @skills_tags %>
    <div>
      <% @skills_tags.each do |skill| %>
          <span class="skill_tag skill_tag_active"><a href=""><%= skill %></a> </span>
      <% end %>
    </div>
<% end %>

<div class="position_r">

  <input id="sd" name="sd" type="text" value="Search..."/>
  <%= link_to 'sort by name', volunteering_positions_path(:name => 'asc') %>
</div>

<ul id="positions_list">
  <% if @positions.empty? %>
    <br/>
    <strong>You have not volunteered for any position yet!</strong><br/><br/>
      <p>
        <%= link_to 'Search Current Listing to Apply Now', volunteering_positions_path%>
        
      </p>
  <%else%>
  <% @positions.each do |position| %>
      <li class="clearfix">

        <div class="position_slider">
          <div class="position_actions">
            <%= toggle_favorite(position) %>
            <img src="/images/icons/quill.png" alt="">
            <% record = Volunteering::Record.find_by_position_id_and_contact_id(position, Contact.for(current_user)) %>
            <% if record.nil? && !current_user.is_anonymous? %>
            <%= link_to 'Apply for this Position', new_volunteering_record_path(:id => position)%>
            <%end%>
          </div>

        </div>
        <div class="position">
          <div class="position-wrapper">
            <h2>
            <%= link_to truncate(position.name, :length=>60), volunteering_position_path(position) %>
          </h2>

          <p class="posDescribtion">
            <%= truncate(position.description, :length=> 160) %>
          </p>

          <div class="position_tags">
            <% position.skills.each do |skill| %>
                <span class="skill_tag"><a href=""><%= skill.name %></a> </span>
            <% end %>
          </div>

          <p>
            <% record = Volunteering::Record.find_by_position_id(position.id) %>
            <% if !record.nil? && !current_user.is_anonymous? && Contact.for(current_user).id == record.contact_id%>

                <%= link_to "Record Hours for this Position!", new_volunteering_time_entry_url(:id => record.id) %>

            <%end%>
          </p>
          </div>


        </div>


      </li>

  <% end %>
  <%end%>
</ul>


<% content_for :sidebar do %>
    <%= render :partial => "layouts/sidebar_positions" %>

<% end %>