<% if notice != nil %><p class="notice"><%= notice %></p>
<% end %>
<div class="form">
  <h1>
    <%= @position.name %>
  </h1>

<%= toggle_favorite(@position) %>

  <p>
    <%= @position.description %>
  </p>

  <div class="articleDetails">
    <% if @position.start %>
        <p>
          <span class="fieldDescribtion"> Start date:</span>
          <%= @position.start.to_formatted_s(:long) %>
        </p>
    <% end %>
    <% if @position.end %>
        <p>
          <span class="fieldDescribtion">End date:</span>
          <%= @position.end.to_formatted_s(:long) %>
        </p>
    <% end %>

        <!-- hours-->

    <% if @position.schedule %>
        <%= debug @position.schedule %>
    <% end %>
    <% if @position.contact %>
        <p>
          <span class="fieldDescribtion"> Contact:</span>
          <%= @position.contact %>
        </p>
    <% end %>
    <%= link_to 'Edit', edit_volunteering_position_path(@position) %>
    <%= link_to 'Back', volunteering_positions_path %>
  </div>

</div>


<% content_for :sidebar do %>
    <%= render :partial => "layouts/sidebar_position_related" %>
<% end %>