<% if notice != nil %><p class="notice"><%= notice %></p><% end %>
<div class="article">
<h1>
  <%= @position.name %>
</h1>
<span class="arrow"></span>

<p class="articleDescribtion">
  <%= @position.description %>
</p>
<div class="articleDetails" >
  <% if @position.start %>
<p>
 <span class="fieldDescribtion"> Start date:</span>
  <%= @position.start.to_formatted_s(:long) %>
</p>
<% end %>
  <% if @position.end %>
<p>
  <span class="fieldDescribtion">End date:</span>
  <%= @position.end.to_formatted_s(:long) %>
</p>
<% end %>
<p>
 <span class="fieldDescribtion"> Hours:</span>
  <%= @position.hours %>
</p>

<p>
  <!--<span class="fieldDescribtion">Positions available:</span>-->
  <%#= @position.positions_available %>
</p>
  <%= debug @position.schedule %>
  <%#= debug @position.schedule.days %>

<p>
 <span class="fieldDescribtion"> Contact:</span>
  <%#= @volunteering_position.contact %>
</p>
	<%= link_to 'Edit', edit_volunteering_position_path(@position) %>
	<%= link_to 'Back', volunteering_positions_path %>
</div>





</div>
<% content_for :sidebar do %>
<%= render :partial => "layouts/sidebar_positions" %>
<% end %>