<% require_stylesheet 'omega_volunteering' %>

    <div class="content circle-corners-bottom-left">
    	
		<div class="heading-main-columns">
	
				<h1 class="page-content">
      				Current Volunteering Opportunities
		    	</h1>
	
		</div>


      <div class="right">
      	<br/>
        <%= om_button(:icon=>'sort-az', :small => true) do %>
            <%= link_to 'sort A-Z', url_for(params.merge(:name => 'asc')) %>
        <% end %>
        <%= om_button(:icon=>'sort-za', :small => true) do %>
            <%= link_to 'sort Z-A', url_for(params.merge(:name => 'desc')) %>
        <% end %>

      </div>

      <div class="clear"></div>

      <% if tags = @skills_tags or tags = @interests_tags %>
          <p>
            <% tags.each do |tag| %>
                <%= link_to nil, tag, :class => 'skill-tag-active' do %>
                    <span> <%= tag %> </span>
                <% end %>
            <% end %>
          </p>
      <% end %>
      
      <ul id="positions-list">
        <% @positions.each do |position| %>
            <li id="position-<%= position.id %>">
              <div class="position-slider">
                <%= render 'volunteering/positions/partials/position_actions', :position => position %>
              </div>
              <div class="position">
                <div class="position-wrapper">

                  <% if position.start? %>
                      <div class="pos-date">
                        <div class="pos-cal-month">
                          <%= position.start.strftime("%b") %></div>
                        <div class="pos-cal-day"> <%= position.start.day %></div>
                      </div>
                  <% else %>
                      <div class="pos-recurrent">
                        <div class="posCalMonth">

                        </div>

                        <div class="posCalDay"></div>
                      </div>
                  <% end %>
                  <h2>
                    <%= link_to truncate(position.name, :length=>60), volunteering_position_path(position), :class => 'position-name'  %>
                  </h2>

                  <p>
                    <%= truncate(position.description, :length=> 140) %>
                  </p>

                  <p>
                    <%= link_to '( read more ... )', volunteering_position_path(position) %>
                  </p>
              <span>
                <% position.skills.each do |skill| %>


                     <%= link_to volunteering_skills_path(:skills => [params[:skills], skill.name].compact.join('+')), :class => 'skill-tag' do %>
                           <span class="skill-tag"> <%= skill.name %>  </span>
                        <% end %>


                <% end %>
                <div class="clear"></div>
              </span>
                </div>
              </div>
              <div class="clear"></div>
            </li>
        <% end %>
      </ul>
      <%= will_paginate @positions %>
      <div class="clear"></div>
    </div>

<% content_for :sidebar do %>
    <%= render :partial => "layouts/sidebar_positions_skills" %>
    <%= render :partial => "layouts/sidebar_positions_interests" %>
<% end %>
