<% require_stylesheet 'services' %>
<%= form_for @registration do |f| %>
    <%= errors_for_form(@registration, 'registration') %>
    <%= f.hidden_field :service_id, :value => params[:service_id] %>
    <%= f.fields_for :contact do |c| %>
        <%= c.hidden_field :id %>
        <%= c.hidden_field :title %>
        <% if @service.service_category.eql?("Enrollable") %>
            <p>
              <%= c.label :first_name %>
              <%= c.text_field :first_name %>
            <p>
              <%= c.label :last_name %>
              <%= c.text_field :last_name %>
            <p>
              <%= c.label :emai; %>
              <%= c.text_field :email %>
              

        <% else %>
            <%= c.hidden_field :first_name %>
            <%= c.hidden_field :last_name %>
        <% end %>
        
    <% end %>
    <% @registration_fields.each do |field| %>
        <%= f.fields_for :fieldvalues do |ff| %>
            <%= render 'registration_form', :f => ff, :field => field %>
        <% end %>
    <% end %>


    <div class="bottom-buttons">
      <%= om_button(:icon=>'apply') do %>
          <%= button_to 'Register!', url_for(params.merge(:name => 'desc')) %>
      <% end %>
    </div>
    <div class="clear"></div>
<% end %>




