  <%= div_for f.object do %>
    <%= errors_for_model f.object %>
        <%if @service.id == field.service_id%>
            <%= f.hidden_field :field_id, :value => field.id %>
            
        <p>
        	
        	 <label><%=field.field_name%> </label>  
        	 
        	 	    <% if field.type == "date"%>
        				<%= f.text_field :field_value, :class => 'datepickr'%>
        	        <%else if field.type == "input"%>
        	            <%= f.text_field :field_value%>
        	        <%else if field.type == "selectbox"%>
        	                    	           
        	            <%= f.select :field_value, field.value.field_value%>

        	        <%else if field.type == "textarea"%>
        	        
        	            <%= f.text_area :field_value%>

        	        <%end%>
        </p>    
       

        <%end%>
   

<%end%>
