<% require_stylesheet 'services' %>

<h1 class="page-content corners-top">
My Registered Services</h1>

<div class="page-content corners-bottom">


<p class="left-align">
<%if !current_user.is_anonymous? %>
  <%@services.each do |s|%>
    <strong><%=s.service_name%> - <%=s.service_type%> Service</strong><br/>
    (<%= link_to "Show", service_url(s)%>)
          | (<%= link_to "Remove", s , :confirm => 'Are You Sure?', :method => :delete%>)<br/>
    <%end%>
<%end%>


<%if !current_user.is_anonymous? %>
  <br/>
    <strong> <%= link_to 'Register For a Service', services_url%>

  <br/>
        <%#= link_to 'Export Services to a File', export_to_csv_services_path%>

<%end%>
     </strong>
</p>


</div>
