<% require_stylesheet 'omega_services' %>
<% require_javascript 'omega_services' %>

 <div class="content circle-corners-bottom-left">
    	
		<div class="heading-main">
	
				<h1 class="page-content">
      				My Registrations
		    	</h1>
	
		</div>
  <br/>
  <br/>
  <% if @registrations.empty?%>
  	   <p>
  	   	You haven't registered for any service yet! <br/><br/>
  	   	
  	   	 <%= with_permission(Volunteering::PERM_APPLY) do %>
          <%= om_button(:contact => true, :icon => 'clock') do %>
  	   	  	<%= link_to 'Register for a Service Now', services_url %>
          <% end %>
         <% end %>
  	   	

  	   	
  	   </p>
  <%else%>
      <div class="right">
      	<br/>
        <%= om_button(:icon=>'sort-az', :small => true) do %>
            <%= link_to 'sort A-Z', url_for(params.merge(:name => 'asc')) %>
        <% end %>
        <%= om_button(:icon=>'sort-za', :small => true) do %>
            <%= link_to 'sort Z-A', url_for(params.merge(:name => 'desc')) %>
        <% end %>

      </div>

  <div class="clear"></div>

  <ul id="positions_list">
    <% @registrations.each do |s| %>
        <li >
          <div class="position_slider">
            <div class="position_actions">
              <% if !current_user.is_anonymous? %>
                  <%= om_button(:contact => true, :icon => 'delete') do %>
                      <%= link_to 'Delete' , service_registration_url(:id => s),  :remote => true, :method => :delete, :'data-tooltip' => 'Delete this Service' %>

                  <% end %>
              <% end %>

              
            </div>
          </div>
          <div class="position">
            <div class="position-wrapper">

              <h2>
               


                    <%= link_to s.service_name, service_url(:id => s) %>


              </h2>

              <p>
                <%= s.type.type_name %> Service  <br/>
                <%= s.description%>
              </p>

            </div>
          </div>

        </li>

    <% end %>
  </ul>
  <%end%>
</div>
<%#= will_paginate @types %>



<%# content_for :sidebar do %>
    <%#= render :partial => "layouts/services_menu" %>
<%# end %>
