<% require_stylesheet 'services' %>

<h1 class="page-content corners-top">
   Service Registration Summary
</h1>

<div class="page-content corners-bottom">

<p class="left-align">

<span class="style1" >
  Service Details
</span>

<br/>
<br/>

<strong>Service: </strong><%= @registration.service.service_name%> <br/>
<strong>Type: </strong><%= @registration.service.service_type%> <br/>

<% @registration.service.fields.each do |f| %>

  <strong> <%= f.field_name%> :</strong> <%= f.detail.field_value%> <br/>

<%end%>

<strong>Questions:</strong> <%=@registration.questions%> <br/> <br/>

<span class="style1" >
  Contact Information
</span>

  <br/>
  <br/>

<strong>First Name: </strong><%= @registration.contact.first_name %> <br/>
<strong>Last Name: </strong><%= @registration.contact.first_name %> <br/>
<strong>Email: </strong><%= @registration.contact.email %> <br/>

<br/>

<strong><%= link_to 'My Service Registrations', my_registrations_service_registrations_url%></strong>

<br/>

<strong><%= link_to 'All Services ', services_url%></strong>

</p>

</div>



