<% require_stylesheet 'services' %>


 <div class="content circle-corners-bottom-left">
    	
		<div class="heading-main">
	
				<h1 class="page-content">
   						Service Registration Summary
		    	</h1>
	
		</div>
  <br/>
  



<span class="style1" >
  Service Details
</span>

<br/>
<br/>

<strong>Service: </strong><%= @registration.service.service_name%> <br/>
<strong>Type: </strong><%= @registration.service.type.type_name%> <br/>

<% @registration.service.fields.where('field_category = ?', "Registration Details").each do |f| %>

  <strong> <%= f.field_name%> :</strong><%= f.fieldvalue.field_value%> <br/> 
   
<%end%>

<strong>Questions:</strong> <%=@registration.questions%> <br/> <br/>

<span class="style1" >
  Contact Information
</span>

  <br/>
  <br/>

<strong>First Name: </strong><%= @registration.contact.first_name %> <br/>
<strong>Last Name: </strong><%= @registration.contact.first_name %> <br/>
<strong>Email: </strong><%= @registration.contact.email %> <br/>

<br/>

<strong><%= link_to 'My Service Registrations', my_registrations_service_registrations_url%></strong>

<br/>

<strong><%= link_to 'All Services ', services_url%></strong>

</p>

</div>



