<div id="navigation">
  <ul id="topnav">
    <li><%= link_to "home", root_url, :class =>'root_em' %></li>
    <li>
      <%= link_to "Volunteering", volunteering_positions_url %>
      <div>
        <%= link_to "All Volunteering Positions", volunteering_positions_url %>

        <%= link_to "Create a position", new_volunteering_position_path %>




        <% if !current_user.is_anonymous? %>
            <%= link_to "My Positions", my_positions_volunteering_positions_path %>
            <%= link_to "My Time Sheets", my_time_sheets_volunteering_positions_path %>
        <% end %>
      </div>

    </li>
    <li>
      <%= link_to "Services", services_url %>

    </li>
    <% if !current_user.is_anonymous? %>
        <li><%= link_to "Favorites", trams_favorites_favorites_path %></li>
    <% end %>
    <% if !current_user.is_anonymous? %>
        <li>
          <%= link_to "Messages", messages_url %>

          <div>
            <%= link_to 'inbox', messages_path %>
            <%= link_to 'new', new_message_path %>
            <%= link_to 'Sent', sent_messages_path %>
          </div>
        </li>
    <% end %>
    <li>

    </li>

    <li> <%= link_to "Contacts", contacts_url %>
      <div>
        <%= link_to 'New Contact', new_contact_path %>
        <%= link_to 'New Household', new_contact_household_path %>
        <%= link_to 'New Organization', new_contact_organization_path %>
      </div>

    </li>
    <li> <%= link_to "Calendar", calendars_url %></li>
  </ul>

  <div class="clear"></div>
</div>


