<ul id="main_menu">
  <li>
    <%= link_to "home", root_url, :class =>'active' %>
    <ul class="subnav">
      <li><a href="#">Sub Nav Link</a></li>
      <li><a href="#">Sub Nav Link</a></li>
    </ul>
  </li>
  <li>
    <%= link_to "Volunteering", volunteering_positions_url %>
    <ul class="subnav">
      <li><%= link_to "Upcoming", upcoming_volunteering_positions_url %></li>
      <li>
      <%= link_to "Create", new_volunteering_position_path %>  
      </li>

      <li><a href="#">Sub Nav Link</a></li>
      <li><a href="#">Sub Nav Link</a></li>
      <li><a href="#">Sub Nav Link</a></li>

    </ul>
  </li>
  <li>
    <%= link_to "Contacts", contacts_url %>
    <ul class="subnav">
      <li><a href="#">Sub Nav Link</a></li>
      <li><a href="#">Sub Nav Link</a></li>
    </ul>
  </li>
  <li><%= link_to "calendars", calendars_url %></li>

  <li><a href="#">Contact Us</a></li>
</ul>

<div class="clear"></div>
