<div id="navigation">
  <ul id="topnav">
    <li><%= link_to "home", root_url, :class =>'root_em' %></li>
    <li>
      <%= link_to "Volunteering", volunteering_positions_url %>
      <!--Subnav Starts Here-->
        <div>
            <%= link_to "Upcoming", upcoming_volunteering_positions_url %>
          <%= link_to "Create", new_volunteering_position_path %>
            <a href="#">Subnav Link</a>
        </div>
      <!--Subnav Ends Here-->
    </li>
    <li><%= link_to "Favorites", trams_favorites_favorites_path %></li>
    <li>
      <%= link_to "Messages", messages_url %>
      <!--Subnav Starts Here-->
        <div>
           <%= link_to 'inbox', messages_path %>
          <%= link_to 'new', new_message_path %>
</div>
      <li>
      <%= link_to "My Positions", my_positions_volunteering_positions_path %>
      </li>
      <li>
      <%= link_to "My Time Sheets", my_time_sheets_volunteering_positions_path %>
      </li>


      <!--Subnav Ends Here-->
    </li>
    <li> <%= link_to "Contacts", contacts_url %></li>
    <li> <%= link_to "Calendar", calendars_url %></li>
  </ul>



  <div class="clear"></div>
</div>


