<head>
	<% require_stylesheet 'settings' %>
</head>

<%= form_for(@setting) do |s| %>
	<body>
	
	<div class="heading-main-columns-settings">
	  <h1 class="page-content">
			Edit Settings
	  </h1>
	</div>
	
	
	
	<h3 class="content-heading"> Site-Wide Settings </h3>
		<p class="content">
			Upload an image to use as the site-wide background logo:
		</p>

<!--
		<%#= s.fields_for @image, :html => { :multipart => true} do |i| %>
			
			<p>
				<%#= i.file_field :image %>
			</p>
			</br><p> Current Logo: </p>
		
			<%# if (i.respond_to?('image_file_name')) then %>
				<%# url = i.image_file_name %>
				<div id="settings-logo" style="background:(<%#= url %>)"</div>
			<%# else %>
				<div id="settings-logo"></div>
			<%# end %>
	
	
		<%# end %>
!-->


<h3 class="content-heading"> Sharing </h3>
	<div class="content sharing-content">
		<p> Social Media Accounts to Activate: </p>
		
			<% if @setting.facebook_token.nil? then %>
				<div class="field" >
					<%= s.label "Facebook App Token" %>
					<%= s.text_field(:facebook_token) %>
				</div>
			<% end %>

			<% if @setting.fb_secret.nil? then %>
				<div class="field" >
					<%= s.label "Facebook Secret Token" %>
					<%= s.text_field(:fb_secret) %>
				</div>
			<% end %>

			<!--<%#= link_to "Read about how to get started with Facebook sharing", :url => "developers.facebook.com" %>!-->
			<br /><br />
			<p><a href="http://www.developers.facebook.com"> Read about how to get started with Facebook sharing </a></p>


			<%= "You've added all available accounts" unless @setting.fb_secret.nil? and @setting.facebook_token.nil? %>
	</div>
		
			</br>
			<div class="actions" style="margin-left: 40%">
				<p>
					<%= s.submit "Update Settings" %>
				</p>
			</div>
		<% end %>
	</body>
