
<h1>Apply Filters</h1>

    <% if @skills %>
        Skills:<br/>
        <% @skills.each do |skill| %>
           <span class="skill_tag">
             <%= link_to skills_volunteering_positions_path(:skills => [params[:skills], skill.name].compact.join('+')) do %>
                <%= skill.name %> x <%= skill.count %><br />
            <% end %>
           </span>
        <% end %>
    <% end %>
    <br/>

    <% if @interests %>
        Interests:<br/>
        <% @interests.each do |interest| %>
        <span class="skill_tag">
          <%= link_to interests_volunteering_positions_path(:interests => [params[:interests], interest.name].compact.join('+')) do %>
                <%= interest.name %> x <%= interest.count %><br />
            <% end %>
        </span>

        <% end %>
    <% end %>