<%= side_bar_box('Menu') do %>
    <ul>
      <li>

        <%= om_button(:icon=>'mail') do %>
            <%= link_to 'inbox', messages_path %>
        <% end %>
      </li>
      <li>
        <%= om_button(:icon=>'mail-new') do %>
            <%= link_to 'new', new_message_path %>
        <% end %>
      </li>
      <li>
        <%= om_button(:icon=>'mail-sent') do %>
            <%= link_to 'sent', sent_messages_path %>
        <% end %>
      </li>
    </ul>
<% end %>