<%= side_bar_box('Menu') do %>
    <ul>
      <li>

        <%= om_button(:icon=>'mail', :sidebar => true) do %>
            <%= link_to 'inbox', messages_path %>
        <% end %>
      </li>
	  <br/>
      <li>
        <%= om_button(:icon=>'mail-new', :sidebar => true) do %>
            <%= link_to 'new', new_message_path %>
        <% end %>
      </li>
	  <br/>
      <li>
        <%= om_button(:icon=>'mail-sent', :sidebar => true) do %>
            <%= link_to 'sent', sent_messages_path %>
        <% end %>
      </li>
    </ul>
<% end %>