<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<!--  <title><%#= "#{params[:controller] } #{controller.action_name}" %> </title> -->

  <title><%= content_for?(:title) ? content_for(:title) : "Omega" %></title>

  <% require_stylesheet 'application_evergreen', 'thirdParty/jquery-ui-1.8.4.custom' %>
  <% require_javascript 'thirdParty/jquery', 'thirdParty/jquery-ui', 'thirdParty/jquery.tipsy', "rails", 'application', 'thirdParty/jquery.dataTables.min.js' %>
  <%= csrf_meta_tag %>
  <%= flash_session_meta_tag %>
  <!--[if IE]>

            <%= stylesheet_link_tag "ie" %>
        <![endif]-->
</head>
<body>

<!-- debug section -->
<style type="text/css">
  #test_pages{float:left; color:white}
  .test_section{display:inline-block; position:relative}
  .test_section:hover{background:green}
  .test_section a{color:white; display:block;}
  .test_sub_section{display:none; position:absolute; white-space:nowrap;}
  .test_sub_section:hover{background:green}
</style>
<div id="test_pages">
  <div class="test_section">
    <%= link_to "Test Role", roles_url %>
    <div class="test_sub_section">
      <%= link_to "Permission \\ Role Matrix", roles_url %>
    </div>
  </div> |
  <div class="test_section">
    <%= link_to "Test Asset", {} %>
    <div class="test_sub_section">
      <%= link_to "Asset Management", {} %>
    </div>
  </div>
  <script>
    $(".test_section a").mouseover(function() {
        $(this).parent().find("div").delay(200).slideDown('fast');
    });

    $(".test_section").mouseleave(function() {
        $(this).find("div").slideUp('fast');
    });
  </script>
</div>
<!-- end of debuf section -->

<div id="notification-flash-wrapper">
  <div id="notification-flash" class="center-content corners-top corners-bottom">
  </div>
</div>


<div id="wrapper">
  <%= render :partial => "layouts/head" %>


  <div id="sap-logo">
  </div>




   <div id="content_box">

    <%= render(:layout => "layouts/columns") do
        render(:layout => "layouts/sub_layout", :locals => {:sub_layout => sub_layout}) do
            yield
        end
    end %>


   </div>
</div>


<div id="banner_wrapper">

 	 		<div id="logo" style="background:url(<%=image_in_use_url("Logo")%>) no-repeat left scroll transparent" >
 			</div>
		

 	 	<div id="banner-right" style="background:url(<%=image_in_use_url("Banner")%>) no-repeat right" >
 		</div>

</div>


<%= render :partial => "layouts/footer" %>

<!-- tmp section for debugging -->
<% if ENV["RAILS_ENV"]=="development" %>
  <div id="debug">
    <a href="#" onclick="$('#params_debug_info').toggle(); return false">params</a> |
    <a href="#" onclick="$('#session_debug_info').toggle(); return false">session</a> |
    <a href="#" onclick="$('#env_debug_info').toggle(); return false">env</a> |
    <a href="#" onclick="$('#request_debug_info').toggle(); return false">request</a>
    <fieldset id="params_debug_info" class="debug_info" style="display:none">
      <legend>params</legend>
      <%= debug(params)%>
    </fieldset>
    <fieldset id="session_debug_info" class="debug_info" style="display:none">
      <legend>session</legend>
      <%= debug(session)%>
    </fieldset>
    <fieldset id="env_debug_info" class="debug_info" style="display:none">
      <legend>env</legend>
      <%= debug(request.env)%>
    </fieldset>
    <fieldset id="request_debug_info" class="debug_info" style="display:none">
      <legend>request</legend>
      <%= debug(request)%>
    </fieldset>
  </div>
<% end %>
<!-- end of debugging section -->

</body>

</html>
