<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title><%= "#{params[:controller] } #{controller.action_name}" %> </title>
  <% require_stylesheet 'application', 'thirdParty/jquery-ui-1.8.4.custom' %>
  <% require_javascript 'thirdParty/jquery', 'thirdParty/jquery-ui', 'thirdParty/jquery.tipsy','application' %>
  <%= csrf_meta_tag %>
  <%= flash_session_meta_tag %>
  <!--[if IE]>
            <%= stylesheet_link_tag "ie" %>
        <![endif]-->
</head>
<body>

<div id="notification-flash-wrapper">
  <div id="notification-flash" class="center-content corners-top corners-bottom">

  </div>

</div>

<div id="wrapper">

  <%= render :partial => "layouts/head" %>
  <div id="content" class="center_content">

    <%= render(:layout => "layouts/columns") do
        render(:layout => "layouts/sub_layout", :locals => {:sub_layout => sub_layout}) do
            yield
        end
    end %>
  </div>
</div>
<%= render :partial => "layouts/footer" %>

</body>
</html>