<div id="head">
    <ul id="menu">
    	 <li  class="main">
            <span> <%= t :home %></span>
            <div class="subMenu">
                <span><%= link_to t :home, :url => root_url  %></span><br />

            </div>
        </li>
        <li  class="main">
            <span> <%= t :services %></span>
            <div class="subMenu">
                Dunmp

            </div>
        </li>
        <li  class="main">
            <span> <%= t :volunteering %></span>
            <div class="subMenu">
                <span><%= link_to "New Position", :controller => "/volunteering/positions", :action => "new"  %></span><br />
				<span>assa</span><br />
				<span>assa</span><br />
            </div>
        </li>
        <li class="main">
            <span> <%= t :administration %></span>
            <div class="subMenu">
                <span>assa</span><br />
				<span>assa</span><br />
				<span>assa</span><br />
            </div>
        </li>
        <li class="main">
            <span> <%= t :contacts %></span>
            <div class="subMenu">
                <span>assa</span><br />
				<span>assa</span><br />
				<span>assa</span><br />
            </div>
        </li>
        <li class="main">
            <span> <%= t :calendar %></span>
            <div class="subMenu">
                <span>assa</span><br />
				<span>assa</span><br />
				<span>assa</span><br />
            </div>
        </li>

    </ul>
</div>
