<!-- originally copied from volunteering/positions/histroy.html -->
<!-- app-spec:  class names for css; om-button -->

<% sorted_column = @sorted_column || 2 %>
<% sorting_method = @sorting_method || 'desc' %>
<script type="text/javascript">
  $(function() {
    $('#service_registrations_table').dataTable({
        "bJQueryUI": true,   
        "aaSorting": [[ <%= sorted_column %>, "<%= sorting_method %>" ], [1,'asc']],
        "iDisplayLength": 50
    });

    <% if @service.service_leaf.is_blocked==true %>
      $("#block_registration_checkbox").attr("checked", "checked")
    <% else %>
      $("#block_registration_checkbox").removeAttr("checked")
    <% end %>
  });
</script>

<div class="accepted_registrant_count data_table_count">
  <%= om_button(:plain => true, :icon => 'counter') do %>
    Number of Accepted Registrants: <span class="green"><%= @service.accepted_registrants.count %><%= " / "+@service.capacity.to_s if @service.capacity %></span>
  <% end %>
</div>

<div class="block_registration right">
  <label for="block_registration_checkbox" >Block Future Request</label>
  <input id="block_registration_checkbox" type="checkbox" onclick="switch_block_service_registration('<%= service_url(@service) %>')" />
</div>

<table class="full_width clear data_table" id="service_registrations_table">
  <thead>
    <tr>
      <th id="registration_detail"></th>
      <th id="registrant">From</th>
      <!--<th id="registration_request">Request</th>-->
      <th id="registration_created_at">Requesting Time</th>
      <th id="registration_updated_at">Last Status Updating Time</th>
      <th id="registration_status">Status</th>
      <th id="delete_registration"></th>
    </tr>
  </thead>
  <tbody>
    <%#= render 'service_registrations/index_table_row', :collection => @service_registrations, :as => :service_registration %>
    <% @service_registrations.each do |sr| %>
      <%= render 'service_registrations/index_table_row', :service_registration=>sr %>
    <% end %>
  </tbody>
</table>

<div class="services_operation_links">
  <%= render "index_operation_links" %>
</div> 

<%#= will_paginate @service_registrations %>