        <li id="post-<%= p.id %>" class="list-item relative">

          <h2>
            <%= p.title %>

          </h2>

          <div class="post-details">
            <span class="cf3a72">  <%= p.author.username %> </span>  <%= p.created_at.strftime("%b %d %Y, %H:%M") %>
          </div>
          <div>
            <%= p.body %>
          </div>

        </li>