<!-- app-spec: class names for css -->

<% require_stylesheet 'thirdParty/jquery.dataTables.jui.css' %>
<% require_javascript 'thirdParty/jquery.dataTables.min.js' %>

<% require_stylesheet 'service.css' %>
<% require_stylesheet 'service_registration.css' %>
<% require_javascript 'util.js' %>
<% require_javascript 'ui_util.js'%>
<% require_javascript 'service/share.js' %>
<% require_javascript 'service_registration/index.js' %>
<% require_javascript 'service_registration/new.js' %>
<% require_javascript 'service_registration/destroy.js' %>


<div class="content circle-corners-bottom" >

  <div class="heading-main">
    <h1 class="page-content services_page_title">
      <%= render "index_page_title" %>
    </h1>
  </div>

  <div class="services_page_content">
    <%= render "index_page_content" %>
  </div>

</div>

<%= render "service_registrations/dialog_update_status_form" %>
<%= render "service_registrations/dialog_update_status_failed_message" %>
<%= render "service_registrations/dialog_show_form" %>
<%= render "service_registrations/dialog_edit_form" %>
<%= render "service_registrations/dialog_new_form", :type=>"admin" %>
<%= render "service_registrations/dialog_new_confirm", :type=>"admin" %>
<%= render "service_registrations/dialog_destroy_confirm" %>
<%= render "service_registrations/dialog_destroyed_message" %>
<%= render "service_registrations/dialog_created_message" %>
<%= render "service_registrations/dialog_create_failed_message" %>
