<% require_stylesheet 'login' %>

<div id="loginFailed" >
</div>

<%= form_for Session.new, :remote => true, :'data-type' => 'json' do |f| %>
  <table>
    <tr id="login_tr">
      <td id="login_fields">
        <div class="login_field">
          <%= f.label :user_name, :class => "login" %>
          <%= f.text_field :username, :class => 'inputMid', :tabindex=>1 %>
        </div>
        <div class="login_field">
          <%= f.label :password, :class => "login" %>
          <%= f.password_field :password, :class => 'inputMid', :tabindex=>1 %>
        </div>
      </td>
      <td id="login_operations">
        <div class="login_operation">
          <%=  link_to 'Lost your username?', lost_username_path %>
        </div>
        <div class="login_operation">
          <%=  link_to 'Lost your password?', lost_password_path %>
        </div>
      </td>
    </tr>
  </table>
  <%= f.submit :class=>:hidden_submit%>
<% end %>
