
<div class="login-box">

<div id="loginFailed">
</div>

	<%= form_for Session.new, :remote => true, :'data-type' => 'json' do |f| %>
    <p>
      <%= f.label :username %>
      <%= f.text_field :username, :class => 'inputMid', :tabindex=>1 %>

    </p>
    <p>
      <%= f.label :password %>
      <%= f.password_field :password, :class => 'inputMid', :tabindex=>1 %>

    </p>

     <%= om_button(:icon => 'login') do %>
        <%= f.submit %>
    <% end %>

<p class="left-margin">
  <%=  link_to 'Lost your username?', tenant_lost_username_path %> <br>
  <%=  link_to 'Lost your password?', tenant_lost_password_path %>
</p>


<% end %>
	
</div>

