<% require_stylesheet 'omega_services' %>
<% require_javascript 'omega_services' %>

<%- title "Omega Services - Draft Service Type" %>

<h1 class="page-content corners-top">
  Drafts/Incomplete Services 
</h1>
<div class="page-content corners-bottom">
  <div class="right">
    <%= om_button(:icon=>'sort-az') do %>
        <%= link_to 'sort Z-A', url_for(params.merge(:name => 'asc')) %>
    <% end %>
    <%= om_button(:icon=>'sort-za') do %>
        <%= link_to 'sort Z-A', url_for(params.merge(:name => 'desc')) %>
    <% end %>
  </div>
  <div class="clear"></div>

  <ul id="positions_list">
    <% @services.each do |s| %>
        <li class="clearfix">
          <div class="position_slider">
            <div class="position_actions">
              <% if !current_user.is_anonymous? %>
                  <%= om_button(:plain => true, :icon => 'delete') do %>
                      <%= link_to 'Delete', s, :method => :delete, :'data-tooltip' => 'Delete this Service' %>
                  <% end %>
              <% end %>

              <% if s.published != true %>

                  <% if Service::Registration.find_by_contact_id_and_service_id(Contact.for(current_user), s).nil? %>
                      <%= om_button(:plain => true, :icon => 'apply') do %>
                      
                      <%= link_to "Open Draft", service_wizard_services_url(:step => 2, :id => s), :'data-tooltip' => 'register for this position' %>

                  <% end %>
              <% end %>

              <%end%>
              <%= toggle_favorite(s) if !current_user.is_anonymous? %>
            </div>
          </div>
          <div class="position">
            <div class="position-wrapper">

              <h2>
                <% if (s.published != true) %>

                    <%= link_to s.service_name, service_url(s) %>

                <% end %>
              </h2>

              <p>
                <%= s.service_type %> Service
              </p>

            </div>
          </div>

        </li>

    <% end %>
  </ul>

<%#= will_paginate @services %>

  <div class="clear"></div>

</div>
<% content_for :sidebar do %>
    <%= render :partial => "layouts/services_menu" %>
<% end %>
