<%= form_for @service do |f| %>

    <%= errors_for_model @service %>

    <%= f.hidden_field :service_type, :value => @service_type.service_type %>
    <%= f.hidden_field :service_category, :value => @service_type.service_category %>
    <%= f.hidden_field :description, :value => @service_type.description %>

    <%= hidden_field 'service_icon', '', :value => @service_type.icon.path %>

    <%= f.hidden_field :published, :value => 0 %>

    <% Service::Typefield.find_all_by_type_id(@service_type.id).each do |t|%>

    <%= f.fields_for :fields do |ff| %>

            <%= ff.hidden_field :field_name, :value => t.field_name%>
            <%= ff.hidden_field :field_type, :value => t.field_type%>
            <%= ff.hidden_field :field_type_class, :value => t.field_type_class%>
            <%= ff.hidden_field :field_category, :value => t.field_category%>

            <%= ff.fields_for :detail do |d|%>
                <%= d.hidden_field :field_value, :value => "Enter Value" %>
            <%end%>

        <%end%>

    <%end%>


    <p class="left2">
      <span class="style3">Preview Details</span><br/>
      <br/>

      <br/>
      <strong>Service Category: </strong><%= @service_type.service_category %> <br/>
      <strong>Description:</strong><%= @service_type.description %><br/>



    </p>

    <br/>
    <div class="bottom-buttons">


      <%= om_button(:icon=>'save') do %>
          <%= f.submit "Save & Proceed", :name => "save_proceed" %>
      <% end %>

      <%= om_button(:icon=>'prev-step') do %>
          <%= link_to 'Back', service_wizard_services_url(:step => "introduction") %>
      <% end %>

      <%= om_button(:icon=>'cancel') do %>
          <%= link_to 'Cancel', new_service_url %>
      <% end %>

    </div>


<% end %>


