<%= form_for @service, :html => {:multipart => true} do |f| %>

    <%#= errors_for_form @service %>

    <p class="left2">

   <%unless @errors.nil?%>
    <span class="style2">
      Oops! <%@errors.each do |e|%>
          <%= e%>      <br/>
      <%end%>
    </span>
   <%end%>

    <span class="style1">
      Define Your Enrollable Type <br/>
    </span>

    <br/>
      <strong> Service Type </strong> <%= f.text_field :service_type, :value => "My Enrollable Service Type"%> <br/>

      <br/>
      <%= f.hidden_field :service_category, :value => "Enrollable"%> 

      <strong> Icon </strong>

      <%= f.file_field :icon%> <br/>

      <br/>

      <strong>
      Description </strong> <br/>

      <%= f.text_area :description , :value => "Some Description for your new Enrollable Service Type"%>

      <%= f.hidden_field :published, :value => 0 %>

      <%= f.fields_for :type do |s| %>

        <%= s.hidden_field :service_type %>
        <%= s.hidden_field :service_category %>
        <%= s.hidden_field :icon %>
        <%= s.hidden_field :description %>

           <% Service::CategoryField.find_all_by_service_category("Enrollable").each do |c|%>

             <%= s.fields_for :typefields do |ff| %>

                <%= ff.hidden_field :field_name, :value => c.field_name%>
                <%= ff.hidden_field :field_type, :value => c.field_type%>
                <%= ff.hidden_field :field_type_class, :value => c.field_type_class%>
                <%= ff.hidden_field :field_category, :value => c.field_category%>

             <%end%>
           <%end%>
    <% end %>


    <% Service::CategoryField.find_all_by_service_category("Enrollable").each do |e|%>

             <%= f.fields_for :fields do |ff| %>

                <%= ff.hidden_field :field_name, :value => e.field_name%>
                <%= ff.hidden_field :field_type, :value => e.field_type%>
                <%= ff.hidden_field :field_type_class, :value => e.field_type_class%>
                <%= ff.hidden_field :field_category, :value => e.field_category%>

                <%= ff.fields_for :detail do |d|%>
                    <%= d.hidden_field :field_value, :value => "Enter Value" %>
                <%end%>

             <%end%>
    <%end%>

    </p>

      <br/>

     <p class="left2">

      <%= om_button(:icon=>'next-step') do %>
          <%= f.submit "Save & Proceed", :name => 'save_proceed'%>

      <% end %>

      <%= om_button(:icon=>'cancel') do %>
          <%= link_to 'Cancel', new_service_url %>
      <% end %>

    </p>

<% end %>