<script type="text/javascript">
  $(function() {
    // jquery UI visual effects
    $( "#tabs" ).tabs();
    $( "#service_detail" ).sortable({
	placeholder: "ui-state-highlight"
    });
    $( "#service_detail" ).disableSelection();
    $( "#service_registration" ).sortable({
	placeholder: "ui-state-highlight"
    });
    $( "#service_registration" ).disableSelection();

    // set default environment to service details
    set_leaf_service_env();
    set_service_detail_env();
    check_field_exists();
  });

  // parse relative objects to json for client process without Ajaxing
  var services_with_detail_template = []
  var services_with_registration_template = []
  <% @services_with_detail_template.each do |s| %>
    services_with_detail_template.push(<%= raw s.to_json(:include=>{:service_detail_form=>{:only=>:html}}) %>)
  <% end %>
  <% @services_with_registration_template.each do |s| %>
    services_with_registration_template.push(<%= raw s.to_json(:include=>{:service_registration_form=>{:only=>:html}}) %>)
  <% end %>
</script>

<%= form_for(@service) do |form| %>
  <div class="service_form_builder_tabs" id="tabs">
    <ul id="service_form_builder_nav">
      <li><a id="service_detail_tab_link" href="#tabs-1" onclick="set_service_detail_env()" >Service Details</a></li>
      <li><a id="service_registration_tab_link" href="#tabs-2" onclick="set_service_registration_env()" >Registration Form</a></li>
    </ul>
    <div id="tabs-1">
      <div class="tab_content_options">
        Use Existing Template:
        <% options = ["none"].concat(@services_with_detail_template.map{|s|[s.name, s.id]}) %>
        <% default_option_value = @default_service_with_detail_template ? @default_service_with_detail_template.id : "none" %>
        <%= select_tag(:select_service_detail_templates, options_for_select(options, default_option_value), :onchange => "refresh_service_detail()") %>
        <span id="check_service_detail_template" >
          <label for="hass_service_detail_template" >Make this a new template</label>
          <input id="has_service_detail_template" name="has_service_detail_template" type="checkbox" />
        </span>
      </div>
      <hr/>

      <div class="tab_content" id='table_div_1'>
        <ul>
          <li>
            <%= form.label :name %>
            <%= form.text_field :name, :maxlength=>100, :size=>30 %>
          </li>
          <li>
            <%= form.label :description %>
            <%= form.text_area :description, :cols=>30, :rows=>3 %>
          </li>
        </ul>
        
        <ul class="editable_list" id="service_detail" >
          <%= @super_service.default_service_with_detail_template.detail_html unless @super_service.nil? || @super_service.default_service_with_detail_template.nil? %>
        </ul>
      </div>
    </div>
    
    <div id="tabs-2">
      <div class="tab_content_options">
        Use Existing Template:
        <% options = ["none"].concat(@services_with_registration_template.map{|s|[s.name, s.id]}) %>
        <% default_option_value = @default_service_with_registration_template ? @default_service_with_registration_template.id : "none" %>
        <%= select_tag(:select_service_registration_templates, options_for_select(options, default_option_value), :onchange => "refresh_service_registration()") %>
        <span id="check_service_registration_template">
          <label for="has_service_registration_template" >Make this a new template</label>
          <input id="has_service_registration_template" name="has_service_registration_template" type="checkbox" />
        </span>
      </div>
      <hr/>

      <div class="tab_content" id='table_div_2'>
        <ul class="editable_list" id="service_registration">
          <%= @super_service.default_service_with_registration_template.registration_html unless @super_service.nil? || @super_service.default_service_with_registration_template.nil? %>
        </ul>
      </div>
    </div>
  </div>
  <%= form.hidden_field :super_service_id, :value=>@service.super_service_id %>
  <%= form.hidden_field :status %>
  <%= hidden_field_tag :service_detail_html %>
  <%= hidden_field_tag :service_registration_html %>
  <%= hidden_field_tag :service_level %>
<% end %>
