<h2>Step 1</h2>
<h3>Choose a Service Name, Type and Icon</h3>

<%= form_for @service do |f| %>

  <p>
    <%= f.label :service_name %><br />
    <%= f.text_field :service_name %>
  </p>

  <p>
    <%= f.label :service_type %><br />
    <%= f.text_field :service_type %>
  </p>

  <p>
    <%= f.label :icon %><br />
    <%= f.text_field :icon %>
  </p>

    <%= f.hidden_field :published, :value => false %><br />



  <p><%= f.submit "Go To Step 2" , :action => 'create_custom'%></p>
<% end %>
