<%= form_for @import, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.file_field :csv %>
    <%= f.hidden_field :datatype, :value => 'services'%> <br/>

  </p>

  <p><%= f.submit('Import')%></p>
<% end %>
