<% service = @service if service.nil? %>
<% service_id = service.id unless service.nil? %>
<% services = (@services.nil? ? [] : @services) if services.nil? %>

<% if services.empty? || (!Service.open? && !is_admin?) %>
  <%= render "services/index_no_service_message" %>
<% else %>

  <script type="text/javascript">
    // parse relative objects to json for client process to avoid ajax
    var services = <%= raw services.to_json(:include=>{:service_registration_form=>{:only=>:html}}) %>
  </script>

      <div id="accordion">
        <% services.each do |s| %>
          <% if(is_admin? || s.is_public?) %>

            <h3 id="service_head_<%= s.id %>" class="service_head<%= s.is_leaf? ? " service_leaf" : " service_branch" %>"
                ondblclick="if($(this).hasClass('service_branch')) 
                              $.ajax({
                                  url: '<%= services_url(:super_service_id=>s.id) %>'
                              })" >
              <%= render "services/show_head", :service=>s %>
            </h3>

            <div id="service_body_<%= s.id %>" class="service_body" >
              <%= render "services/show_body", :service=>s %>
            </div>
        
           <% end %>
        <% end %>
      </div>
      <script type="text/javascript">
        services_accordion('<%= service_id %>');
        //$('.service_operation_button').button();  //old style
      </script>

<% end %>