<div class="services_search_box">
  <%= render "index_search_box" %>
</div>

<div class="services_list">
  <%= bread_crumb(@super_service) %>
  <hr/>
  <% if @services.empty? %>
    <%= render "index_no_service_message" %>
  <% else %>
    <%= render "index_list" %>
  <% end %>
</div>

<div class="services_operation_links">
  <%= render "index_operation_links" %>
</div> 

<%= render "service_registrations/new_dialog_form" %>
<%= render "service_registrations/new_dialog_confirm" %>
<%= render "service_registrations/created_dialog_message" %>
<%= render "delete_dialog_confirm" %>