<%=form_for @service do |f| %>
   <%= errors_for_model @service%>

   <%= f.hidden_field :service_type, :value => @s.service_type%>
   <%= f.hidden_field :service_category, :value => @s.service_category%>
   <%=f.hidden_field :icon_file_name, :value => @s.icon_file_name %>
   <%=f.hidden_field :icon_content_type, :value => @s.icon_content_type %>
   <%=f.hidden_field :icon_file_size, :value => @s.icon_file_size %>
   <%=f.hidden_field :description, :value => @s.description %>

    <p class="left2">
      <span class="style3">Preview Details</span><br/>

      <br/>
   <strong>Service Category: </strong><%=@s.service_category%> <br/>
      <strong>Description:</strong><%=@s.description %><br/>

      <% unless @fields.empty? %>

        <%Service::Typefield.find_all_by_field_category_and_service_id("Details", @s.id).each do |s|%>

        <strong><%=s.field_name%></strong>
        <br/>

        <%end%>

        <br/>

        <span class="style2">Registration Details</span><br/>

        <%Service::Typefield.find_all_by_field_category_and_service_id("Registration",@s.id).each do |s|%>

        <br/>

        <strong><%=s.field_name%></strong>  <strong>(Field Type: <%=s.field_type%>)</strong>

        <br/>

        <%end%>
      <%end%>
    </p>

    <br/>
    <div class="bottom-buttons">

    <div class="button-first">
      <%=f.submit "Save & Proceed"%>
    </div>
    <div class="button-next">
      <%= link_to 'Back', service_wizard_services_url%>
    </div>
    <div class="button-next">
      <%= link_to 'Cancel', new_service_url%>
    </div>




    </div>


<%end%>


