<h1>Services Offered</h1>

<%@services.each do |s|%>
    <strong><%=s.service_type%></strong>
    (<%= link_to "Show", service_service_fields_url(s.id) %>) |
    <%if s.published == false %>
        (<%= link_to "Publish", service_wizard_services_url(:step => 3, :id => s.id) %>) <br/>
    <%else%>
    (<%= link_to "Register", new_service_service_registration_url(s.id) %>) <br/>
    <%end%>
<%end%>

<p>
  <%= link_to 'Add a New Service', service_wizard_services_url%>
</p>


<p>
  <%= link_to 'Export Services to a File', export_to_csv_services_path%>
</p>
