<% require_stylesheet 'services.css' %>


<h1 class="page-content corners-top">

  Edit <%= @service.service_name %> - <%= @service.service_type %>

</h1>

<div class="page-content corners-bottom">

 <%= form_for @service do |f| %>

        <%= errors_for_form(@service, 'service') %>

        <p class="left2">

          <strong>Service Type:</strong>
          <%= @service.service_type %><br/>
          <%= f.hidden_field :service_type %>

          <strong>Icon:</strong>
          <% if @service.icon_file_name != 'missing.png'%>

             <%= image_tag @service.icon.url(:small), :width =>  '65' %><br/>

          <%else%>

             <%= image_tag "/images/icons/services/types/default/missing.png", :width =>  '65' %><br/>

          <%end%>

          <%= f.hidden_field :icon %>

          <br/>
          <strong>Published</strong><br/>
          <%=f.select :published, {'Yes' => true , 'No' => false }, :selected => @service.published.to_s %> <br/>

          <br/>
          <strong>Category:</strong>
          <%= @service.service_category %><br/>

          <br/>

          <strong>Name/Title - <%= @service.service_type %> Service</strong> <br/>

          <br/>

          <%= f.text_field :service_name %><br/>

          <br/>
          <strong>Description</strong> <br/>

          <%= f.text_area :description, :value => @service.description %><br/>

          <% unless @details.empty? %>

              <% @details.each_with_index do |detail, index| %>

                  <%= f.fields_for "details_attributes[#{index}]", detail do |ff| %>

                      <%= ff.hidden_field :id %>
                      <%= ff.hidden_field :service_id %>
                      <%= ff.hidden_field :field_id %>

                      <strong><%= Service::Field.find_by_id(detail.field_id).field_name %></strong> <br/>

                      <%= ff.text_field :field_value %> <br/>

                <% end %>
            <% end %>
        <% end %>

        <% unless @service_fields.empty? %>

        <p class="left2">

             <strong>Select Fields You Would Want to Remove</strong>

             <br/><br/>

             <% @service_fields.each_with_index do |d| %>


                <%= f.fields_for "fields", d do |ff| %>

                    <%= ff.check_box '_destroy' %> <%= d.field_name %>
                    <%= ff.hidden_field :field_name %>
                    <%= ff.hidden_field :field_type %>

                    <br/>

                <% end %>

             <% end %>

        <% end %>


        <div class="bottom-buttons">


          <%= om_button(:icon=>'next-step') do %>
              <%= f.submit "Update", :name => "update" %>
          <% end %>


        </div>

    <% end %>

</div>