<% require_stylesheet 'services.css' %>


<h1 class="page-content corners-top">
  <%= @service.service_name %> Service
</h1>
<div class="page-content corners-bottom">

  <span class="style2">Service Details </span> <br/>

  <% Service::Field.find_all_by_field_category_and_service_id("Details", @service.id).each do |s| %>
      <p>

        <%= s.field_name %>:
        <%= Service::Detail.find_by_field_id(s.id).field_value %>
      </p>
  <% end %>

  <br/><span class="style2">Registration Details </span>

  <% Service::Field.find_all_by_field_category_and_service_id("Registration", @service.id).each do |s| %>
      <p>
        <%= s.field_name %>
      </p>
  <% end %>

</div>




<% content_for :sidebar do %>
    <%= render :partial => "layouts/show_service_menu" %>
<% end %>
