<% require_stylesheet 'services.css' %>


<h1 class="page-content corners-top">
  <%= @service.service_name %> Service 
</h1>
<div class="page-content corners-bottom">

  <span class="style2">Service Details </span> <br/>

  <br/>
  <strong>Service Type:</strong>
           <%= @service.type.type_name %><br/>

           <strong>Icon:</strong>
           <% if @service.icon_file_name != 'missing.png'%>

              <%= image_tag @service.icon.url(:small), :width =>  '65' %><br/>

           <%else%>

              <%= image_tag "/images/icons/services/types/default/missing.png", :width =>  '65' %><br/>

           <%end%>

           <br/>
           <strong>Published: </strong>
           <% if @service.published.to_s == "true" %>

              Yes

           <%else%>

              No

           <%end%><br/>

           <br/>



  <% Service::Field.find_all_by_field_category_and_service_id("Service Details", @service.id).each do |s| %>
      <p>

        <%= s.field_name %>:
        <%= Service::Field::Value.find_by_field_id(s.id).field_value %>
		
      </p>
  <% end %>

  <br/><span class="style2">Registration Details </span> <br/>


              <strong> First Name <br/>
              Last Name <br/>
              Email <br/>
              Phone Numbers <br/>
              Notes <br/>
              </strong>

              


  <% Service::Field.find_all_by_field_category_and_service_id("Registration Details", @service_type.id).each do |s| %>
      <p>
        <%= s.field_name %>
      </p>
  <% end %>

</div>


<% content_for :sidebar do %>
    <%= render :partial => "layouts/show_service_menu" %>
<% end %>
