<% require_stylesheet 'services.css'%>

<h1 class="page-content corners-top">
 Services Step 4
</h1>


<div class="page-content corners-bottom">



<br/>
<div class="content-services">

  <p class="left-align">

  <span class="style1">Finalize Service Creation - Summary </span><br/>
  <br/>
    <br/>
  <strong>Service Name :</strong> <%=@service.service_name%><br/>
  <strong>Service Type : </strong><%=@service.service_type%><br/>
  <strong>Icon:</strong><%= image_tag @service.icon.url, :width =>  '65' %><br/>
  <br/>
  <span class="style2">Service Details</span><br/>

    <%Service::Field.find_all_by_field_category_and_service_id("Details", @service.id).each do |s|%>

     <br/>

     <strong><%=s.field_name%></strong>:
        <%=Service::Detail.find_by_field_id_and_service_id(s.id,@service.id).field_value%>

     <br/>

  <%end%>

    <br/>
  <span class="style2">Registration Form Fields</span><br/>

     <%Service::Field.find_all_by_field_category_and_service_id("Registration",@service.id).each do |s|%>

     <br/>

     <strong><%=s.field_name%></strong>  <strong>(Field Type: <%=s.field_type%>)</strong>

     <br/>

  <%end%>
  </p>

<br/>

</div>
<div class="bottom-buttons">

  <%= om_button(:icon=>'next-step') do %>
    <%=button_to "Publish", finalize_services_url(:id => @service)%>

  <%end%>

  <%= om_button(:icon=>'cancel') do %>
    <%= button_to 'Cancel', @service, :confirm => 'Do You Want to Quit?', :method => :delete%>
  <%end%>

  <%= om_button(:icon=>'prev-step') do %>
    <%= button_to 'Back', service_wizard_services_url(:step => 3, :id => @service)%>
  <%end%>
</div>
</div>



</div>
