<%= content_for :explanation do %>
    <%= render :partial => 'services/partials/steps' %>
<% end %>

<%= render :layout => 'layouts/services_wizard' do %>
    <%= form_tag :action=> 'create' do %>
        <ul id="service_types">
          <% @service_types.each do |s| %>
              <li>
                <%= radio_button 'service_library', 'service_type', s.service_type %>
                <%= s.service_type %>                 
              </li>
          <% end %>
        </ul>
        <div class="bottom-buttons">
          <%= om_button(:icon=>'back') do %>
              <%= link_to 'Back', service_wizard_services_url(:step => 'introduction') %>
          <% end %>
          <%= om_button(:icon=>'next') do %>
              
              <%= submit_tag 'Next' %>
          <% end %>
          <%= om_button(:icon=>'cancel') do %>
              <%= link_to 'Cancel', @service, :confirm => 'Are You Sure?', :method => :delete %>
          <% end %>

        </div>
    <% end %>
<% end %>
