<% require_stylesheet 'omega_form_builder.css' %>
<%= content_for :explanation do %>
    <%= render :partial => 'services/partials/steps' %>
<% end %>
<%= render :layout => 'layouts/services_wizard' do %>
    <%= form_for @service, :html => {:id =>'edit-service' , :action => "service_wizard" } do |f| %>
        <%= errors_for_form(@service, 'service') %>
        <% if @service.icon_file_name != 'missing.png' %>
            <%#= image_tag @service.icon.url(:small), :width =>  '65' %><br/>
        <% else %>
            <%#= image_tag "/images/icons/services/types/default/missing.png", :width =>  '65' %><br/>
        <% end %>
        <%= f.hidden_field :service_type %>
        <%= f.hidden_field :icon %>
        <%= f.hidden_field :published %>

        <fieldset>
          <legend><%= @service.service_type %></legend>
          <p>
            <%= f.label :category %>
            <%= @service.service_category %>
          </p>

          <ul id="service-details" class="elements-list">
            <li class="list-item relative">
              <div class="item-list-actions-wrapper corners">
                <div class="item-list-actions">
                    <span class="om-plain-icon-button"><span class="om-icon om-icon-edit"></span>
                    <span class="edit-ui-em">Edit this Field</span> </span>
                </div>
              </div>
              <div id="<%= "ui-em-#{rand(1000)}" %>" class="ui-em-preview" ui-data="textfield">
                <%= f.label :name_for_service, :id =>'service-name' %>
                <span class="field-value-preview">
            <%= @service.service_name %>
            </span>
                <%= f.hidden_field :service_name, :class=>'field-value' %>
              </div>
            </li>
            <li class="list-item relative">
              <div class="item-list-actions-wrapper corners">
                <div class="item-list-actions">
                    <span class="om-plain-icon-button"><span class="om-icon om-icon-edit"></span>
                    <span class="edit-ui-em">Edit this Field</span> </span>
                </div>
              </div>
              <div id="<%= "ui-em-#{rand(1000)}" %>" class="ui-em-preview" ui-data="textfield">
                <%= f.label :description, :id => "service-description" %>
                <span class="field-value-preview">
            <%= @service.description %>
            </span>

                <%= f.hidden_field :description, :class=>'field-value' %>
              </div>
            </li>



            <% unless @details.empty? %>

                <% @details.each_with_index do |detail, index| %>
                    <% @field =  Service::Field.find_by_id_and_field_category(detail.field_id, "Service Details") %>

                        <%= render "form_builder/partials/#{@field.field_type_class}", :index => @field.id %>

                   


                <% end %>
            <% end %>


          </ul>

        </fieldset>

        <fieldset>
          <legend>Registration Details</legend>


          <ul id="registration-details" class="elements-list">


            <% if @service.service_category.eql?("Enrollable") %>
                <li class="list-item">
                  <label>First Name</label><input type="text" disabled="disabled">
                </li>
                <li class="list-item"><label>Last Name</label><input type="text" disabled="disabled"></li>
                <li class="list-item"><label>Email</label><input type="text" disabled="disabled"></li>
                <li class="list-item"><label>Phone</label><input type="text" disabled="disabled"></li>
                <li class="list-item">
                  <label>Notest</label><textarea disabled="disabled"></textarea></li>


            <% else %>

                <strong>
                  Email <br/>
                  Phone Numbers <br/>
                  Notes <br/>
                  Questions <br/>


                </strong>

            <% end %>
          </ul>

          <% unless @registration_fields.empty? %>

              <% @registration_fields.each_with_index do |field, index| %>

                  <%= f.fields_for "fields_attributes[#{index}]", field do |ff| %>

                      <%= ff.hidden_field :id %>

                      <%= ff.hidden_field :service_id %>
                      <%= ff.hidden_field :field_category %>

                      <strong><%= field.field_name %> </strong>


                  <% end %>
              <% end %>
          <% end %>


        </fieldset>


        <div class="bottom-buttons">

          <%= om_button(:icon=>'back') do %>
              <%= link_to 'Back', service_wizard_services_url(:step => 1) %>
          <% end %>
          <%= om_button(:icon=>'save') do %>
              <%= f.submit "Save", :name => "save" %>
          <% end %>

          <%= om_button(:icon=>'next') do %>
              <%= f.submit "Next", :name => "next" %>
          <% end %>

          <%#= om_button(:icon=>'cancel') do %>
          <%#= link_to 'Cancel', @service, :confirm => 'Do You Want to Quit?', :method => :delete %>
          <%# end %>




    <% end %>
    </div>





<% end %>
<div id="form-builder">

</div>

<% content_for :sidebar do %>
    <%= render :partial => "layouts/sidebar_form_builder_elements" %>
    <%= render :partial => "layouts/sidebar_form_builder_edit" %>
<% end %>