<% require_stylesheet 'services.css'%>


<div class="wrapper-services">


<div class="container">
  <div class="steps">
    <div class="step3"></div>
  </div>

<div class="content-services" >

<%= form_for @service, :action => "service_wizard" do |f| %>
      <%= errors_for_form(@service, 'service') %>

      <div>
        <p class="left2">

        <span class="style3">Customize Your Service Details</span> <br/>
        <br/>
        <strong>Service Type:</strong>
        <%=@service.service_type%><br/>
        <%=f.hidden_field :service_type %>

        <strong>Icon:</strong>
        <%= image_tag @service.icon.url(:small), :width =>  '65' %><br/>
        <%=f.hidden_field :icon %>
        <%=f.hidden_field :published %>

        <strong>Category:</strong>
         <%=@service.service_category%><br/>

        <br/>
         </p>

      </div>

      <div class="split-line">
        <p class="left2">
         <strong>Enter a Name for your <%=@service.service_type%> Service</strong> <br/>

        <br/>

        <%=f.text_field :service_name %><br/>

        <br/>
        <strong>Describe Your Service</strong> <br/>

        <%=f.text_area :description, :value => @service.description %><br/>

         <% unless @details.empty? %>
         <%@details.each_with_index do |detail, index|%>
            <%=f.fields_for "details_attributes[#{index}]", detail do |ff|%>

              <%= ff.hidden_field :id %>

               <%= ff.hidden_field :service_id %>
               <%= ff.hidden_field :field_id%>

              <p class="left-align">
               <strong><%=Service::Field.find_by_id(detail.field_id).field_name %></strong>
               <%= ff.text_field :field_value%>
              </p>
            <%end%>
         <%end%>
         <%end%>
        <%= render 'add_field_link',:index => @service.fields.size  %>

      <div id="service_details_fields">

      </div>
  </div>


<div class="bottom-buttons">


  <div class="button-first">
     <%=f.submit "Save"%>
  </div>

   <div class="button-next">
     <%=f.submit "Proceed"%>
  </div>

  <div class="button-next">
    <%= link_to 'Cancel', @service, :confirm => 'Do You Want to Quit?', :method => :delete%>
  </div>


  <div class="button-next">
    <%= link_to 'Back', service_wizard_services_url(:step => 1, :id => @service)%>
  </div>

<%end%>
</div>
</div>

</div>

</div>