<% require_stylesheet 'omega_form_builder.css' %>

<%= render :layout => 'layouts/services_wizard' do %>
<%- title "Omega Services - Create Service Wizard: Step 2" %>

		<div class="steps">		
		   <%= render :partial => 'services/partials/service_steps' %>
		</div>
   <div id="service_preview_summary" >		
    <%= form_for @service, :html => {:id =>'edit-service' , :action => "service_wizard" } do |f| %>
        <% if @service.icon_file_name != 'missing.png' %>
            <%#= image_tag @service.icon.url(:small), :width =>  '65' %><br/>
        <% else %>
            <%#= image_tag "/images/icons/services/types/default/missing.png", :width =>  '65' %><br/>
        <% end %>

        <fieldset class="services">
          <legend class="services">Service Details</legend>

          <ul id="service-details" class="elements-list">

           <li class="list-item"> <%= f.label "Service type" %>
            <%= @service.type.type_name %> </li>

           <li class="list-item">  <%= f.label :name_for_service, :id =>'service-name' %>
             <%= f.text_field :service_name, :class=>'field-value'%> </li>


           <li class="list-item">  <%= f.label :description, :id => "service-description" %>
             <%= f.text_area :description, :class=>'field-value' %> </li>
              

            <% unless @details.empty? %>
                <% @details.each_with_index do |detail, index| %>
                    <% @field =  Service::Field.find(detail.field_id) %>
                        <% if @field.field_category == "Service Details"%>
                        <%= render "form_builder/partials/service/#{@field.field_type_class}", :index => @field.id %>
                        <%end%>
                <% end %>
            <% end %>
            
          </ul>
        </fieldset>
 		<fieldset class="services">
          <legend class="services">Registration Details</legend>
          <ul id="registration-details" class="elements-list">
                <li class="list-item">
                  <label>First Name</label><input type="text" disabled="disabled">
                </li>
                <li class="list-item"><label>Last Name</label><input type="text" disabled="disabled"></li>
                <li class="list-item"><label>Email</label><input type="text" disabled="disabled"></li>
                <li class="list-item"><label>Phone</label><input type="text" disabled="disabled"></li>
                <li class="list-item">
                
                <label>Notes</label><textarea disabled="disabled"></textarea></li>
                
    
          
          
          <% unless @registration_fields.empty? %>
              <% @registration_fields.each_with_index do |field, index| %>
                        	<%= render "form_builder/partials/service/registration/#{field.field_type_class}", :index => field.id, :field => field %>
              <% end %>
          <% end %>
          
                </ul>
        </fieldset>
        
        <div id="buttons_wizard">
          <%= om_button(:icon=>'back', :small => true) do %>
              <%= link_to 'Back', service_wizard_services_url(:step => 1) %>
          <% end %>
          <%= om_button(:icon=>'next') do %>
              <%= f.submit "Next", :name => "next" %>
          <% end %>
  <br/>
          <%#= om_button(:icon=>'cancel') do %>
          <%#= link_to 'Cancel', @service, :confirm => 'Do You Want to Quit?', :method => :delete %>
          <%# end %>
        </div>
         </div>

 		
          <% end %>
  
<% end %>
  
  
<%# content_for :sidebar do %>
    <%#= render :partial => "layouts/sidebar_form_builder_elements" %>
    <%#= render :partial => "layouts/sidebar_form_builder_edit" %>
<%# end %>
