<% require_javascript 'service_wizard.js' %>
<% require_stylesheet 'omega_services.css' %>
<%= content_for :explanation  do %>
    <%= render :partial => 'services/partials/steps' %>
<% end %>
<h1 class="page-content corners-top">
  Create a Service Wizard - Step <%= params[:step] || 'introduction' %>
</h1>
<div class="page-content corners-bottom">


  <p>
    <span class="first-l">T</span>he Add a Service Wizard allows you to add a service from a list
    of sample services in the library. This page introduces you to the
    steps involved in this process.
  </p>

  <p>
    <span class="first-l">W</span>hat do I do next?
    When you are ready to continue, press the Next button to continue on to
    the Select Service Type Page. If you would like to exit the Wizard without
    creating a new Service, press the Cancel button.
  </p>

  <p>
    <span class="first-l">H</span>ow did I get here?
    The Add a Service Wizard: Introduction Page appears when you select
    to add a service using a Wizard. The panel on the right gives an overview of each step in the process.
  </p>


  <%= om_button(:icon=>'next') do %>
      <%= button_to 'Next', service_wizard_services_url(:step => '1') %>
  <% end %>

</div>








