<% require_stylesheet 'omega_services' %>
<% require_javascript 'omega_services' %>

 <div class="content circle-corners-bottom-left">
    	
		<div class="heading-main-columns">
	
				<h1 class="page-content">
      				All Created Types
		    	</h1>
	
		</div>
  <br/>
  <br/>
  <% if @types.empty?%>
  	   <p>
  	   	No Service Type has been created yet! <br/><br/>
  	   	
		<%= with_permission(Volunteering::PERM_ADMIN) do %>
          <%= om_button(:contact => true, :icon => 'clock') do %>
  	   	  <%= link_to 'Create a New Type', service_wizard_service_types_url(:step => "introduction") %>
          <% end %>
         <% end %>
  	   	
  	   </p>
  <%else%>
      <div class="right">
      	<br/>
        <%= om_button(:icon=>'sort-az', :small => true) do %>
            <%= link_to 'sort A-Z', url_for(params.merge(:name => 'asc')) %>
        <% end %>
        <%= om_button(:icon=>'sort-za', :small => true) do %>
            <%= link_to 'sort Z-A', url_for(params.merge(:name => 'desc')) %>
        <% end %>

      </div>

  <div class="clear"></div>
 
  <ul id="positions_list">
    <% @types.each do |s| %>
        <li >
          <div class="position_slider">
            <div class="position_actions">
              <% if !current_user.is_anonymous? %>
                  <%= om_button(:plain => true, :icon => 'delete') do %>
                      <%= link_to 'Delete', service_type_url(:id => s), :remote => true, :method => :delete, :'data-tooltip' => 'Delete this Service' %>
                  <% end %>
              <% end %>

              <% if s.published == true %>

                  <% if Service::Registration.find_by_contact_id_and_service_id(Contact.for(current_user), s).nil? %>
                      <%= om_button(:plain => true, :icon => 'apply') do %>
                      
                      <%= link_to "Create a Service", new_service_service_registration_url(s), :'data-tooltip' => 'register for this position' %>

                  <% end %>
              <% end %>

              <%else%>

               <%= om_button(:plain => true, :icon => 'apply') do %>
                  <%= link_to "Publish", finalize_service_types_url(:id => s), :'data-tooltip' => 'publish this position' %>
               <%end%>
              <%end%>
              <%= toggle_favorite(s) if !current_user.is_anonymous? %>
            </div>
          </div>
          <div class="position">
            <div class="position-wrapper">

              <h2>
               


                    <%= link_to s.type_name, service_types_url(s) %>


              </h2>

              <p>
                <%= s.service_type %> Service
                <%= s.description%>
              </p>

            </div>
          </div>

        </li>

    <% end %>
  </ul>
  
  <%end%>
</div>
<%#= will_paginate @types %>



<% content_for :sidebar do %>
    <%= render :partial => "layouts/services_menu" %>
<% end %>
