<% require_stylesheet 'omega_form_builder.css' %>

<%= render :layout => 'layouts/services_wizard' do %>
<%- title "Omega Services - Create Service Type Wizard: Step 3" %>

		<div class="steps">		
		   <%= render :partial => 'services/partials/steps' %>
		</div>
  
   <div id="service_preview_summary" >		
    <%= form_for @service_type, :html => {:id =>'edit-service' , :action => "service_wizard" } do |f| %>
        <%= errors_for_form(@service_type, 'service') %>
        <% if @service_type.icon_file_name != 'missing.png' %>
            <%#= image_tag @service.icon.url(:small), :width =>  '65' %><br/>
        <% else %>
            <%#= image_tag "/images/icons/services/types/default/missing.png", :width =>  '65' %><br/>
        <% end %>
        <%= f.hidden_field :service_type %>
        <%= f.hidden_field :icon %>
        <%= f.hidden_field :published %>
             <fieldset class="services">
          <legend class="services">Service Details</legend>

          <ul id="service-details" class="elements-list">

           <li class="list-item"> <%= f.label :type_template %>
            <%= @service_type.type_name %> </li>

           <li class="list-item">  <%= f.label :name_for_service, :id =>'service-name' %>
             <%= f.text_field :type_name, :class=>'field-value'%> </li>


           <li class="list-item">  <%= f.label :description, :id => "service-description" %>
             <%= f.text_area :description, :class=>'field-value' %> </li>

                <% unless @details.empty? %>
                	<% @details.each_with_index do |detail, index| %>
                    	<% @field =  Service::TypeField.find(detail.type_field_id) %>
                    	   <% if @field.field_category == "Service Details"%>

                        	<%= render "form_builder/partials/#{@field.field_type_class}", :index => @field.id %>
                        	
                           <%end%>
                		<% end %>
                <% end %>
          </ul>
        </fieldset>
        <fieldset class="services">
          <legend class="services">Registration Details</legend>
          <ul id="registration-details" class="elements-list">
                <li class="list-item">
                  <label>First Name</label><input type="text" disabled="disabled">
                </li>
                <li class="list-item"><label>Last Name</label><input type="text" disabled="disabled"></li>
                <li class="list-item"><label>Email</label><input type="text" disabled="disabled"></li>
                <li class="list-item"><label>Phone</label><input type="text" disabled="disabled"></li>
                <li class="list-item">
                
                <label>Notes</label><textarea disabled="disabled"></textarea></li>
                
    
          
          
                
    
                   
          <% unless @registration_fields.empty? %>
              <% @registration_fields.each_with_index do |field, index| %>
                        	<%= render "form_builder/partials/registration/#{field.field_type_class}", :index => field.id, :field => field %>
              <% end %>
          <% end %>
          
          
                </ul>
        </fieldset>
        <div class="buttons_wizard">
          <%= om_button(:icon=>'back') do %>
              <%= link_to 'Back', service_wizard_service_types_url(:step => 2) %>
          <% end %>

           <%= om_button(:icon=>'save') do %>
              <%= link_to  "Publish", finalize_service_types_url(:id => @service_type)%>
          <% end %>

        </div>
    <% end %>
    
<% end %>
