<% require_stylesheet 'omega_form_builder.css' %>

<%= render :layout => 'layouts/services_wizard' do %>

		<div class="steps">		
		   <%= render :partial => 'services/partials/steps-columns' %>
		</div>
   <div id="service_preview-columns" >		
    <%= form_for @service_type, :html => {:id =>'edit-service' , :action => "service_wizard" } do |f| %>
        <% if @service_type.icon_file_name != 'missing.png' %>
            <%#= image_tag @service.icon.url(:small), :width =>  '65' %><br/>
        <% else %>
            <%#= image_tag "/images/icons/services/types/default/missing.png", :width =>  '65' %><br/>
        <% end %>
        <%= f.hidden_field :service_type %>
        <%= f.hidden_field :icon %>
        <%= f.hidden_field :published %>
        <fieldset class="services">
          <legend class="services">Service Details</legend>

          <ul id="service-details" class="elements-list">

           <li class="list-item"> <%= f.label :service_type %>
            <%= @service_type.type_name %> </li>

           <li class="list-item">  <%= f.label :name_for_service, :id =>'service-name' %>
             <%= f.text_field :type_name, :class=>'field-value'%> </li>


           <li class="list-item">  <%= f.label :description, :id => "service-description" %>
             <%= f.text_area :description, :class=>'field-value' %> </li>



            <% unless @details.empty? %>
                <% @details.each_with_index do |detail, index| %>
                    <% @field =  Service::TypeField.find(detail.type_field_id) %>
                        <%= render "form_builder/partials/#{@field.field_type_class}", :index => @field.id %>
                <% end %>
            <% end %>
          </ul>
        </fieldset>
        <fieldset class="services">
          <legend class="services">Registration Details</legend>
          <ul id="registration-details" class="elements-list">
                <li class="list-item">
                  <label>First Name</label><input class= "service" type="text" disabled="disabled">
                </li>
                <li class="list-item"><label>Last Name</label><input class= "service" type="text" disabled="disabled"></li>
                <li class="list-item"><label>Email</label><input class= "service" type="text" disabled="disabled"></li>
                <li class="list-item"><label>Phone Number</label><input class= "service" type="text" disabled="disabled"></li>
                <li class="list-item">
                  <label>Notes</label><textarea disabled="disabled"></textarea>
                </li>
                <li class="list-item">
                  <label>Questions</label><textarea disabled="disabled"></textarea>
                </li>
            
          </ul>
          <% unless @registration_fields.empty? %>
              <% @registration_fields.each_with_index do |field, index| %>
                  <%= f.fields_for "fields_attributes[#{index}]", field do |ff| %>
                      <%= ff.hidden_field :id %>
                      <%= ff.hidden_field :service_id %>
                      <%= ff.hidden_field :field_category %>
                      <strong><%= field.field_name %> </strong>
                  <% end %>
              <% end %>
          <% end %>
        </fieldset>
         </div>


 		<div id="buttons_wizard">
          <%= om_button(:icon=>'back', :small => true) do %>
              <%= link_to 'Back', service_wizard_service_types_url(:step => 1) %>
          <% end %>
          <%= om_button(:icon=>'next') do %>
              <%= f.submit "Next", :name => "next" %>
          <% end %>
  
          <%#= om_button(:icon=>'cancel') do %>
          <%#= link_to 'Cancel', @service, :confirm => 'Do You Want to Quit?', :method => :delete %>
          <%# end %>
    </div>
          <% end %>
  
<% end %>
  
  
<% content_for :sidebar do %>
    <%= render :partial => "layouts/sidebar_form_builder_elements" %>
    <%= render :partial => "layouts/sidebar_form_builder_edit" %>
<% end %>
