    <ul id="wizard-intro">
      <li class="relative<%= ' active' if params[:step] == '1' %>">
        <div class="step-nail step-1<%= '-active' if params[:step] == '1' %>"></div>
       <h3>Choose your type of service</h3>
       Choose one service out of the available service types
      </li>
       <li class="relative<%= ' active' if params[:step] == '2' %>">
        <div class="step-nail step-2<%= '-active' if params[:step] == '2' %>"></div>
        <h3>Customize the chosen service</h3>
       Add and remove informations that you want to provide
      </li>
      <li class="relative<%= ' active' if params[:step] == '3' %>">
        <div class="step-nail step-3<%= '-active' if params[:step] == '3' %>"></div>
        <h3>Finalize</h3>
       Review your service and publish it
      </li>
</ul>
  <div class="clear"></div>