<% require_stylesheet 'settings' %>


<div class="content circle-corners-bottom-left">
    	
		<div class="heading-main">
	
				<h1 class="page-content">
      				Update Logo
		    	</h1>
	
		</div>

 <div id="main-box">
 	
	<div class="bg-box box-shadow corners-bottom corners-top">
		
		<%= form_for @logo, :html => { :multipart => true } do |f| %>
 		
		<p>
 			<br/>
			<br/>
			<%= f.label "Logo File" %> 
			<%= f.file_field :image%> 
					<!--<p>
						<%#= f.label "Use this photo as:" %> 
							Logo <%#= f.radio_button :banner_or_logo, 'Logo', :checked => TRUE %> 
							Banner <%#= f.radio_button :banner_or_logo, 'Banner', :checked => FALSE %>
					</p> !-->
    	</p>

	</br></br>
	<h2> Or choose an existing image: </h2>

		<p>
			<% Image.all.each do |i| %> 

				<% if (!i.image.url.blank? and !i.image_content_type.nil? and i.image.exists?) then %>
					<% url = i.image.url %>
					<p>
						 <div class="image-library-left">
	 	 					<div id="logo" style="background:url(<%=url%>) no-repeat left scroll transparent" >
 							</div>

							<p>
								<%= f.label "Select this photo:" %> 
								<%= f.radio_button :id,  i.id, :checked => FALSE %>
							</p>

 						</div>
					</p>

						<!--
					<p>
						<%#= f.label "Use this photo as:" %> 
							Logo <%#= f.radio_button :banner_or_logo, 'Logo', :checked => TRUE %> 
							Banner <%#= f.radio_button :banner_or_logo, 'Banner', :checked => FALSE %> 
					</p>
						!-->
					</br></br>
				<% end %>
			<% end %>
		</p>


		<p>
		    <%= om_button(:icon => 'apply') do %>
            <%= f.submit 'Update' %>
     		<% end %>
		</p>
	
	 	<%end%>
	 
	</div>
	
 </div>
 
 </div>
