<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title><%= @title || "Omega Accounts Portal" %></title>

    <%= stylesheet_link_tag    "share","account" %>
    <%= javascript_include_tag "share","account" %>
    <%= csrf_meta_tags %>
    <%= flash_session_meta_tag %>
    <!--[if IE]>
      <%= stylesheet_link_tag "ie" %>
    <![endif]-->

    <script type="text/javascript">
      //bind ajax csrf token for ajax post requests
      $(function(){
        var ajax_csrf_token = '<%= session[:ajax_csrf_token] %>';
        $("body").bind("ajaxSend", function(elm, xhr, s){
           if (s.type != "GET") {
              xhr.setRequestHeader('ajax_csrf_token', ajax_csrf_token);
           }
        });
      })
    </script>
  </head>

  <body id="account_page_body">
    <div id="main_div" class="round">
      <div id="header">Omega Accounts Portal</div>
      <div id="nav"><!-- place holder --> </div>
      <div id="content">
        <%if flash[:notice] -%>
          <div id="notice"><%= flash[:notice]%></div>
        <%end -%>
        <%= yield %>
        <br clear="all"/>
      </div>
    </div>
  </body>
</html>

