<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<!--  <title><%#= "#{params[:controller] } #{controller.action_name}" %> </title> -->

  <title><%= content_for?(:title) ? content_for(:title) : "Omega" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "ui_util.js", "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    //bind ajax csrf token for ajax post requests
    $(function(){
      var ajax_csrf_token = '<%= session[:ajax_csrf_token] %>';
      $("body").bind("ajaxSend", function(elm, xhr, s){
         if (s.type != "GET") {
            xhr.setRequestHeader('ajax_csrf_token', ajax_csrf_token);
         }
      });
    })
    var account_name = '<%= Account.current.name %>'
    var account_prefix_path = ''
    if(account_name.length>0)
      account_prefix_path = '/'+account_name
  </script> 

  <%# require_stylesheet 'application_evergreen', 'thirdParty/jquery-ui-1.8.4.custom' %>
  <%# require_javascript 'thirdParty/jquery', 'thirdParty/jquery-ui', 'thirdParty/jquery.tipsy', "rails", 'application', 'thirdParty/jquery.dataTables.min.js' %>
  <%#= csrf_meta_tag %>
  <%= flash_session_meta_tag %>
  <!--[if IE]>

            <%= stylesheet_link_tag "ie" %>
        <![endif]-->
</head>
<body>
<div id='test_image'></div>
<div id="notification-flash-wrapper">
  <div id="notification-flash" class="center-content corners-top corners-bottom">   
  </div>
</div>

<div id="wrapper">
  <%= render :partial => "layouts/head" %>

  <div id="sap-logo">
  </div>


   <div id="content_box">
    <%= render(:layout => "layouts/columns") do
        render(:layout => "layouts/sub_layout", :locals => {:sub_layout => sub_layout}) do
            yield
        end
    end %>

   </div>
</div>


<div id="banner_wrapper">
    <div id="banner-left">
	<%= image_tag 'logo.png', :id => 'logo'%>
    </div>
 	<div id="banner-right" >
		<h1> Omega Non-Profit Portal </h1>		  	
	</div>
</div>


<%= render :partial => "layouts/footer" %>


<script type="text/javascript">
  <% if flash[:error] %>
    dialog_message('general_message', 'Not able to process', '<p><%= flash[:error] %></p>', {width:300})
  <% end %>
</script>



</body>

</html>

